{%- liquid
    assign item = cart-item
    if item.properties['_gwp'] == true or item.properties['_gwp'] == 'true'
        assign gwpItem = true
        assign imgHeight = '100'
    else
        assign gwpItem = false
        assign imgHeight = '133.33'
    endif
-%}
<div class="cart__item{% if gwpItem %} cart__item--gwp{% endif %}"
    data-id="{{ item.product.id }}"
    data-handle="{{ item.product.handle }}"
    data-variant="{{ item.variant.id }}"
    data-key="{{ item.key }}"
    {% if item.properties['_final-sale'] == 'true' or item.properties['_final-sale'] == true %} data-final{% endif %}
    {% if item.properties['_preorder'] != blank and item.properties['_preorder'] != false and item.properties['_preorder'] != 'false' %} data-preorder="{{ item.properties['_preorder'] }}"{% endif %}
    >
    <div class="cart__item-image">
        <a href="{{ item.product.url }}/{{ item.variant.option1 | handleize }}{%- if item.variant.option2 != false and item.variant.option2 != blank -%}/{{ item.variant.option2 | handleize }}{%- endif -%}">
            {%- liquid
                if cart_page == true
                    assign sizes = '175px'
                    assign lazy = false
                    assign preload = true
                else
                    assign sizes = '125px'
                    assign lazy = true
                    assign preload = false
                endif
            -%}
            {% render 'image' with item.image, sizes: sizes, lazy: lazy, preload: preload, height: imgHeight %}
        </a>
    </div>
    <div class="cart__item-info">
        {%- unless gwpItem -%}
        <a href="{{ item.url_to_remove }}" class="cart__item-remove" title="Remove"><img loading="lazy" src="{{ 'icon-rubbish.svg' | asset_url }}" alt="Remove" width="17" height="17"></a>
        {%- endunless -%}

        <div class="cart__item-title">{{ item.product.title | replace: ' - Final', '' | replace: ' - FW', '' | escape }}</div>

        <div class="cart__item-description"></div>

        {% unless gwpItem %}
            <div class="cart__item-price-row">
                <div class="cart__item-price" data-price="{{ item.variant.price }}">
                    {%- liquid
                        if item.variant.compare_at_price > item.variant.price and item.variant.compare_at_price != blank
                            assign compare_at_price = item.variant.compare_at_price | times: item.quantity
                        else
                            assign compare_at_price = item.original_line_price
                        endif
                    -%}
                    {%- if compare_at_price > item.final_line_price -%}
                    <s>{{- compare_at_price | money_without_trailing_zeros -}}</s>
                    {%- endif -%}
                    <b>{{- item.final_line_price | money_without_trailing_zeros -}}</b>
                </div>
                <div class="cart__item-qty qty-selector">
                    {%- if item.properties['_gwp'] != 'true' -%}
                        <button aria-label="Reduce product quantity" class="qty-button qty-button--less" title="Less">Less</button>
                        <input type="text" name="qty" readonly="readonly" value="{{ item.quantity }}" autocomplete="off">
                        <button aria-label="Increase product quantity" class="qty-button qty-button--more" title="More">More</button>
                    {%- else -%}
                        <input type="text" name="qty" readonly="readonly" value="{{ item.quantity }}" autocomplete="off">
                    {%- endif -%}
                </div>
            </div>
            
            {%- if item.product.handle != 'gift-card' -%}
                {%- if item.variant.option1 != blank -%}
                <div class="cart__item-option cart__item-option--1">{{- item.variant.option1 | downcase | escape -}}</div>
                {%- endif -%}

                {%- if item.variant.option2 != blank -%}
                <div class="cart__item-option cart__item-option--2">{{- item.variant.option2 | downcase | escape -}}</div>
                {%- endif -%}
            {%- endif -%}
        
            {%- if item.properties['_final-sale'] == 'true' or item.properties['_final-sale'] == true -%}
                <div class="product-label product-label--final"><strong>This item is Final Sale</strong></div>
            {%- endif -%}

            {%- if settings.enable-save-for-later -%}
            <button aria-label="Remove from cart and add to wishlist" class="cart__item-wishlist" title="Remove and add to Wishlist">
                <img width="18" height="18" src="{{ 'icon-wishlist-arrow.svg' | asset_url }}" loading="lazy" alt="Wishlist">
                {{- settings.save-for-later-text | strip_html | escape -}}
            </button>
            {%- endif -%}
        {% endunless %}
    </div>
</div>