{%- liquid
    assign item = cart-item
    if item.properties['_gwp'] == true or item.properties['_gwp'] == 'true'
        assign gwpItem = true
        assign imgHeight = '100'
    else
        assign gwpItem = false
        assign imgHeight = '133.33'
    endif
-%}
<li class="cart__item{% if gwpItem %} cart__item--gwp{% endif %} {%- if item.properties['_gift'] == 'true' -%}cart__item--gift{%- endif -%}"
    data-id="{{ item.product.id }}"
    data-handle="{{ item.product.handle }}"
    data-variant="{{ item.variant.id }}"
    data-key="{{ item.key }}"
    {% if item.properties['_final-sale'] == 'true' or item.properties['_final-sale'] == true %} data-final{% endif %}
    {% if item.properties['_preorder'] != blank and item.properties['_preorder'] != false and item.properties['_preorder'] != 'false' %} data-preorder="{{ item.properties['_preorder'] }}"{% endif %}
     role="group" aria-label="cart product item">
    <div class="cart__item-image">
        <a href="{{ item.product.url }}/{{ item.variant.option1 | handleize }}{%- if item.variant.option2 !=false and item.variant.option1 == 'size' and item.variant.option2 != blank -%}/{{ item.variant.option2 | handleize }}{%- endif -%}">
            {%- liquid
                if cart_page == true
                    assign sizes = '175px'
                    assign lazy = false
                    assign preload = true
                else
                    assign sizes = '125px'
                    assign lazy = true
                    assign preload = false
                endif
            -%}
            {% render 'image' with item.image, sizes: sizes, lazy: lazy, preload: preload, height: imgHeight %}
        </a>
    </div>
    <div class="cart__item-info">

        {%- if item.properties['_gift'] == 'true' -%}
        <span class="cart__item-gift-badge">Free gift</span>
        {%- endif -%}



        <a href="{{ item.url_to_remove }}" class="cart__item-remove" title="Remove"><img loading="lazy" src="{{ 'icon-rubbish.svg' | asset_url }}" alt="Remove" width="17" height="17"></a>


        <h3 class="cart__item-title">
            {{ item.product.title | replace: ' - Final', '' | replace: ' - FW', '' | escape }}
            {% if gwpItem and item.quantity > 1 %}x {{ item.quantity }}
            {% endif %}
        </h3>

        <h3 class="cart__item-description"></h3>

        {% unless gwpItem %}
            <div class="cart__item-price-row">
                <div class="cart__item-price" data-price="{{ item.variant.price }}">
                    {%- liquid
                        if item.variant.compare_at_price > item.variant.price and item.variant.compare_at_price != blank
                            assign compare_at_price = item.variant.compare_at_price | times: item.quantity
                        else
                            assign compare_at_price = item.original_line_price
                        endif
                    -%}
                    {%- if compare_at_price > item.final_line_price -%}
                        <span class="sr-only">Original price: </span>
                        <s>{{- compare_at_price | money_without_trailing_zeros -}}</s>
                        <span class="sr-only">Current price: </span>
                    {%- endif -%}
                    <b>{{- item.final_line_price | money_without_trailing_zeros -}}</b>
                </div>

            </div>

            {%- if item.product.handle != 'gift-card' -%}
                {%- if item.variant.option1 != blank -%}
                <div class="cart__item-option cart__item-option--1">{{- item.variant.option1 | downcase | escape -}}</div>
                {%- endif -%}

                {%- if item.product.metafields.product.size-label != blank -%}
                    <div class="cart__item-option cart__item-option--2" style="text-transform: none;">{{ item.product.metafields.product.size-label | downcase | escape | replace: 'luggage height:', ''}}</div>
                {% elsif item.variant.option2 != blank and item.product.metafields.product.size-label == blank %}
                    <div class="cart__item-option cart__item-option--2">{{- item.variant.option2 | downcase | escape -}}</div>
                {% else %}
                    <div class="cart__item-option cart__item-option--2" style="text-transform: none;">{{ item.product.metafields.product.size-label | downcase | escape | replace: 'luggage height:', ''}}</div>
                {%- endif -%}
            {%- endif -%}

            {% if item.properties['_preorder'] != blank and item.properties['_preorder'] != false and item.properties['_preorder'] != 'false' %}
                <div class="cart__item-preorder">Expected to ship <span>{{ item.properties['_preorder'] | escape }}</span></div>
            {% endif %}

            {%- if item.properties['_gift'] == 'true' -%}

                <div
                    data-suffix="{{ item.product.template_suffix }}"
                    data-handle="{{ item.product.handle }}"
                    data-id="{{ item.product.id }}"
                    data-variant="{{ item.variant_id }}"
                    class="slide product-unit{% if item.product.selected_or_first_available_variant.available == false %} product-unit--na{% endif %}{% if class != blank %} {{ class }}{% endif %}"
                    >
                    {%- for option in item.product.options_with_values -%}
                        {%- assign optionLow = option.name | downcase -%}

                        {%- if optionLow == 'color' -%}
                            <div data-position="{{ option.position }}"
                                class="product-unit__colors product-unit__colors--all"
                                data-count="0">
                                <div class="product-unit__colors-text">in <i>x</i> colors</div>
                                <div class="product-unit__swatches-container">
                                    <div class="product-unit__swatches swatches-container"></div>
                                </div>
                            </div>
                        {%- endif -%}
                    {%- endfor -%}
                    <a href="{{ item.product.url }}" class="product-unit__image product-link">
                        {%- liquid
                            if img_lazy == blank and img_lazy != false
                                assign img_lazy = true
                            else
                                assign img_lazy = false
                            endif

                            if img_preload == blank
                                assign img_preload = false
                            endif

                            if item.product.selected_or_first_available_variant.featured_image != blank
                                assign img = item.product.selected_or_first_available_variant.featured_image
                            else
                                assign img = item.product.featured_image
                            endif

                            render 'image' with img, lazy: img_lazy, preload: img_preload, no_wrapper: true, sizes: sizes
                        -%}
                    </a>
                </div>

                {%- comment -%}
                {%- render 'product-unit' with product, class: "slide product-unit--only-available", all_colors: true, add_to_cart: true, location: 'cart', sizes: '(min-width: 901px) 200px, (min-width: 551px) 265px, 50vw' -%}
                {%- render 'product-unit' with product, in_collection: section.settings.collection, class: "slide product-unit--only-available", all_colors: true, add_to_cart: true, location: 'cart', sizes: '(min-width: 901px) 200px, (min-width: 551px) 265px, 50vw' -%}
                {%- endcomment -%}

            {%- endif -%}


            {%- if item.properties['_final-sale'] == 'true' or item.properties['_final-sale'] == true -%}
                <div class="product-label product-label--final"><strong>This item is Final Sale</strong></div>
            {%- endif -%}

            {%- if settings.enable-save-for-later -%}
            <button class="cart__item-wishlist" title="Remove and add to Wishlist">
                <img width="18" height="18" src="{{ 'icon-wishlist-arrow.svg' | asset_url }}" loading="lazy" alt="">
                {{- settings.save-for-later-text | strip_html | escape -}}
            </button>
            {%- endif -%}
        {% endunless %}
        <div class="cart__item-qty qty-selector">
            {%- if item.properties['_gwp'] != 'true' -%}
                <button aria-label="Reduce product quantity" class="qty-button qty-button--less" title="Less">Less</button>
                <input type="text" name="qty" readonly="readonly" value="{{ item.quantity }}" autocomplete="off">
                <button aria-label="Increase product quantity" class="qty-button qty-button--more" title="More">More</button>
            {%- else -%}
                <input type="text" name="qty" readonly="readonly" value="{{ item.quantity }}" autocomplete="off">
            {%- endif -%}
        </div>
        {%- unless gwpItem -%}
        <button href="{{ item.url_to_remove }}" class="cart__item-remove" title="Remove"><img loading="lazy" src="{{ 'icon-rubbish.svg' | asset_url }}" alt="Remove" width="17" height="17"></button>
        {%- endunless -%}

    </div>
</li>