{%- form 'recover_customer_password', novalidate: 'novalidate' -%}
    {%- if form.posted_successfully? -%}
        <div class="customer__page-cta customer__page-cta--success">
            We have sent you an e-mail containing your password reset link and instructions. Follow the link to reset your password.
        </div>
    {%- endif -%}

    <input type="hidden" name="return_to" value="{{ routes.account_login_url }}#recover">

    <section class="field__list">
        <div class="field field--validated field--email">
            <label for="RecoverEmail">
                Email
            </label>  
            <input type="email"
            value=""
            class="field__input"
            name="email"
            id="RecoverEmail"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            {% if form.errors %}
                aria-invalid="true"
                aria-describedby="RecoverEmail-email-error"
                autofocus
            {% endif %}
            >
            <div class="field__error-message field__error-message--js">Please enter your email</div>
            {%- if form.errors contains 'form' -%}
            <div class="field__error-message">ERROR: This email doesn't exist in our database. <a href="{{ routes.account_register_url }}">Create an account</a></div>
            {%- endif -%}
        </div>

        <div class="field field--submit">
            <button aria-label="Log into user account" type="submit" class="button">
                <span>Submit</span>
            </button>
        </div>

        <div class="field field--forgot-cancel">
            <a href="{{ routes.account_url }}" class="forgot-pass__cancel">Cancel</a>
        </div>
    </section>
<script>
    const form = {{ form | json }};
    //const name = '{{ form.first_name }}';
    console.log(form);
//    console.log(name);
    </script>
{%- endform -%}