<section class="menu-popup menu-popup--discover" data-id="discover" aria-labelledby="discover-label" role="region">
    <div class="menu-popup__background"></div>
    <button aria-label="Close the Discover menu" class="menu-close menu-close--discover" title="Close"></button>
    <div class="menu-popup__content">
        <section class="menu-popup__main">
            {% if section.settings.discover-menu != blank %}
            <ul class="menu" role="tablist">
                {% for link in linklists[section.settings.discover-menu].links %}
                <li id="menu-item-tab__discover-{{ forloop.index }}" data-id="{{ forloop.index }}" class="menu-item" role="tab">
                    <a href="{{ link.url }}">{{ link.title | escape }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            <div class="articles__list">
                <div class="articles__list-title">
                    {{- section.settings.edits-title | escape -}}
                </div>
                <div class="article__cards">
                    {%- for block in section.blocks -%}
                        {%- unless block.type == 'edit' -%}{%- continue -%}{%- endunless -%}

                        <div class="article__card">
                            <div class="article__card-image">
                                {%- if block.settings.link != blank -%}
                                    <a href="{{ block.settings.link }}">
                                        {% render 'image' with block.settings.image, sizes: '20vw', height: '53.937', alt: 'Article card image' %}
                                    </a>
                                {%- else -%}
                                    {% render 'image' with block.settings.image, sizes: '20vw', height: '53.937', alt: 'Article card image' %}
                                {%- endif -%}
                            </div>
                            <h3 class="article__card-title">
                                {%- if block.settings.link != blank -%}
                                    <a href="{{ block.settings.link }}">
                                        {{- block.settings.edit-title | escape -}}
                                    </a>
                                {%- else -%}
                                    {{- block.settings.edit-title | escape -}}
                                {%- endif -%}
                            </h3>
                            <div class="article__card-description">{{- block.settings.description -}}</div>
                        </div>

                    {%- endfor -%}
                </div>
            </div>
        </section>
        <section class="menu-side">

            {%- assign media_num = 0 -%}
            {%- capture media_cells -%}
                {%- for block in section.blocks -%}
                    {%- liquid
                        unless block.type == 'discover-block'
                            continue
                        endunless

                        assign media_num = media_num | plus: 1

                        if block.settings.link-for-button or block.settings.button-url == blank
                            assign outsideLink = false
                        else
                            assign outsideLink = true
                        endif
                    -%}


                    {% if outsideLink %}<a href="{{- block.settings.button-url -}}"{% else %}<div{% endif %}
                        class="media-cell media-cell--color-{{ block.settings.text-color-scheme }} menu__dynamic-element menu__dynamic-element--active">
                        {%- liquid
                            assign alt = block.settings.block-title | default: block.settings.image.alt | default: block.settings.video.alt | default: 'Discover our recommendations'
                            if block.settings.image != blank
                                render 'image' with block.settings.image, sizes: '50vw', lazy: true, no_wrapper: true, alt: alt
                            endif

                            if block.settings.video != blank
                                assign ratio = false

                                if block.settings.video-ratio-w != blank and block.settings.video-ratio-h != blank
                                    assign ratio = block.settings.video-ratio-w | append: '/' | append: block.settings.video-ratio-h
                                endif

                                render 'video' with block.settings.video, no_wrapper: true, lazy: true, video_ratio: ratio, autoplay: true, loop: true, controls: false
                            endif
                        -%}

                        {%- if block.settings.block-title != blank -%}
                            <h3 class="media-cell__title">{{- block.settings.block-title | escape -}}</h3>
                        {%- endif -%}
                        
                        {%- if block.settings.description != blank -%}
                            <div class="media-cell__description">{{- block.settings.description -}}</div>
                        {%- endif -%}

                        {%- if block.settings.button-text != blank -%}
                            {% if outsideLink %}<span{% else %}<a href="{{- block.settings.button-url -}}"{% endif %}
                                class="button{% if block.settings.text-color-scheme == 'white' %} button--secondary{% endif %}">
                                <span>{{- block.settings.button-text -}}</span>
                            {%- if outsideLink -%}</span>{%- else -%}</a>{%- endif -%}
                        {%- endif -%}

                    {%- if outsideLink -%}</a>{%- else -%}</div>{%- endif -%}
                {%- endfor -%}
            {%- endcapture -%}

            <section data-num="{{- media_num -}}" class="media-grid">
                {{- media_cells -}}
            </section>
        </section> 
    </div>
</section>