<div class="holiday-banner-dates">
    <div class="page-width">
      <div class="holiday-banner-date">
        <div class="date-box">
          <div class="date-box-month">Dec</div>
          <div class="date-box-day">13</div>
        </div>
        <div class="banner-date-text">
            <strong>12pm PST</strong>
            Last day for Standard Ground<br>Shipping 
        </div>
      </div>
      <div class="holiday-banner-date">
        <div class="date-box">
          <div class="date-box-month">Dec</div>
          <div class="date-box-day">20</div>
        </div>
        <div class="banner-date-text">
          <strong>12pm PST</strong>
          Last day for 2-day shipping
        </div>
      </div>
    </div>
</div>
<style>
body .holiday-banner-dates {
    background: {{ section.settings.holiday-banner-background }};
    color: {{ section.settings.holiday-banner-color }};
}

.date-box-day {
    background: {{ section.settings.holiday-banner-background }};
}

.date-box-month {
    background: {{ section.settings.holiday-banner-color }};
}

.date-box {
    border-color: {{ section.settings.holiday-banner-color }};
}

.holiday-banner-date.inactive .banner-date-text {
    text-decoration: line-through;
}
</style>