{%- assign block = mobile-menu-media -%}

<li class="slide-menu-item slide-menu-item--media " role="tab">
    {%- unless block.settings.link-for-button -%}
    <a href="{{- block.settings.link -}}">
    {%- endunless-%}

    {%- render 'image' with block.settings.image, lazy: true, sizes: '100vw' -%}

    <div class="slide-menu__media-info slide-menu__media-info--color-{{ block.settings.text-color-scheme }}">
        {%- if block.settings.media-title != blank -%}
        <div class="slide-menu-item__title">{{- block.settings.media-title | escape -}}</div>
        {%- endif -%}

        {%- if block.settings.description != blank -%}
        <div class="slide-menu-item__description">{{- block.settings.description -}}</div>
        {%- endif -%}
        
        {%- if block.settings.button-text != blank -%}
            {%- if block.settings.link-for-button -%}
                <a href="{{- block.settings.link -}}" class="button button--secondary"><span>{{- block.settings.button-text | escape -}}</span></a>
            {%- else -%}
                <button class="button{% if block.settings.text-color-scheme == 'white' %} button--secondary{% endif %}"><span>{{- block.settings.button-text | escape -}}</span></button>
            {%- endif -%}
        {%- endif -%}
    </div>

    {%- unless block.settings.link-for-button -%}
    </a>
    {%- endunless-%}
</li>