<style>
    .block_id--{{ block.id }} {
        grid-row: 1 / span {{ block.settings.row_span }};
        grid-column: {{ block.settings.column }} / span {{ block.settings.col_span }};
    }
    @media screen and (max-width:900px){
        .block_id--{{ block.id }} {
            grid-row: 1 / span 1;
            grid-column: 1 / span 2;
        }
    }
    @media screen and (max-width:649px){
        .block_id--{{ block.id }} {
            grid-row: {{ block.settings.mobile_row }} / span 1;
            grid-column: 1 / span 2;
            min-height: 280px;
        }
    }
</style>
<div class="modular-block content-block block_id--{{ block.id }}">
    {%- if block.settings.description != blank or block.settings.title != blank -%}
        <div class="content-block__info">
            {%- if block.settings.title != blank -%}
            <div class="content-block__title">
                {%- if block.settings.target_link != blank -%}
                <a class="" href="{{ block.settings.target_link }}">{{- block.settings.title | escape -}}</a>
                {%- else -%}
                {{- block.settings.title | escape -}}
                {%- endif -%}
            </div>
            {%- endif -%}

            {%- if block.settings.description != blank -%}
            <div class="content-block__description">
                {{- block.settings.description -}}
            </div>
            {%- endif -%}
        </div>
    {%- endif -%}

    <div class="content-block__media">
        {%- liquid
            if block.settings.target_link != blank
                echo '<a href="' | append: block.settings.target_link | append: '">'
            endif

            if block.settings.video != blank
                assign ratio = block.settings.video-ratio-w | append: '/' | append: block.settings.video-ratio-h

                render 'video' with block.settings.video, poster: block.settings.image, lazy: true, video_ratio: ratio, loop: true, controls: false, autoplay: true
            else
                if block.settings.image_mobile != blank and block.settings.image != blank
                    render 'image' with block.settings.image, height:0, lazy: true, sizes: size, class: 'hide-small'
                    render 'image' with block.settings.image_mobile, lazy: true, sizes: size, class: 'hide-large'
                elsif block.settings.image != blank
                    render 'image' with block.settings.image, height:0, lazy: true, sizes: size
                elsif block.settings.image_mobile != blank
                    render 'image' with block.settings.image_mobile, lazy: true, sizes: size
                endif
            endif

            if block.settings.target_link != blank
                echo '</a>'
            endif
        -%}
    </div>

    {%- if block.settings.button-text != blank -%}
        <div class="floating-link">
            <a href="{{ block.settings.target_link }}" class="button button--secondary">
                <span>{{- block.settings.button-text | escpe -}}</span>
            </a>

            {% if block.settings.product_title != blank %}
            <div class="floating-link__pictured">
                Pictured: <a class="{% if block.settings.pictured_link == true %}quick-view__link{% endif %}" href="{{ block.settings.pictured_product }}">{{- block.settings.product_title | escape -}}</a>
            </div>
            {% endif %}
        </div>
    {%- endif -%}
</div>