<ul class="pagination list-unstyled">
    {% if paginate.previous.is_link %}
        <li><a href="{{ paginate.previous.url }}" title="Previous">&larr;</a></li>
    {% endif %}

    {% assign i = 0 %}
    {% for part in paginate.parts %}
        {% if part.is_link %}
            <li>{{ part.title | link_to: part.url }}</li>
        {% else %}
            {% if part.title == '&hellip;' %}
                <li class="ellipsis disabled"><a href="#" onclick="return false;">{{ part.title }}</a></li>
            {% else %}
                <li class="active">{{ part.title | link_to: part.url }}</li>
            {% endif %}
        {% endif %}
    {% endfor %}
    
    {% if paginate.current_page < 2 %}
        {% if paginate.next.is_link %}
            <li><a href="{{ paginate.next.url }}" title="Next">&rarr;</a></li>
        {% endif %}
    {% endif %}
</ul>