<a href="{{ shop.url }}/collections/all">All</a>

{%- if product.metafields.custom.parent_collections != blank -%}
    {%- for col in product.metafields.custom.parent_collections.value -%}
        <a href="{{ col.url }}">{{- col.title | escape -}}</a>
    {%- endfor -%}
{%- else -%}
    {% if product_type contains 'luggage' %}
        <a href="/collections/luggage">Luggage</a>
    {% endif %}
{%- endif -%}

{% comment %} {% if featured_collection != false %}
    <a href="{{ featured_collection.url }}">{{- featured_collection.title | escape -}}</a>
{% endif %} {% endcomment %}

{% if current_product_group_type != blank %}
    <span>{{ current_product_group_type }}</span>
{% else %}
    <span>{{- product.title | replace: ' - Final', '' | replace: ' - FW', '' | escape -}}</span>
{% endif %}