<a href="{{ shop.url }}/collections/all">All</a>

{%- if product.metafields.custom.parent_collections != blank -%}
    {%- for col in product.metafields.custom.parent_collections.value -%}
        <a href="{{ col.url }}">{{- col.title | escape -}}</a>
    {%- endfor -%}
{%- else -%}
    {% if product_type contains 'luggage' %}
        <a href="/collections/luggage">Luggage</a>
    {% endif %}
{%- endif -%}

{% comment %} {% if featured_collection != false %}
    <a href="{{ featured_collection.url }}">{{- featured_collection.title | escape -}}</a>
{% endif %} {% endcomment %}

{% if current_product_group_type != blank %}
    <span>{{ current_product_group_type }}</span>
{% else %}
    <span>{{- product.title | replace: ' - Final', '' | replace: ' - FW', '' | escape -}}</span>
{% endif %}

<script type="application/ld+json">
    {%- assign position = 2 -%}
    {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "item": {
                    "@type": "WebPage",
                    "@id": "{{ shop.url }}/collections/all",
                    "name": "All"
                }
            },
            {%- if product.metafields.custom.parent_collections != blank -%}
                {%- for col in product.metafields.custom.parent_collections.value -%}
                    {
                        "@type": "ListItem",
                        "position": {{ position }},
                        "item": {
                            "@type": "WebPage",
                            "@id": {{ col.url | json }},
                            "name": {{ col.title | json }}
                        }
                    },
                    {%- assign position = position | plus: 1 -%}
                {%- endfor -%}
            {%- elsif product_type contains 'luggage' %}
                {
                    "@type": "ListItem",
                    "position": {{ position }},
                    "item": {
                        "@type": "WebPage",
                        "@id": "{{ shop.url }}/collections/luggage",
                        "name": "Luggage"
                    }
                },
                {%- assign position = position | plus: 1 -%}
            {%- endif -%}
            {
                "@type": "ListItem",
                "position": {{ position }},
                "item": {
                    "@type": "WebPage",
                    "@id": {{ product.url | json }},
                    "name": {{ product.title | replace: ' - Final', '' | replace: ' - FW', '' | json }}
                }
            }
        ]
    }
</script>