<section class="pdp__meta">
    {%- if product.metafields.custom.featured_collection != blank -%}
        {%- assign collection = collections[product.metafields.custom.featured_collection] -%}
        <div class="pdp__feat-col">Part of <a href="{{ collection.url }}">{{- collection.title | escape -}}</a></div>
    {%- endif -%}

    <div class="pdp__reviews-cont">
        <a href="{{ product.url }}/reviews" class="pdp__reviews">
            {%- if product.metafields.okendo.summaryData.reviewCount > 0 -%}
                {% render 'star-rating' with product.metafields.okendo.summaryData.reviewAverageValue, number_of_reviews: product.metafields.okendo.summaryData.reviewCount %}
            {%- endif -%}
        </a>
    </div>

    <div class="pdp__price">
        <div class="pdp__price-inner">
            {%- if current_variant.compare_at_price > current_variant.price -%}
            <span class="sr-only">Original price</span>
            <s>{{ current_variant.compare_at_price | money_without_trailing_zeros }}</s>
            {%- endif -%}
            <span class="sr-only">Current price</span>
            <b>{{- current_variant.price | money_without_trailing_zeros -}}</b>
        </div>
    </div>
</section>