{%- liquid
    assign product = product-unit
-%}
<div data-handle="{{ product.handle }}" class="product-unit{% if class != blank %} {{ class }}{% endif %}">
    {%- if quick_view == true -%}
        <a class="quick-view__link" href="{{ product-unit.url }}" title="Quick View">
            <img alt="Quick View" src="{{ 'quick-view.svg' | asset_url }}" loading="lazy">
        </a>
    {%- endif -%}
    
    <div class="product-unit__image-wrapper">
        {%- if product.metafields.okendo.summaryData.reviewCount > 0 -%}
        <div class="product-unit__reviews">
            {% render 'star-rating' with product.metafields.okendo.summaryData.reviewAverageValue, number_of_reviews: product.metafields.okendo.summaryData.reviewCount %}
        </div>
        {%- endif -%}

        <div class="product-unit__colors" data-count="0">
            <div class="product-unit__colors-text">in <i>x</i> colors</div>
            <div class="product-unit__swatches-container"><div class="product-unit__swatches"></div></div>
        </div>

        <a href="{{ product.url }}" class="product-unit__link">
            <div class="product-unit__image">
                {%- liquid
                    if img_lazy == blank and img_lazy != false
                        assign img_lazy = true
                    else
                        assign img_lazy = false
                    endif

                    if img_preload == blank
                        assign img_preload = false
                    endif
                    
                    if product.selected_or_first_available_variant.featured_image != blank
                        assign img = product.selected_or_first_available_variant.featured_image
                    else
                        assign img = product.featured_image
                    endif
                    
                    render 'image' with img, lazy: img_lazy, preload: img_preload, no_wrapper: true, sizes: '20vw'
                -%}
            </div>
        </a>
    </div>

    <div class="product-unit__wishlist">
        <button class="wishlist__button">{% render 'icon-heart' %}</button>
    </div>

    <div class="product-unit__title">
        <a href="{{ product.url }}" class="product-unit__link">{{ product.title | escape }}</a>
    </div>

    <div class="product-unit__price">
        {%- if product.compare_at_price > product.price -%}
            <s>{{ product.compare_at_price | money_without_trailing_zeros }}</s>
            <b>{{ product.price | money_without_trailing_zeros }}</b>
        {%- else -%}
            <b>{{ product.price | money_without_trailing_zeros }}</b>
        {%- endif -%}
    </div>
</div>