{%- liquid
    assign opt1 = current_variant.option1 | handleize
    assign starter_bundle = collections.all.products | where: 'data-handle', 'starter-bundle'
    assign starter_true = true
-%}
{%- if settings.sale-badge-enabled -%}
    {%- liquid
        if settings.sale-badge-tag == blank
            assign saleBadge = true
        else
            assign saleBadge = false
            for tag in product.tags
                assign tagSpl = tag | split: ':'
                if settings.sale-badge-tag == tagSpl[0]
                    if tagSpl.size == 1
                        assign saleBadge = true
                    else
                        assign saleBadge = tagSpl[1] | downcase | split: ';'
                    endif
                endif
            endfor
        endif


        assign text_tilt = false
        if template contains "collection" or "product"
            assign text_tilt = settings.sale-badge-text-tilt
        endif
        case settings.desktop-badge-placement
            when 'top'
                assign badge_placement_top_desktop = true
            when 'bottom'
                assign badge_placement_bottom_desktop = true
        endcase
        case settings.mobile-badge-placement
            when 'top'
                assign badge_placement_top_mobile = true
            when 'bottom'
                assign badge_placement_bottom_mobile = true
        endcase

    -%}
    {%- liquid
        if settings.sale-badge-tag-bundle == blank
            assign saleBadge-bundle = true
        else
            assign saleBadge-bundle = false
            for tag in product.tags
                assign tagSpl = tag | split: ':'
                if settings.sale-badge-tag-bundle == tagSpl[0]
                    if tagSpl.size == 1
                        assign saleBadge-bundle = true
                    else
                        assign saleBadge-bundle = tagSpl[1] | downcase | split: ';'
                    endif
                endif
            endfor
        endif
    -%}

    {%- if settings.sale-badge-text != blank and saleBadge != false -%}
        {%- liquid
            if current_variant.compare_at_price > current_variant.price
                assign discount = current_variant.compare_at_price | minus: current_variant.price | times: 100 | divided_by: current_variant.compare_at_price
                assign discount = '<span class="dscnt">' | append: discount | append: '%' | append: '</span>'
            else
                assign discount = '<span class="dscnt"></span>'
            endif
        -%}

        {% if settings.badge_display == 'both' %}
            <div 
                class="
                    product-label
                    product-label--badge
                    value__{{saleBadge}}{% if saleBadge contains opt1 and saleBadge != true %} product-label--active badge-active{% endif %} 
                    {% if saleBadge == true %} product-label--active badge-active{% endif %} 
                    {% if text_tilt == true %}product-label--badge-tilt{% endif %}
                    {% if template contains 'product'%}
                        {% if badge_placement_top_desktop == true %} product-label--badge-desktop-top{% endif %}
                        {% if badge_placement_bottom_desktop == true %} product-label--badge-desktop-bottom{% endif %}
                        {% if badge_placement_top_mobile == true %} product-label--badge-mobile-top{% endif %}
                        {% if badge_placement_bottom_mobile == true %} product-label--badge-mobile-bottom{% endif %}
                        {% if saleBadge-bundle != false and settings.sale-msg-starter != false %}    
                        starter-customize custom-dash
                        {% endif %}
                    {% else %}
                        product-label--badge-collection-page
                        {% if saleBadge-bundle != false and settings.sale-msg-starter != false and template contains 'collection' %}    
                        starter-customize custom-dash
                        {% endif %}
                    {% endif %}
                "
                {% if saleBadge != true %}data-options="{{ saleBadge | join: ' ' }}"{% endif %}
                {% if saleBadge-bundle != true %}data-options="{{ saleBadge-bundle | join: ' ' }}"{% endif %}
            >
                {% unless saleBadge-bundle != false and settings.sale-msg-starter != false and settings.sale-badge-text-starter != blank %}  
                    {{- settings.sale-badge-text | escape | newline_to_br | replace: '%%', discount -}}
                {%  else %}
                    {{- settings.sale-badge-text-starter | escape | newline_to_br | replace: '%%', discount -}}
                {% endunless %}
            </div>
            {% if settings.starter__customizer-badge != blank %}
                <style>
                    .starter-customize {
                        background-color: {{ settings.starter__customizer-badge }} !important;
                        border: 1px dashed black !important;
                        color: {{ settings.starter__customizer-badge-text }} !important;
                    }
                    
                </style>
            {% endif %}
        {% elsif settings.badge_display == 'product' %}
            {% if template contains 'product' %} 
                <div 
                    class="
                        product-label
                        product-label--badge
                        value__{{saleBadge}}{% if saleBadge contains opt1 and saleBadge != true %} product-label--active badge-active{% endif %} 
                        {% if saleBadge == true %} product-label--active badge-active{% endif %} 
                        {% if text_tilt == true %}product-label--badge-tilt{% endif %}
                        {% if template contains 'product'%}
                            {% if badge_placement_top_desktop == true %} product-label--badge-desktop-top{% endif %}
                            {% if badge_placement_bottom_desktop == true %} product-label--badge-desktop-bottom{% endif %}
                            {% if badge_placement_top_mobile == true %} product-label--badge-mobile-top{% endif %}
                            {% if badge_placement_bottom_mobile == true %} product-label--badge-mobile-bottom{% endif %}
                        {% else %}
                            product-label--badge-collection-page
                            {% if saleBadge-bundle != false and settings.sale-msg-starter != false %}    
                            starter-customize custom-dash
                            {% endif %}
                        {% endif %}
                    "
                    {% if saleBadge != true %}data-options="{{ saleBadge | join: ' ' }}"{% endif %}
                    {% if saleBadge-bundle != true %}data-options="{{ saleBadge-bundle | join: ' ' }}"{% endif %}
                >
                    {% unless saleBadge-bundle != false and settings.sale-msg-starter != false and template contains 'collection' %}  
                        {{- settings.sale-badge-text | escape | newline_to_br | replace: '%%', discount -}}
                    {%  else %}
                        {{- settings.sale-badge-text-starter | escape | newline_to_br | replace: '%%', discount -}}
                    {% endunless %}
                </div>
                {% if settings.starter__customizer-badge != blank %}
                    <style>
                        .starter-customize {
                            background-color: {{ settings.starter__customizer-badge }} !important;
                            border: 1px dashed black !important;
                            color: {{ settings.starter__customizer-badge-text }} !important;
                        }
                    </style>
                {% endif %}
            {% endif %}
        {% elsif settings.badge_display == 'collection' %}
            {% if template contains 'collection' %} 
                <div 
                    class="
                        product-label
                        product-label--badge
                        value__{{saleBadge}}{% if saleBadge contains opt1 and saleBadge != true %} product-label--active badge-active{% endif %} 
                        {% if saleBadge == true %} product-label--active badge-active{% endif %} 
                        {% if text_tilt == true %}product-label--badge-tilt{% endif %}
                        {% if template contains 'product'%}
                            {% if badge_placement_top_desktop == true %} product-label--badge-desktop-top{% endif %}
                            {% if badge_placement_bottom_desktop == true %} product-label--badge-desktop-bottom{% endif %}
                            {% if badge_placement_top_mobile == true %} product-label--badge-mobile-top{% endif %}
                            {% if badge_placement_bottom_mobile == true %} product-label--badge-mobile-bottom{% endif %}
                        {% else %}
                            product-label--badge-collection-page
                            {% if saleBadge-bundle != false and settings.sale-msg-starter != false %}    
                            starter-customize custom-dash
                            {% endif %}
                        {% endif %}
                    "
                    {% if saleBadge != true %}data-options="{{ saleBadge | join: ' ' }}"{% endif %}
                    {% if saleBadge-bundle != true %}data-options="{{ saleBadge-bundle | join: ' ' }}"{% endif %}
                >
                    {% unless saleBadge-bundle != false and template contains 'collection' and settings.sale-msg-starter != false%}  
                        {{- settings.sale-badge-text | escape | newline_to_br | replace: '%%', discount -}}
                    {%  else %}
                        {{- settings.sale-badge-text-starter | escape | newline_to_br | replace: '%%', discount -}}
                    {% endunless %}
                </div>
                {% if settings.starter__customizer-badge != blank %}
                    <style>
                        .starter-customize {
                            background-color: {{ settings.starter__customizer-badge }} !important;
                            border: 1px dashed black !important;
                            color: {{ settings.starter__customizer-badge-text }} !important;
                        }
                    </style>
                {% endif %}
            {% endif %}
        {% endif %}
        

    {%- endif -%}
{%- endif -%}

{%- if settings.hot-deals-badge-enabled -%}
    {%- liquid
        assign hotDealsVariants = false
        for tag in product.tags
            assign splitted_tag = tag | split: ":"
            if splitted_tag[0] == 'hot-deals'
                assign hotDealsVariants = splitted_tag[1] | downcase | split: ';'
            endif
        endfor
    -%}

    {%- if hotDealsVariants != false -%}
        <div class="product-label product-label--hot-deal hot-deals-badge product-label--badge-mobile-top product-label--badge {% if hotDealsVariants contains opt1 and hotDealsVariants != true %} product-label--active{% endif %}"
            {% if hotDealsVariants != true %}data-options="{{ hotDealsVariants | join: ' ' }}"{% endif %}>
            Hot Deal
        </div>
    {%- endif -%}
{%- endif -%}

<div class="floating-labels {% if template contains 'collection' and settings.sale-msg-starter != false and saleBadge-bundle != false %} promo-starter-label{%endif%}">
    {%- if location != 'pdp' -%}

        {%- liquid
            assign soldout = false
            for tag in product.tags
                assign tagSpl = tag | split: ':'
                if 'soldout' == tagSpl[0]
                    if tagSpl.size == 1
                        assign soldout = true
                    else
                        assign soldout = tagSpl[1] | downcase | split: ';'
                    endif
                endif
            endfor
        -%}

        {%- if soldout != false -%}
        <div class="product-label product-label--na product-label--sold-out{% if soldout contains opt1 and soldout != true %} product-label--active{% endif %}"
            {% if soldout != true %}data-options="{{ soldout | join: ' ' }}"{% endif %}>
            Sold out
        </div>
        {%- endif -%}

        <div class="product-label product-label--na">
            <a href="{{ product.url }}">Join waitlist</a>
        </div>

    {%- endif -%}

    {%- if location != 'pdp' and settings.sale-msg-pdp-only == false and settings.sale-msg-enabled -%}
        {%- liquid
            if settings.sale-msg-tag == blank
                assign promoMsg = true
            else
                assign promoMsg = false
                for tag in product.tags
                    assign tagSpl = tag | split: ':'
                    if settings.sale-msg-tag == tagSpl[0]
                        if tagSpl.size == 1
                            assign promoMsg = true
                        else
                            assign promoMsg = tagSpl[1] | split: ';'
                        endif
                    endif
                endfor
            endif
        -%}

        {%- if promoMsg != false -%}
            <div class="product-label product-label--promo{% if promoMsg contains opt1 and promoMsg != true %} product-label--active{% endif %}"
                {% if promoMsg != true %}data-options="{{ promoMsg | join: ' ' }}"{% endif %}>
                {%- if settings.sale-msg-highlighted != blank -%}
                    {{- settings.sale-msg-highlighted | escape -}}
                {%- endif -%}
            </div>
        {%- endif -%}
    {%- endif -%}

    {%- liquid
        if location == 'pdp'
            assign saleMessage = settings.sale-text-pdp
            assign extraSaleMessage = settings.extra-sale-text-pdp
        else
            assign saleMessage = settings.sale-text
            assign extraSaleMessage = settings.extra-sale-text
        endif
    -%}

    {%- if settings.sale-enabled -%}
        {%- liquid
            if settings.sale-tag == blank
                assign sale = true
            else
                assign sale = false
                for tag in product.tags
                    assign tagSpl = tag | split: ':'
                    if settings.sale-tag == tagSpl[0]
                        if tagSpl.size == 1
                            assign sale = true
                        else
                            assign sale = tagSpl[1] | downcase | split: ';'
                        endif
                    endif
                endfor
            endif
        -%}

        {%- if saleMessage != blank and sale != false -%}
            {%- liquid
                if current_variant.compare_at_price > current_variant.price
                    assign discount = current_variant.compare_at_price | minus: current_variant.price | times: 100 | divided_by: current_variant.compare_at_price
                    assign discount = '<span class="dscnt">' | append: discount | append: '%' | append: '</span>'
                    assign discounted = true
                else
                    assign discount = '<span class="dscnt"></span>'
                    assign discounted = false
                endif
            -%}
        
            <div class="product-label{% unless discounted%} product-label--hidden{% endunless %} product-label--sale {% if settings.sale-msg-starter != false and  settings.sale-badge-tag-bundle != blank and saleBadge-bundle != false  and template contains 'collection' %}    
        starter-customize{% endif %}{% if sale contains opt1 and sale != true %} product-label--active{% endif %}"
                {% if sale != true %}data-options="{{ sale | join: ' ' }}"{% endif %}>
                {{- saleMessage | escape | replace: '%%', discount -}}
            </div>
        {%- endif -%}
    {%- endif -%}

    {%- if settings.sale-msg-starter != false -%}
        {% if settings.sale-badge-tag-bundle != blank and saleBadge-bundle != false and template contains 'collection' and settings.starter-bundle-badge != blank %}
            <div class="product-label--promo starter-label">
                {{settings.starter-bundle-badge}}
            </div>
        {% endif %}
    {%- endif -%}

    {%- if settings.extra-sale-enabled -%}
        {%- liquid
            if settings.extra-sale-tag == blank
                assign sale = true
            else
                assign sale = false
                for tag in product.tags
                    assign tagSpl = tag | split: ':'
                    if settings.extra-sale-tag == tagSpl[0]
                        if tagSpl.size == 1
                            assign sale = true
                        else
                            assign sale = tagSpl[1] | downcase | split: ';'
                        endif
                    endif
                endfor
            endif
        -%}

        {%- if extraSaleMessage != blank and sale != false -%}
            {%- liquid
                if current_variant.compare_at_price > current_variant.price
                    assign discount = current_variant.compare_at_price | minus: current_variant.price | times: 100 | divided_by: current_variant.compare_at_price
                    assign discount = '<span class="dscnt">' | append: discount | append: '%' | append: '</span>'
                    assign discounted = true
                else
                    assign discount = '<span class="dscnt"></span>'
                    assign discounted = false
                endif
            -%}
        <div class="product-label{% unless discounted%} product-label--hidden{% endunless %} product-label--extra-sale{% if sale contains opt1 and sale != true %} product-label--active{% endif %}"
            {% if sale != true %}data-options="{{ sale | join: ' ' }}"{% endif %}>
            {{- extraSaleMessage | escape | replace: '%%', discount -}}
        </div>
        {%- endif -%}

    {%- endif -%}

    {%- liquid
        assign comingSoon = false
        if product.metafields.product.coming-soon
            assign comingSoon = true
        else
            for variant in product.variants
                if variant.metafields.product.coming-soon
                    if comingSoon == false
                        assign comingSoon = variant.id
                    else
                        assign comingSoon = comingSoon | append: ';' | append: variant.id
                    endif
                endif
            endfor

            if comingSoon != false
                assign comingSoon = comingSoon | split: ';'
            endif
        endif
    -%}
    {%- if comingSoon != false -%}
        <div class="product-label{% if comingSoon contains current_variant.id and comingSoon != true %} product-label--active{% endif %}"
            {% if comingSoon != true %}data-options="{{ comingSoon | join: ' ' }}"{% endif %}>Coming soon</div>
    {%- endif -%}

    {%- liquid
        assign preorder = false
        if product.metafields.custom.preorder != blank
            assign preorder = true
        else
            for variant in product.variants
                if variant.metafields.custom.preorder != blank
                    if preorder == false
                        assign preorder = variant.id
                    else
                        assign preorder = preorder | append: ';' | append: variant.id
                    endif
                endif
            endfor

            if preorder != false
                assign preorder = preorder | split: ';'
            endif
        endif
    -%}
    {%- if preorder != false -%}
        <div class="product-label{% if preorder contains current_variant.id and preorder != true %} product-label--active{% endif %}"
            {% if preorder != true %}data-options="{{ preorder | join: ' ' }}"{% endif %}>
            Preorder
        </div>
    {%- endif -%}
        
    {%- unless collection == settings.new-arrivals and location == 'list' -%}
        {%- liquid
            assign new = false
            for col in product.collections
                if settings.new-arrivals == col and new == false
                    assign new = true
                    continue
                endif
            endfor

            if new == true
                for tag in product.tags
                    assign tagSpl = tag | split: ':'
                    if settings.new-arrivals.handle == tagSpl[0]
                        if tagSpl.size > 1
                            assign new = tagSpl[1] | downcase | split: ';'
                        endif
                    endif
                endfor
            endif
        -%}
        {%- if new != false -%}
            <div class="product-label{% if new contains opt1 and new != true %} product-label--active{% endif %}"
                {% if new != true %}data-options="{{ new | join: ' ' }}"{% endif %}>
                {%- if new == true-%}New{%- else -%}New Color{%- endif -%}
            </div>
        {%- endif -%}
    {%- endunless -%}

    {% comment %}
        CHECK THE PRODUCT-GRID.LIQUID  FOR THIS VARIABLE 
        IT WAS DEFINED THERE BC WE NEEDED TO COUNT THE TIMES OF NUMBER AND RENDER SHOPIFY TAG DONT ALLOW

        PRODUCT-GRID.LIQUID RENDERS PRODUCT-UNIT.LIQUID
        PRODUCT-UNIT.LIQUID RENDERS PRODUCT=FLOATING-LABELS.LIQUID

    {% endcomment%}
    {%- if best_seller == true -%}
        <div class="product-label">Bestseller</div>
    {%- endif -%}
</div>