{%- liquid
    assign product = product-unit
    if product.product != blank
        assign product = product.product
    endif

    assign cancelDisplay = false

    if current_variant == blank
        if in_collection != blank
            assign firstSearch = 'first:' | append: in_collection.handle | append: ':'
            assign limitSearch = in_collection.handle | append: ':'

            for tag in product.tags
                if tag contains firstSearch
                    assign firstSearch = tag | replace: firstSearch, '' | handleize
                    for variant in product.variants
                        assign opt1 = variant.option1 | handleize
                        if opt1 == firstSearch
                            assign current_variant = variant
                            break
                        endif
                    endfor
                elsif tag contains limitSearch and current_variant == blank
                    assign limitSearch = tag | replace: limitSearch, '' | split: ';' | first | handleize
                    for variant in product.variants
                        assign opt1 = variant.option1 | handleize
                        if opt1 == limitSearch
                            assign current_variant = variant
                            break
                        endif
                    endfor
                endif
            endfor
        endif

        if current_variant == blank
            assign current_variant = product.selected_or_first_available_variant
        endif

        if early_access == 'only'
            unless current_variant.metafields.custom.early_access == true
                assign earlyAccessVariantFound = false
                for var in product.variants
                    if product.metafields.custom.early_access == true and var.metafields.custom.early_access == true
                        assign current_variant = var
                        assign earlyAccessVariantFound = true
                        break
                    endif
                endfor

                unless earlyAccessVariantFound
                    assign cancelDisplay = true
                endunless
            endunless
        endif
    endif

    assign opt1 = current_variant.option1 | handleize

    if location == blank
        assign location = 'list'
    endif

    if sizes == false or sizes == blank
        assign sizes = '(min-width: 1181px) 20vw, 25vw'
    endif

    assign unit_url = product.url | append: '/'
    if current_variant.metafields.custom.early_access and product.metafields.custom.early_access
        assign unit_url = unit_url | append: 'early-access-'
    endif
    assign unit_url = unit_url | append: opt1

    assign extraSale = false
    if settings.extra-sale-enabled
        for tag in product.tags
            assign tagSpl = tag | split: ':'
            assign handle = tagSpl[0] | handleize

            if settings.extra-sale-tag == tagSpl[0]
                if tagSpl.size == 1
                    assign extraSale = true
                else
                    assign extraSale = tagSpl[1] | downcase | split: ';'
                endif
            endif
        endfor
    endif
-%}
{%- unless cancelDisplay -%}
<div
    data-suffix="{{ product.template_suffix }}"
    data-handle="{{ product.handle }}"
    data-id="{{ product.id }}"
    {%- if init_option1 != blank -%}
        data-init-1="{{ init_option1 }}"
    {%- endif -%}
    {%- if in_collection != blank -%}
        data-collection="{{ in_collection.handle }}"
    {%- endif -%}
    {%- if early_access != false and early_access != blank -%}
        data-early-access="{{ early_access }}"
    {%- endif -%}
    data-variant="{{ current_variant.id }}"
    class="product-unit{% if extraSale contains opt1 or extraSale == true %} extra-sale-active{% endif %}{% if current_variant.available == false %} product-unit--na{% endif %}{% if class != blank %} {{ class }}{% endif %}"
    >    
    <div class="product-unit__image-wrapper">
        {%- if quick_view == true -%}
            <a class="quick-view__link quick-view__link--circle" href="{{ unit_url }}" title="Quick View">
                <img alt="Quick View" src="{{ 'quick-view-cross.svg' | asset_url }}" loading="lazy">
            </a>
        {%- endif -%}

        {%- if floatingLabels != false and labels != false -%}
            {% render 'product-floating-labels', product: product, current_variant: current_variant, location: location, best_seller: best_seller %}
        {%- endif -%}

        {% comment %}     
        {%- if product.metafields.okendo.summaryData.reviewCount > 0 -%}
        <div class="product-unit__reviews">
            {% render 'star-rating' with product.metafields.okendo.summaryData.reviewAverageValue, number_of_reviews: product.metafields.okendo.summaryData.reviewCount %}
        </div>
        {%- endif -%} {% endcomment %}

        {%- for option in product.options_with_values -%}   
            {%- assign optionLow = option.name | downcase -%}

            {%- if optionLow == 'color' -%}
                <div data-position="{{ option.position }}"
                    class="product-unit__colors{% if all_colors == true %} product-unit__colors--all{% endif %}"
                    data-count="0">
                    <div class="product-unit__colors-text">in <i>x</i> colors</div>
                    <div class="product-unit__swatches-container">
                        <div class="product-unit__swatches swatches-container"></div>
                    </div>
                </div>
            {%- endif -%}
        {%- endfor -%}

        <a href="{{ unit_url }}" class="product-unit__image product-link">
            {%- liquid
                if img_lazy == blank and img_lazy != false
                    assign img_lazy = true
                else
                    assign img_lazy = false
                endif

                if img_preload == blank
                    assign img_preload = false
                endif
                
                if current_variant.featured_image != blank
                    assign img = current_variant.featured_image
                else
                    assign img = product.featured_image
                endif

                render 'image' with img, lazy: img_lazy, preload: img_preload, no_wrapper: true, sizes: sizes
            -%}
        </a>
    </div>

    {%- if wishlist == true -%}
    <div class="product-unit__wishlist">
        <button aria-label="Add product to wishlist" class="wishlist__button" title="Add to Wishlist">{% render 'icon-heart' %}</button>
    </div>
    {%- endif -%}

    <div class="product-unit__title{% if wishlist == true %} product-unit__title--wishlist{% endif %}">
        <a href="{{ unit_url }}" class="product-link">{{ product.title | replace: ' - Final', '' | replace: ' - FW', '' | escape }}</a>
    </div>

    {%- if product.metafields.product.short-info != blank and product.metafields.custom.enable_short_info == true and show_short_info == true -%}
    <div class="product-unit__info">{{- product.metafields.product.short-info | strip_html | escape -}}</div>
    {%- endif -%}

    {%- if product.metafields.product.size-label != blank and show_luggage_size == true -%}
    <div class="product-unit__info">{{- product.metafields.product.size-label | strip_html | escape -}}</div>
    {%- endif -%}

    <div class="product-unit__row">
        <div class="product-unit__price">
            {%- if current_variant.compare_at_price > current_variant.price -%}
                <s>{{ current_variant.compare_at_price | money_without_trailing_zeros }}</s><b>{{ current_variant.price | money_without_trailing_zeros }}</b>
            {%- else -%}
                <b>{{ current_variant.price | money_without_trailing_zeros }}</b>
            {%- endif -%}
        </div>
    </div>

    {%- liquid
        if floatingLabels != false and floatingLabels != true and labels != false
            render 'flash-sale-label', current_variant: current_variant, product: product
            render 'product-form-labels', location: location, product: product, current_variant: current_variant, unit: true
        endif
    -%}

    {%- if add_to_cart == true -%}
    <div class="product-unit__button">
        <button aria-label="Add product to cart" class="button button--tertiary button--add-to-cart">
            <div class="button-msg-add">Add to Bag</div>
            <div class="button-msg-adding">Adding...</div>
            <div class="button-msg-added">Added!</div>
            <div class="button-msg-na">Not Available</div>
        </button>
    </div>
    {%- endif -%}
</div>
{%- endunless -%}