<div class="reviews__slide-img">
    {%- liquid
        if block.settings.image-link != blank
            echo '<a href="' | append: block.settings.image-link | append: '" tabindex="-1">'
        endif

        if block.settings.image-mobile != blank
            render 'image' with block.settings.image, sizes: '50vw', no_wrapper: no_wrapper, lazy: true, class:" hide-small"
            render 'image' with block.settings.image-mobile, sizes: '100vw', lazy: true, class: "hide-large"
        else
            render 'image' with block.settings.image, sizes: '(min-width: 901px) 50vw, 100vw', no_wrapper: no_wrapper, lazy: true
        endif

        if block.settings.image-link != blank
            echo '</a>'
        endif
    -%}
</div>
<div class="reviews__slide-content">
    <div class="review-slide__header">
        {%- if block.settings.pictured-product != blank -%}
        <div class="review-slide__pictured">
            {%- assign product = all_products[block.settings.pictured-product] -%}
            Pictured: <a href="{{ product.url }}" tabindex="-1">
                {%- if block.settings.pictured-product-title != blank -%}
                    {{- block.settings.pictured-product-title | escape -}}
                {%- else -%}
                    {{- product.title | replace: ' - Final', '' | replace: ' - FW', '' | escape -}}
                {%- endif -%}
            </a>
            <span class="review-slide__pictured-price">
            {%- if product.compare_at_price > product.price -%}
                <span class="sr-only">Original price</span>
                <s>{{ product.compare_at_price | money_without_trailing_zeros }}</s>
            {%- endif -%}
            <span class="sr-only">Current price</span>
            {{ product.price | money_without_trailing_zeros }}
            </span>
        </div>
        {%- endif -%}

        <a href="{{ product.url }}/reviews" class="review-slide__reviews" tabindex="-1">
        {% render 'star-rating' with block.settings.stars, number_of_reviews: product.metafields.okendo.summaryData.reviewCount %}
        </a>
    </div>
    
    <div class="review-slide__main">
        <div class="review-slide__review{% if block.settings.add-quotes %} review-slide__review--quotes{% endif %}">
            <p>
                <span aria-hidden="true">“</span>
                <blockquote style="margin:0;">{{ block.settings.review | strip_html }}</blockquote>
                <span aria-hidden="true">”</span>
            </p>
        </div>
        {%- if block.settings.name != blank -%}
            <div class="review-slide__author">&ndash; {{ block.settings.name | escape }}</div>
        {%- endif -%}
    </div>
    
    <div class="review-slide__footer">
        {%- if block.settings.button-text != blank -%}
        <a href="{{ block.settings.button-link }}" class="button" tabindex="-1">
            <span>{{- block.settings.button-text | escape -}}</span>
        </a>
        {%- endif -%}
    </div>
</div>