<section class="menu-popup menu-popup--shop" data-src="{{ 'menu.js' | asset_url }}" data-func="openMenu" data-id="shop" aria-labelledby="shop-label" role="region" >
    <div class="menu-popup__background"></div>
    <button aria-label="Close the Shop menu" class="menu-close menu-close--shop" title="Close"></button>
    <div class="menu-popup__content" role="tablist" aria-orientation="vertical">
        <section class="menu-popup__main">
            {% if section.settings.shop-menu != blank %}
            <ul class="menu tablist">
                {% for link in linklists[section.settings.shop-menu].links %}
                <li data-id="{{ forloop.index }}" class="menu-item{% if forloop.first %} menu-item--active{% endif %}" role="tab">
                    <a class="{% if link.links.size == 0 %}has-no-submenu{% else %}has-menu{% endif %}" id="menu-item-tab__shop-{{ forloop.index }}" role="button" aria-controls="submenu__{{ forloop.index }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}" aria-current="{% if forloop.first %}true{% else %}false{% endif %}" tabindex="{% if forloop.first %}0{% else %}-1{% endif %}" href="{{ link.url }}">{{ link.title | escape }}</a>
                    {% if link.links.size > 0 %}
                    <div id="submenu__{{ forloop.index }}" class="submenu" role="tabpanel" aria-labelledby="menu-item-tab__shop-{{ forloop.index }}" tabindex="0">
                        {% for sublink in link.links %}
                        <div class="submenu-item" tabindex="-1">
                            <a href="{{ sublink.url }}">{{ sublink.title | escape }}</a>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </section>
        <section class="menu-side" role="tabpanel" tabindex="0">
            
            {%- assign media_num = 0 -%}
            {%- capture media_cells -%}
                {%- for block in section.blocks -%}
                    {%- liquid
                        unless block.type == 'shop-block'
                            continue
                        endunless

                        if block.settings.submenu-number == 1
                            assign media_num = media_num | plus: 1
                        endif

                        if block.settings.link-for-button or block.settings.button-url == blank
                            assign outsideLink = false
                        else
                            assign outsideLink = true
                        endif
                    -%}

                    {% if outsideLink %}<a href="{{- block.settings.button-url -}}"{% else %}<div{% endif %}
                        data-id="{{ block.settings.submenu-number }}"
                        class="media-cell media-cell--color-{{ block.settings.text-color-scheme }} menu__dynamic-element{% if block.settings.submenu-number == 1 %} menu__dynamic-element--active{% endif %}">
                        {%- liquid
                            if block.settings.image != blank
                                render 'image' with block.settings.image, sizes: '50vw', lazy: true, no_wrapper: true
                            endif

                            if block.settings.video != blank
                                assign ratio = false

                                if block.settings.video-ratio-w != blank and block.settings.video-ratio-h != blank
                                    assign ratio = block.settings.video-ratio-w | append: '/' | append: block.settings.video-ratio-h
                                endif

                                render 'video' with block.settings.video, no_wrapper: true, lazy: true, video_ratio: ratio, autoplay: true, loop: true, controls: false
                            endif
                        -%}

                        {%- if block.settings.block-title != blank -%}
                        <h3 class="media-cell__title">{{- block.settings.block-title | escape -}}</h3>
                        {%- endif -%}
                        
                        {%- if block.settings.description != blank -%}
                        <div class="media-cell__description">{{- block.settings.description -}}</div>
                        {%- endif -%}

                        {%- if block.settings.button-text != blank -%}
                            {% if outsideLink %}<span{% else %}<a href="{{- block.settings.button-url -}}"{% endif %}
                                class="button{% if block.settings.text-color-scheme == 'white' %} button--secondary{% endif %}">
                                
                                <span>{{- block.settings.button-text -}}</span>

                            {%- if outsideLink -%}</span>{%- else -%}</a>{%- endif -%}
                        {%- endif -%}

                    {% if outsideLink %}</a>{% else %}</div>{% endif %}
                {%- endfor -%}

            {%- endcapture -%}
            <section data-num="{{- media_num -}}" class="media-grid">
                {{- media_cells -}}
            </section>

            {%- for block in section.blocks -%}
                {%- unless block.type == 'featured-collection' and block.settings.collection != blank -%}
                    {%- continue -%}
                {%- endunless -%}

                <div data-id="{{ block.settings.submenu-number }}" data-slide="3" class="product-slider menu__dynamic-element{% if block.settings.submenu-number == 1 %} menu__dynamic-element--active{% endif %} slider__wrapper slider__wrapper--start" role="region" aria-label="carousel">
                <span class="sr-only">This is a static carousel, use next and previous buttons to navigate and move the slider.</span>
                    <div class="product-slider__header">
                        {%- if block.settings.block-title != blank -%}
                        <h3 class="product-slider__title">{{- block.settings.block-title | escape -}}</h3>
                        {%- endif -%}

                        <nav class="slider__nav">
                            <button aria-label="Show previous slide" class="slider__control tri-left slider__control--prev" title="Previous" disabled="disabled"></button>
                            <button aria-label="Show next slide" class="slider__control tri-right slider__control--next" title="Next"></button>
                        </nav>
                    </div>
                    <div class="slider shop-menu-slider">
                    
                        {%- liquid
                            for product in block.settings.collection.products limit: 10
                                render 'product-unit' with product, wishlist: true, class: 'slide', floatingLabels: true
                            endfor
                        -%}
                    </div>
                </div>
            {%- endfor -%}
        </section>
    </div>
</section>