<div class="star-rating">
  <span class="star-background" aria-hidden="true">
    <img alt="" src="{{- 'icon-star-gray.svg' | asset_url -}}" class="star-icon" loading="lazy" width="11">
    <img alt="" src="{{- 'icon-star-gray.svg' | asset_url -}}" class="star-icon" loading="lazy" width="11">
    <img alt="" src="{{- 'icon-star-gray.svg' | asset_url -}}" class="star-icon" loading="lazy" width="11">
    <img alt="" src="{{- 'icon-star-gray.svg' | asset_url -}}" class="star-icon" loading="lazy" width="11">
    <img alt="" src="{{- 'icon-star-gray.svg' | asset_url -}}" class="star-icon" loading="lazy" width="11">
  </span>
  <span class="star-reviews" style="width: {{ star-rating | divided_by: 5 | times: 100 }}%;" aria-hidden="true">
    <span class="star-icon" aria-hidden="true">
      <img alt="" src="{{- 'icon-star-black.svg' | asset_url -}}"  loading="lazy" width="11px">
    </span>
    <span class="star-icon" aria-hidden="true">
      <img alt="" src="{{- 'icon-star-black.svg' | asset_url -}}"  loading="lazy" width="11px">
    </span>
    <span class="star-icon" aria-hidden="true">
      <img alt="" src="{{- 'icon-star-black.svg' | asset_url -}}"  loading="lazy" width="11px">
    </span>
    <span class="star-icon" aria-hidden="true">
      <img alt="" src="{{- 'icon-star-black.svg' | asset_url -}}"  loading="lazy" width="11px">
    </span>
    <span class="star-icon" aria-hidden="true">
      <img alt="" src="{{- 'icon-star-black.svg' | asset_url -}}"  loading="lazy" width="11px">
    </span>
  </span>
  <span class="sr-only">{{ star-rating }} out of 5 stars</span>
</div>

{%- if number_of_reviews != blank -%}
  <div class="star-rating__number">
    {%- if number_of_reviews == 1 -%}
      1 Review
    {%- else -%}
      {{ number_of_reviews }} Reviews
    {%- endif -%}
  </div>
{%- endif -%}
