{% section 'account-header' %}

<section class="page page--less-padding">
    <section class="wrapper account-content">
        {% render 'account-nav', current: 'addresses' %}
        
        <div class="account-info orders-container">
            <h4 class="account-section-title">Review Your Addresses</h4>
            
            {% if customer.addresses != 0 %}
            <div class="address-list">
            {% paginate customer.addresses by 50 %}
            
                {% for address in customer.addresses reversed %}
                <div class="address {% if address == customer.default_address %}address--default{% endif %} address-{{ address.id }}">
                    <div class="address-info-col">
                        <div class="address-name">
                            {{ address.first_name | capitalize }} {{ address.last_name | capitalize }}
                            {% if address == customer.default_address %}({{ 'customer.addresses.default' | t }}){% endif %}
                        </div>
                        <div class="address-info">
                            {% if address.company != '' %}
                                {{ address.company }}<br>
                            {% endif %}
                            {{ address.street }}<br>
                            {{ address.city }},
                            {% if address.province_code %}
                            {{ address.province_code | upcase }}
                            {% endif %}
                            {{ address.zip | upcase }}<br>
                            {{ address.country }}<br>
                            {{ address.phone }}
                        </div>

                        <div class="customer-address-edit-wrap">
                            {% form 'customer_address', address %}
                            <div id="EditAddress_{{ address.id }}" class="customer-address customer-address-edit form-vertical bottom">

                                <div class="selection-wrapper">
                                    <div class="address-error">Please check the address fields and make sure all values are correct!</div>
                                    {{ form.errors | default_errors }}
                                </div>

                                <div class="selection-wrapper" style="display:none">
                                    <div class="errors">{{ 'customer.addresses.error' | t }}</div>
                                </div>

                                <div class="selection-wrapper form-rows form-rows--edit-address">
                                    <div class="input-row">
                                        <label class="hidden-label" for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                                        <input placeholder="{{ 'customer.addresses.first_name' | t }}" type="text" id="AddressFirstName_{{ form.id }}" class="input-full" name="address[first_name]" value="{{ form.first_name }}" autocapitalize="words">
                                    </div>
                                    <div class="input-row">
                                        <label class="hidden-label" for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                                        <input placeholder="{{ 'customer.addresses.last_name' | t }}" type="text" id="AddressLastName_{{ form.id }}" class="input-full" name="address[last_name]" value="{{ form.last_name }}" autocapitalize="words">
                                    </div>

                                    <div class="input-row">
                                        <a class="input-row__enable" href="#">+ <span class="hide-on-mobile">Company (optional)</span><span class="show-only-on-mobile">Add Company</span></a>
                                        <div class="input-row__content">
                                            <label class="hidden-label" for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                                            <input placeholder="{{ 'customer.addresses.company' | t }}" type="text" id="AddressCompany_{{ form.id }}" class="input-full" name="address[company]" value="{{ form.company }}" autocapitalize="words">
                                        </div>
                                    </div>

                                    <div class="input-row">
                                        <label class="hidden-label" for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                                        <input placeholder="{{ 'customer.addresses.address1' | t }}" type="text" id="AddressAddress1_{{ form.id }}" class="input-full AddressAddress1" name="address[address1]" value="{{ form.address1 }}" autocapitalize="words">
                                    </div>

                                    <div class="input-row">
                                        <label class="hidden-label" for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                                        <input placeholder="{{ 'customer.addresses.address2' | t }}" type="text" id="AddressAddress2_{{ form.id }}" class="input-full AddressAddress2" name="address[address2]" value="{{ form.address2 }}" autocapitalize="words">
                                    </div>

                                    <div class="input-row">
                                        <label class="hidden-label" for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                                        <input placeholder="{{ 'customer.addresses.city' | t }}" type="text" id="AddressCity_{{ form.id }}" class="input-full AddressCity" name="address[city]" value="{{ form.city }}" autocapitalize="words">
                                    </div>
                                    
                                    <div class="input-row" id="AddressProvinceContainer_{{ form.id }}">
                                        <label class="hidden-label" for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
                                        <select id="AddressProvince_{{ form.id }}" class="input-full full-select AddressProvince" name="address[province]" data-default="{{ form.province }}"></select>
                                    </div>

                                    <div class="input-row">
                                        <label class="hidden-label" for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                                        <input placeholder="Zip Code" type="text" id="AddressZip_{{ form.id }}" class="input-full AddressZip" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters">
                                    </div>

                                    <div class="input-row">
                                        <div class="input-col">
                                            <label class="hidden-label" for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                                            <input placeholder="{{ 'customer.addresses.phone' | t }}" type="tel" id="AddressPhone_{{ form.id }}" class="input-full" name="address[phone]" value="{{ form.phone }}">
                                        </div>
                                    </div>

                                    <div class="input-row checkbox-wrapper">
                                        {{ form.set_as_default_checkbox }}
                                        <label for="address_default_address_{{ form.id }}" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
                                    </div>

                                    <div class="input-row" style="display: none;">
                                        <label class="hidden-label" for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
                                        <select id="AddressCountry_{{ form.id }}" class="input-full full-select" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
                                    </div>

                                    <div class="submit submit--one-side">
                                        <div>
                                            <input type="submit" class="button button--dark" value="{{ 'customer.addresses.update' | t }}">
                                        </div>
                                        <div>
                                            <a href="#" class="button" onclick="Shopify.CustomerAddress.toggleForm({{ form.id }}); return false;">{{ 'customer.addresses.cancel' | t }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endform %}
                        </div>
                    </div>
                    <div class="address-edit-link">
                        <div class="address-edit__button"><a href="#" class="button" onclick="Shopify.CustomerAddress.toggleForm({{ address.id }}); return false">Edit<span class="show-only-on-mobile"> Address</span></a></div>
                        <div><a href="#" class="delete-address-link" onclick="Shopify.CustomerAddress.destroy({{ address.id }}, 'Are you sure you wish to delete this address?'); return false">Delete<span class="hide-on-mobile"> Address</span></a></div>
                    </div>
                </div>

                <script>
                    new Shopify.CountryProvinceSelector('AddressCountry_{{ address.id }}', 'AddressProvince_{{ address.id }}', {
                        hideElement: 'AddressProvinceContainer_{{ address.id }}'}
                    );
                </script>

                {% endfor %}

              {% if paginate.pages > 1 %}
                <footer class="collection-footer">
                  {% include 'pagination' %}
                </footer>
              {% endif %}

            {% endpaginate %}
            </div>
            {% else %}
            
            {% endif %}

            <div class="add-address__section">
                <div class="add-address-cta">
                    <a class="button button--dark" href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">{{ 'customer.addresses.add_new' | t }}</a>
                </div>
                {% render 'add-address-form' %}
            </div>
        </div>
    </section>
</section>

<script>
new Shopify.CountryProvinceSelector('AddressCountryNew', 'AddressProvinceNew', {
    hideElement: 'AddressProvinceContainerNew'
});

let rowEnablers = document.querySelectorAll('.input-row__enable');
for( let i = 0; i < rowEnablers.length; i++ ) {
    rowEnablers[i].addEventListener('click', function(e) {
        e.preventDefault();
        this.remove();
    });
}

Shopify.CustomerAddress = {
    toggleForm: function(id) {
        let addr = document.querySelector('.address-' + id);

        addr.classList.toggle('form-edit-on');
        
        return false;
    },

    toggleNewForm: function() {
        var el = document.getElementById('AddAddress');
        document.querySelector('.account-info').classList.toggle('new-address-active');
        document.querySelector('.add-address-cta').classList.toggle('hidden');
        el.style.display = el.style.display == 'none' ? '' : 'none';
        return false;
    },

    destroy: function(id, confirm_msg) {
        if (confirm(confirm_msg || "Are you sure you wish to delete this address?")) {
            Shopify.postLink('/account/addresses/'+id, {'parameters': {'_method': 'delete'}});
        }
    }
};
</script>

{% render 'address-validator-account' %}