<div class="page page--customers">
    <div class="wrapper">
        <div class="page-header page-header--account-auth">
            <h1 class="auth-title">{{ 'customer.reset_password.title' | t }}</h1>
        </div>

        <div class="content-container narrow form">

        {% form 'reset_customer_password' %}

            <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

            <div class="selection-wrapper">
            {{ form.errors | default_errors }}
            </div>

            <div class="selection-wrapper">
                <div class="input-row">
                    <label for="ResetPassword" class="hidden-label">{{ 'customer.reset_password.password' | t }}</label>
                    <input placeholder="New Password" type="password" value="" name="customer[password]" id="ResetPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}">
                </div>
                <div class="input-row">
                    <label for="PasswordConfirmation" class="hidden-label">{{ 'customer.reset_password.password_confirm' | t }}</label>
                    <input placeholder="{{ 'customer.reset_password.password_confirm' | t }}" type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}">
                </div>

                <div class="submit">
                    <div>
                        <input type="submit" class="button button--dark" value="{{ 'customer.reset_password.submit' | t }}">
                    </div>
                </div>
            </div>

        {% endform %}

        </div>
  </div>
</section>