<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="theme-color" content="">
        <link rel="canonical" href="{{ canonical_url }}">
        <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

        {%- if settings.favicon != blank -%}
        <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
        {%- endif -%}

        {%- unless settings.type_body_font.system? -%}
        <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
        {%- endunless -%}

        <title>
        {{ page_title }}
        {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
        {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
        {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
        </title>

        {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
        {% endif %}

        {% render 'meta-tags' %}

        <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
        <script src="{{ 'header.js' | asset_url }}" defer="defer"></script>
        <script src="{{ 'slider.js' | asset_url }}" defer="defer"></script>

        {{ content_for_header }}

        {%- liquid
            assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
            assign body_font_bold = settings.type_body_font_bolder
            assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
        %}

        {% style %}
        {{ settings.type_body_font | font_face: font_display: 'swap' }}
        {{ body_font_bold | font_face: font_display: 'swap' }}
        {{ body_font_italic | font_face: font_display: 'swap' }}
        {{ body_font_bold_italic | font_face: font_display: 'swap' }}

        :root {
            --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
            --font-body-style: {{ settings.type_body_font.style }};
            --font-body-weight: {{ settings.type_body_font.weight }};
            --font-body-weight-bold: {{ body_font_bold.weight }};
            
            --sale-price-color: {{ settings.sale_price_color }};

            --flash-accent: {{ settings.flash-sale-accent }};
            --flash-text: {{ settings.flash-sale-text-col }};

            --promo-msg-hgt: {{ settings.sale-msg-highlight-col }};
            --promo-msg-hgt-t: {{ settings.sale-msg-highlight-t-col }};
            --promo-msg-t: {{ settings.sale-msg-main-text }};
            --promo-msg-c-t: {{ settings.sale-msg-main-col-text }};

            --final-hgt: {{ settings.final-sale-highlight-col }};
            --final-hgt-t: {{ settings.final-sale-highlight-t-col }};
            --final-t: {{ settings.final-sale-main-text }};

            --preorder-hgt: {{ settings.preorder-highlight-col }};
            --preorder-hgt-t: {{ settings.preorder-highlight-t-col }};

            --sale-accent: {{ settings.sale_accent }};
            --sale-background: {{ settings.sale_background }};

            --sale-badge-bg: {{ settings.sale-badge-bg }};
            --sale-badge-color: {{ settings.sale-badge-color }};

            --product-unit-info-col: {{ settings.product-unit-info-col }};
            --product-unit-sw-limit: {{ settings.product-unit-sw-count }};
        }

        *,
        *::before,
        *::after {
            box-sizing: inherit;
        }

        html {
            box-sizing: border-box;
            font-size: 16px;
            height: 100%;
        }

        body {
            min-height: 100%;
            display: flex;
            flex-direction: column;
            line-height: 1.25em;
            font-family: var(--font-body-family);
            font-style: var(--font-body-style);
            font-weight: var(--font-body-weight);
        }
        {% endstyle %}

        {{ 'base.css' | asset_url | stylesheet_tag: preload: true }}
        {{ 'component-product-common.css' | asset_url | stylesheet_tag }}

        <link rel="stylesheet" href="{{ 'component-product-unit.css' | asset_url }}" media="print" onload="this.media='all'">
        <noscript>{{ 'component-product-unit.css' | asset_url | stylesheet_tag }}</noscript>
        
        <link rel="stylesheet" href="{{ 'component-floating-labels.css' | asset_url }}" media="print" onload="this.media='all'">
        <noscript>{{ 'component-floating-labels.css' | asset_url | stylesheet_tag }}</noscript>

        <link rel="stylesheet" href="{{ 'video.css' | asset_url }}" media="print" onload="this.media='all'">
        <noscript>{{ 'video.css' | asset_url | stylesheet_tag }}</noscript>

        <link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
        <noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

        {%- unless settings.type_body_font.system? -%}
            <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
        {%- endunless -%}

        {% comment %} {%- unless settings.type_body_font_bolder.system? -%}
            <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
        {%- endunless -%} {% endcomment %}

        <script>
            document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
            if (Shopify.designMode) {
                document.documentElement.classList.add('shopify-design-mode');
            }
        </script>
        
        {%- render 'header-scripts' -%}
        {% comment %} <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/j0R3HMDaDyhf40m2xcICbQ" async></script> {% endcomment %}
    </head>

    <body class="template-{{ template | replace: '.', '-' }}">
        {% section 'header' %}
        {% section 'mobile-menu' %}
        {% section 'search' %}

        {%- if template != 'cart' -%}
            {% section 'cart' %}
        {%- endif -%}

        <section class="header__container">
            {% section 'notifications' %}
            {% section 'header-banner' %}
        </section>
        
        <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
            {{ content_for_layout }}
        </main>

        {% section 'contact-form' %}
        {% section 'cookies' %}
        {% section 'footer' %}

        <ul hidden>
            <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
            <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
        </ul>

        <script>
        window.debug = false;
        window.shopUrl = '{{ request.origin }}';
        window.assetUrl = '{{ "asset.svg" | asset_url }}';
        window.filesUrl = '{{ "file.svg" | file_url }}';

        window.routes = {
            cart_add_url: '{{ routes.cart_add_url }}',
            cart_change_url: '{{ routes.cart_change_url }}',
            cart_update_url: '{{ routes.cart_update_url }}',
            cart_url: '{{ routes.cart_url }}',
            predictive_search_url: '{{ routes.predictive_search_url }}'
        };

        window.scripts = {
            quickview: `{{ 'quick-view.js' | asset_url }}`,
            variants: `{{ 'variants.js' | asset_url }}`,
            filter: `{{ 'filter.js' | asset_url }}`,
            menu: `{{ 'menu.js' | asset_url }}`,
            cart: `{{ 'cart.js' | asset_url }}`,
            ups: `{{ 'ups.js' | asset_url }}`,
            pdp: `{{ 'pdp.js' | asset_url }}`,
            klaviyo: 'https://a.klaviyo.com/media/js/onsite/onsite.js'
        }

        window.styles = {
            cart: `{{ 'section-cart.css' | asset_url }}`,
            pdp: `{{ 'section-pdp.css' | asset_url }}`,
            pdpGallery: `{{ 'component-pdp-gallery.css' | asset_url }}`,
            quickview: `{{ 'component-quick-view.css' | asset_url }}`,
            starRating: `{{ 'component-star-rating.css' | asset_url }}`,
            waitlist: `{{ 'component-waitlist.css' | asset_url }}`
        }

        window.settings = {
            bestSellers: {{ settings.best-sellers.handle | json }},
            newArrivals: {{ settings.new-arrivals.handle | json }},
            swatchesLimit: {{ settings.product-unit-sw-count }}
        }
        </script>

        {%- unless settings.disable_extra_scripts -%}
            {%- render 'footer-scripts' -%}
        {%- endunless -%}
    </body>
</html>