{{ 'section-collection-filter.css' | asset_url | stylesheet_tag: preload: true }}

<link rel="stylesheet" href="{{ 'component-filter-color.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-filter-sort.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>
    {{ 'component-filter-color.css' | asset_url | stylesheet_tag }}
    {{ 'component-filter-sort.css' | asset_url | stylesheet_tag }}
</noscript>

<script src="{{ 'filter-basic.js' | asset_url }}" defer="defer"></script>

<section class="collection-filters__control">
    <div class="collection-filter__activators">
        <button class="filter__activator filter__activator--color">
            Color <i></i>
        </button>

        <button class="filter__activator filter__activator--sort">
            Sort by
        </button>
    </div>
    {%- if linklists[section.settings.menu] != blank and section.settings.menu != blank -%}
    <div class="collections-menu">
        {%- for link in linklists[section.settings.menu].links -%}
        <a href="{{ link.url }}" class="button{% if link.current %} collections-menu__current{% endif %} button--secondary">{{- link.title | escape -}} {% if link.current %}<i>{{ collection.products.size }}</i>{% endif %}</a>
        {%- endfor -%}
    </div>
    {%- endif -%}
    <div class="collection-view">
        <span class="col-view__text">View</span>
        <button class="col-view__button col-view__button--less">
            <span class="mobile-only">1</span>
            <span class="tablet-only">2</span>
            <span class="desktop-only">3</span>
        </button>
        <button class="col-view__button col-view__button--more">
            <span class="mobile-only">2</span>
            <span class="tablet-only">3</span>
            <span class="desktop-only">5</span>
        </button>
    </div>
    <div class="current-filters-list"></div>
</section>

<section class="collection-filters">
    <button class="filter__reset">Clear All</button>
    <nav class="active-filters-nav">
        <button class="filter__activator filter__activator--color">
            Color <i></i>
        </button>

        <button class="filter__activator filter__activator--sort">
            Sort by
        </button>
    </nav>
    <div class="collection-filter collection-filter--color">
        <div class="slider__wrapper">
            <div class="slider slider--filt-col">
               
            </div>
        </div>
        <div class="filter__buttons">
            <button class="button filters__close">Apply</button>
            <button class="button button--secondary filters__close">Close</button>
        </div>
    </div>
    <div class="collection-filter collection-filter--sort">
        <ul class="list-unstyled">
            <li>
                <label><input value="featured" checked="checked" type="radio" name="sort"> Featured</labe>
            </li>
            <li>
                <label><input value="new" type="radio" name="sort"> Newest</labe>
            </li>
            <li>
                <label><input value="best" type="radio" name="sort"> Best Selling</labe>
            </li>
            <li>
                <label><input value="price-desc" type="radio" name="sort"> Price high - low</labe>
            </li>
            <li>
                <label><input value="price-asc" type="radio" name="sort"> Price low - high</labe>
            </li>
        </ul>
    </div>
</section>

{% schema %}
    {
        "name": "Collection Filter",
        "class": "shopify-section--col-filter",
        "settings": [
            {
                "type": "link_list",
                "id": "menu",
                "label": "Menu"
            }
        ]
    }
{% endschema %}