{%- liquid
    assign show = false

    if section.settings.collection_list == blank
        assign show = true
    else
        for col in section.settings.collection_list
            if col.id == collection.id
                assign show = true
                break
            endif
        endfor
    endif
-%}

{%- if show -%}
{{ 'section-collection-categories.css' | asset_url | stylesheet_tag }}

<div class="collection-categories__wrapper slider__wrapper">
    <button aria-label="Show previous slide" class="slider__control button-tri-left slider__control--prev" title="Previous"></button>
    <button aria-label="Show next slide" class="slider__control button-tri-right slider__control--next" title="Next"></button>
    <section class="filter__collections slider slider--scrollbar">
        {%- for block in section.blocks -%}
        <div
            class="filter__collection slide"
            {% if block.settings.product_list != blank %}data-products="{%- for product in block.settings.product_list -%}
                {%- unless forloop.first -%},{%- endunless -%}{{- product.id -}}
            {%- endfor -%}"
            {% elsif block.settings.collection != blank %}data-collection="{{ block.settings.collection.handle }}"{% endif %}
        >
            <div class="filter__collection-image">
                {%- if block.settings.image != blank -%}
                    {%- render 'image' with block.settings.image, sizes: '25vw', no_wrapper: true -%}
                {%- elsif block.settings.collection.image != blank and block.settings.collection != blank -%}
                    {%- render 'image' with block.settings.collection.image, sizes: '25vw', no_wrapper: true -%}
                {%- endif -%}
            </div>
            <h2 class="filter__collection-title">{{- block.settings.title | escape -}}</h2>
            {%- if block.settings.description != blank -%}
            <div class="filter__collection-desc">{{- block.settings.description -}}</div>
            {%- endif -%}
        </div>
        {%- endfor -%}
    </section>
</div>
{%- endif -%}

{% schema %}
    {
        "name": "Collection Categories",
        "class": "shopify-section--col-categories",
        "settings": [
            {
                "type": "collection_list",
                "id": "collection_list",
                "label": "Show for these collections only"
            }
        ],
        "blocks": [
            {
                "name": "Filter",
                "type": "filter",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "collection",
                        "id": "collection",
                        "label": "Collection"
                    },
                    {
                        "type": "product_list",
                        "id": "product_list",
                        "label": "Product list",
                        "info": "Overrides collection"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "textarea",
                        "id": "description",
                        "label": "Description"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Collection Categories"
            }
        ]
    }
{% endschema %}