{{ 'section-community-gallery-content-block.css' | asset_url | stylesheet_tag }}

<div class="community-gallery-content-block__container">
    <div class="community-gallery-content-block__column">
        {%- assign counter = 0 -%}
        {%- for block in section.blocks -%}
            {%- if block.type == 'video' -%}
                <div class="curalate-gallery__video">
                    {%- liquid
                        render 'video' with block.settings.video1, lazy: true, video_ratio: ratio, loop: true, controls: false, autoplay: false
                    -%}
                </div>
            {%- elsif block.type == 'quote' -%}
                <div class="curalate-gallery__quote" style="height: {{ block.settings.quote_height }}px">
                    <div class="curalate-gallery__stars">
                        <img alt="Star" src="{{- 'icon-star-black.svg' | asset_url -}}" class="star-icon" loading="lazy" width="11">
                        <img alt="Star" src="{{- 'icon-star-black.svg' | asset_url -}}" class="star-icon" loading="lazy" width="11">
                        <img alt="Star" src="{{- 'icon-star-black.svg' | asset_url -}}" class="star-icon" loading="lazy" width="11">
                        <img alt="Star" src="{{- 'icon-star-black.svg' | asset_url -}}" class="star-icon" loading="lazy" width="11">
                        <img alt="Star" src="{{- 'icon-star-black.svg' | asset_url -}}" class="star-icon" loading="lazy" width="11">
                    </div>
                    <div class="curalate-gallery__quote-text">       
                        <h2>{{ block.settings.quote }}</h2>
                    </div>
                    {%- if block.settings.reviewer != empty -%}
                        <div class="curalate-gallery__quote-reviewer">
                            {{ block.settings.reviewer }}
                        </div>
                    {%- endif -%}
                </div>
            {%- elsif block.type == 'lifestyle_image' -%}
                <div class="curalate-gallery__lifestyle-image">
                    <img src="{{ block.settings.lifestyle_image | img_url: 'master' }}" alt="Lifestyle Image">
                </div>
            {%- endif -%}
    
            {%- assign counter = counter | plus: 1 -%}
    
            {%- if counter == 2 -%}
                </div> <!-- Closing community-gallery-content-block__column -->
                {%- if forloop.last == false -%}
                    <div class="community-gallery-content-block__column">
                {%- endif -%}
                {%- assign counter = 0 -%}
            {%- endif -%}
        {%- endfor -%}
        {%- if counter != 0 -%}
            </div> <!-- Closing community-gallery-content-block__column if there's a remaining item -->
        {%- endif -%}
    </div>
</div>

{% schema %}
    {
        "name": "Community Gallery Content",
        "class": "shopify-section--community-gallery-content",
        "max_blocks": 4,
        "blocks": [
            {
                "type": "video",
                "name": "Video",
                "settings": [
                    {
                        "type": "video_url",
                        "id": "video1",
                        "label": "Video #1",
                        "accept": ["vimeo"]
                    }
                ]
            },
            {
                "type": "quote",
                "name": "Quote",
                "settings": [
                    {
                        "type": "text",
                        "id": "quote",
                        "label": "Quote"
                    },
                    {
                        "type": "richtext",
                        "id": "reviewer",
                        "label": "Reviewer"
                    },
                    {
                        "type": "number",
                        "id": "quote_height",
                        "label": "Quote Height (in px)",
                        "default": 200
                    }
                ]
            },
            {
                "type": "lifestyle_image",
                "name": "Lifestyle Image",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "lifestyle_image",
                        "label": "Image"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Community Gallery Content"
            }
        ]
    }
{% endschema %}