{{ 'section-content-slider.css' | asset_url | stylesheet_tag }}

<div class="page-anchor"></div>

<section class="content-slider content-slider--{{ section.id }}" aria-label="carousel" role="region">
    <div class="slider__wrapper slider__wrapper--nav slider__wrapper--content-slider" role="region">
        <span class="sr-only">
            Click the slider dots to move the slider
        </span>
        <ul style="list-style: none" class="slider slider-nav content-slider__nav" data-nav-for=".content-slider--{{ section.id }} .content-slider__main">
            {%- for block in section.blocks -%}
            <li class="{% if forloop.first %} slide--selected{% endif %} content-slider__nav-slide slide" {% if forloop.first %} aria-current="true"{% endif %}>{{- block.settings.title | escape -}}</li>
            {%- endfor -%}
        </ul>
    </div>
    <div class="slider__wrapper">
        <ul style="list-style: none" class="slider content-slider__main" data-nav=".content-slider--{{ section.id }} .content-slider__nav">
            <span class="sr-only">
                Click the slider dots to move the slider
            </span>
            {%- for block in section.blocks -%}
            <li class="content-slider__main-slide slide">
                {%- liquid
                    if block.settings.image1 != blank and block.settings.image2 != blank
                        assign size = '(min-width: 901px) 25vw, 50vw'
                    else
                        assign size = '(min-width: 901px) 50vw, 100vw'
                    endif
                -%}
                {%- if block.settings.image1 != blank or block.settings.image2 != blank -%}
                <div class="content-slider__main-media">
                    {%- if block.settings.image1 != blank -%}
                    <div class="content-slider__media">
                        {% render 'image' with block.settings.image1, sizes: size, lazy: true %}
                    </div>
                    {%- endif -%}

                    {%- if block.settings.image2 != blank -%}
                    <div class="content-slider__media">
                        {% render 'image' with block.settings.image2, sizes: size, lazy: true, alt: alt %}
                    </div>
                    {%- endif -%}
                </div>
                {%- endif -%}

                <div class="content-slider__main-text">
                    {{- block.settings.text -}}
                </div>
            </li>
            {%- endfor -%}
        </ul>
    </div>
</section>

{% style %}
.content-slider--{{ section.id }} {
    background: {{ section.settings.background-color }};
}
{% endstyle %}

{% schema %}
    {
        "name": "Content Slider",
        "class": "shopify-section--content-slider",
        "settings": [
            {
                "type": "color",
                "id": "background-color",
                "label": "Background Color",
                "default": "#f7f177"
            }
        ],
        "blocks": [
            {
                "type": "slide",
                "name": "Slide",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "Text"
                    },
                    {
                        "type": "image_picker",
                        "id": "image1",
                        "label": "Image #1"
                    },
                    {
                        "type": "image_picker",
                        "id": "image2",
                        "label": "Image #2"
                    },
                    {
                        "type": "video_url",
                        "id": "video1",
                        "label": "Video #1",
                        "accept": ["youtube", "vimeo"]
                    },
                    {
                        "type": "video_url",
                        "id": "video2",
                        "label": "Video #2",
                        "accept": ["youtube", "vimeo"]
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Content Slider"
            }
        ]
    }
{% endschema %}