{{ 'component-customer-nav.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'component-orders.css' | asset_url | stylesheet_tag: preload: true }}

<section class="customer__main">
    {% render 'account-nav', current: 'orders' %}

    <div class="account-info orders-container">
        <div class="orders">
            {% if customer.orders.size > 0 %}
                <h1 class="orders__title">Review your order history</h1>

                {% paginate customer.orders by 20 %}
                    <div class="order-summary-container">
                        {% for order in customer.orders %}
                            {%- render 'order-summary' with order -%}
                        {% endfor %}
                    </div>

                    {% if paginate.pages > 1 %}
                        {% include 'pagination', paginate: paginate %}
                    {% endif %}
                {% endpaginate %}

            {% else %}
                <div class="customer__no-result-msg">{{- section.settings.no-orders | strip_html | escape -}}</div>

                {%- if section.settings.collection != blank -%}
                    {%- assign collection = section.settings.collection -%}
                    <div data-slide="3" class="slider__wrapper slider__wrapper--start">
                        <div class="product-slider__header">
                            <div class="product-slider__title">
                                {%- if section.settings.override-title != blank -%}
                                    {{- section.settings.override-title | escape -}}
                                {%- else -%}
                                    {{- collection.title | escape -}}
                                {%- endif -%}
                            </div>

                            <nav class="slider__nav">
                                <button aria-label="Show previous slide" class="slider__control tri-left slider__control--prev" title="Previous"></button>
                                <button aria-label="Show next slide" class="slider__control tri-right slider__control--next" title="Next"></button>
                            </nav>
                        </div>
                        <div class="slider" aria-label="carousel" role="region">
                            {%- liquid
                                for product in collection.products limit: 10
                                    render 'product-unit' with product, wishlist: section.settings.wishlist, class: 'slide', quick_view: section.settings.quick_view, sizes: '300px'
                                endfor
                            -%}
                        </div>
                    </div>
                {%- endif -%}
            {% endif %}
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Customer Orders",
        "settings": [
            {
                "type": "text",
                "id": "no-orders",
                "label": "No orders message",
                "default": "You haven't placed any orders yet"
            },
            {
                "type": "collection",
                "id": "collection",
                "label": "Featured collection"
            },
            {
                "type": "text",
                "id": "override-title",
                "label": "Title override"
            },
            {
                "type": "checkbox",
                "id": "wishlist",
                "label": "Enable wishlist",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "quick_view",
                "label": "Enable quickview",
                "default": true
            }
        ]
    }
{% endschema %}