{{ 'component-customer-nav.css' | asset_url | stylesheet_tag: preload: true }}

<section class="customer__main">
    {% render 'account-nav', current: 'info' %}
        
    <div class="account-info">
        <div class="account-info__title">Review your information</div>
        <div class="account-name">{{ customer.name }}</div>

        <div class="account-user-info">
            {{ customer.email }}<br>
            {{ customer.phone }}
        </div>

        <div class="account-control-buttons">
            <a href="{{ routes.account_login_url }}#recover" class="button button--secondary"><span>Reset My Password</span></a>
        </div>
    </div>
</section>