{{ 'section-featured-content-blocks.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-floating-link.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-floating-link.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page-anchor"></div>

{% if section.settings.heading != blank %}
    <h2 class="content-blocks__title">{{- section.settings.heading | strip_html | escape -}}</h2>
{% endif %}

<div class="content-blocks content-blocks--{{ section.settings.content-position }} content-blocks--{{ section.settings.general-layout }} content-blocks--mobile-{{ section.settings.mobile-layout }}{% if section.settings.gap %} content-blocks--gap{% endif %}">
{%- liquid
    assign size_d = 100 | divided_by: section.blocks.size | round: 4 | append: 'vw'
    if section.settings.mobile-layout == 'stacked'
        assign size_m = '100vw'
    else
        assign size_m = '80vw'
    endif

    assign size = '(min-width: 901px) ' | append: size_d | append: ', ' | append: size_m
-%}
{% for block in section.blocks %}
    <div class="content-block">
        {%- if block.settings.description != blank or block.settings.title != blank -%}
        <div class="content-block__info">
            {%- if block.settings.title != blank -%}
            <div class="content-block__title">
                {%- if block.settings.target_link != blank -%}
                <a href="{{ block.settings.target_link }}">{{- block.settings.title | escape -}}</a>
                {%- else -%}
                {{- block.settings.title | escape -}}
                {%- endif -%}
            </div>
            {%- endif -%}

            {%- if block.settings.description != blank -%}
            <div class="content-block__description">
                {{- block.settings.description -}}
            </div>
            {%- endif -%}
        </div>
        {%- endif -%}

        <div class="content-block__media">
            {%- liquid
                if block.settings.target_link != blank
                    echo '<a href="' | append: block.settings.target_link | append: '">'
                endif

                if block.settings.video != blank
                    assign ratio = block.settings.video-ratio-w | append: '/' | append: block.settings.video-ratio-h

                    render 'video' with block.settings.video, poster: block.settings.image, lazy: true, video_ratio: ratio, loop: true, controls: false, autoplay: true
                else
                    if block.settings.image_mobile != blank and block.settings.image != blank
                        render 'image' with block.settings.image, lazy: true, sizes: size, class: 'hide-small'
                        render 'image' with block.settings.image_mobile, lazy: true, sizes: size, class: 'hide-large'
                    elsif block.settings.image != blank
                        render 'image' with block.settings.image, lazy: true, sizes: size
                    elsif block.settings.image_mobile != blank
                        render 'image' with block.settings.image_mobile, lazy: true, sizes: size
                    endif
                endif

                if block.settings.target_link != blank
                    echo '</a>'
                endif
            -%}
        </div>

        {%- if block.settings.button-text != blank -%}
        <div class="floating-link">
            <div class="hide--desktop floating-link-mobile">
                <a href="{{ block.settings.button_url_mobile }}" class="button button--secondary" >
                    {% assign temp = block.settings.product_title | split: ' ' %}
                    {{ block.settings.button_text_mobile }}
                </a>
            </div>
            <div class="hide--mobile">
                <a href="{{ block.settings.target_link }}" class="button button--secondary">
                    {{ block.settings.button-text }}
                </a>
            </div>


            {% if block.settings.product_title != blank %}
            <div class="floating-link__pictured">
                Pictured: <a href="{{ block.settings.pictured_product }}">{{- block.settings.product_title | escape -}}</a>
            </div>
            {% endif %}
        </div>
        {%- endif -%}
    </div>
{% endfor %}
</div>

{%- if section.settings.button-text != blank -%}
<div class="content-blocks__button">
    <a href="{{ section.settings.button-link }}" class="button">
        <span>{{- section.settings.button-text | strip_html | escape -}}</span>
    </a>
</div>
{%- endif -%}

{% schema %}
    {
        "name": "Featured Content Blocks",
        "class": "shopify-section--content-blocks",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            },
            {
                "type": "checkbox",
                "id": "gap",
                "label": "Add a gap between blocks",
                "default": false
            },
            {
                "type": "select",
                "id": "general-layout",
                "label": "General Layout",
                "options": [
                    {
                        "value": "text-media",
                        "label": "Text then media"
                    },
                    {
                        "value": "media-text",
                        "label": "Media then text"
                    }
                ],
                "default": "text-media"
            },
            {
                "type": "select",
                "id": "content-position",
                "label": "Content Position",
                "options": [
                    {
                        "value": "stretch",
                        "label": "Stretch"
                    },
                    {
                        "value": "top",
                        "label": "Top"
                    }
                ],
                "default": "stretch"
            },
            {
                "type": "select",
                "id": "mobile-layout",
                "label": "Mobile Layout",
                "options": [
                    {
                        "value": "stacked",
                        "label": "Stacked"
                    },
                    {
                        "value": "scrollable",
                        "label": "Scrollable list"
                    }
                ],
                "default": "stacked"
            },
            {
                "type": "text",
                "id": "button-text",
                "label": "Button text"
            },
            {
                "type": "url",
                "id": "button-link",
                "label": "Button link"
            }
        ],
        "blocks": [
            {
                "type": "block",
                "name": "Block",
                "settings": [
                    {
                        "type": "url",
                        "id": "target_link",
                        "label": "Object link"
                    },
                    {
                        "type": "header",
                        "content": "Text"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "richtext",
                        "id": "description",
                        "label": "Description"
                    },
                    {
                        "type": "text",
                        "id": "button-text",
                        "label": "Button Text"
                    },
                    {
                        "type": "header",
                        "content": "Product"
                    },
                    {
                        "type": "url",
                        "id": "pictured_product",
                        "label": "Pictured Product URL"
                    },
                    {
                        "type": "text",
                        "id": "product_title",
                        "label": "Product Title"
                    },
                    {
                        "type": "header",
                        "content": "Mobile Button"
                    },
                    {
                        "type": "text",
                        "id": "button_text_mobile",
                        "label": "Button Text for Mobile"
                    },
                    {
                        "type": "url",
                        "id": "button_url_mobile",
                        "label": "Button Url for Mobile"
                    },
                    {
                        "type": "header",
                        "content": "Media"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "video_url",
                        "id": "video",
                        "label": "Video",
                        "accept": ["vimeo"]
                    },
                    {
                        "type": "text",
                        "id": "video-ratio-w",
                        "label": "Video aspect ratio width",
                        "default": "16",
                        "info": "16/9 - standard widescreen, 9/16 - portrait, 1/1 square, etc."
                    },
                    {
                        "type": "text",
                        "id": "video-ratio-h",
                        "label": "Video aspect ratio height",
                        "default": "9"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_mobile",
                        "label": "Image for mobile"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Featured Content Blocks"
            }
        ]
    }
{% endschema %}