{{ 'section-header.css' | asset_url | stylesheet_tag: preload: true }}

<link rel="stylesheet" href="{{ 'component-header-subnav.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-popup.css' | asset_url }}" media="print" onload="this.media='screen and (min-width: 901px)'">
<link rel="stylesheet" href="{{ 'component-menu-list.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-article-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-color-swatch.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-header-subnav.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-popup.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-list.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-article-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-color-swatch.css' | asset_url | stylesheet_tag }}</noscript>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.33/moment-timezone-with-data.min.js"></script>

<script src="{{ 'header.js' | asset_url }}" defer="defer"></script>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        var liveStatus = "{{ section.settings.live }}";
        var liveLinkElement = document.querySelector('.header__live-link');

        function getAdjustedDate(dateStr) {
        var date = new Date(dateStr + ' PDT');
            date.setMinutes(date.getMinutes() - date.getTimezoneOffset());
            return date;
        }
    
        var startTime = moment.tz("{{ section.settings['live-start-time'] }}", "MMMM DD, YYYY hh:mma", 'America/Los_Angeles').toDate();
        var endTime = moment.tz("{{ section.settings['live-end-time'] }}", "MMMM DD, YYYY hh:mma", 'America/Los_Angeles').toDate();
    
        function updateLiveLink() {
            var currentTime = new Date();
            if(liveStatus == "true" && currentTime >= startTime && currentTime <= endTime) {
              liveLinkElement.classList.add('header__live-link--active');
            } else {
              liveLinkElement.classList.remove('header__live-link--active');
            }
        }
        
        // Check and update immediately
        updateLiveLink();
        // Then keep checking every 15 seconds
        setInterval(updateLiveLink, 15000);
    });
</script>

<section class="site-header">
    <button id="skip-content-btn" tabindex="0">Skip to content</button>
    <nav class="site-header__nav" aria-label="primary">
        <div class="site-header__overlay"></div>
        {% render 'shop-menu' %}
        {% render 'discover-menu' %}
        <ul id="nav-header-top" class="header__nav header__nav--excerpt hide-large" role="tabpanel" aria-labelledby="site-header__menu-item-top" role="tablist">
            <li class="site-header__menu-item">
                <a aria-controls="nav-header-top" tabindex="0" role="button" href="#" class="mobile-menu__activator burger-link" data-target="shop">
                    Shop
                </a>
            </li>
            <li class="site-header__menu-item">
                <a aria-controls="nav-header-top" tabindex="0" role="button" href="#" class="header__search-link">
                    <img alt="Search" loading="lazy" src="{{ 'icon-search.svg' | asset_url }}">
                </a>
            </li>
        </ul>
        <ul id="nav-header-bottom" class="header__nav header__nav--full" aria-labelledby="site-header__menu-item-bottom">
            <li class="site-header__menu-item">
                <a id="shop__mobile_tab" aria-controls="shop__mobile_tabpanel" role="button" tabindex="0" href="#" class="menu-popup__activator" data-target="shop">Shop</a>
            </li>
            <li class="site-header__menu-item">
                <a href="{{ section.settings.sale_link }}" class="only-desktop" data-target="sale">Sale</a>
            </li>
            <li class="site-header__menu-item">
                <a id="discover__mobile_tab" aria-controls="discover__mobile_tabpanel"role="button" tabindex="0" href="#" class="menu-popup__activator" data-target="discover">Discover</a>
            </li>
            <li class="site-header__menu-item">
                <a href="/pages/live-shopping" class="header__live-link" aria-label="Live shopping page">Live</a>
                <span class="visually-hidden">Indicator for live event in progress</span>
            </li>
            <li class="site-header__menu-item">
                <a role="button" href="#" class="header__search-link">
                    <img alt="Search" loading="lazy" src="{{ 'icon-search.svg' | asset_url }}">

                    {%- assign placeholders = section.settings.placeholder-text | newline_to_br | split: '<br />' -%}
                    {%- if placeholders.size > 0 -%}
                    <div class="search-placeholders" data-num="{{- placeholders.size -}}">
                        <div class="search-placeholders__inner">
                            {%- for placeholder in placeholders -%}
                            <div class="search-placeholder"><em>{{- placeholder | escape -}}</em></div>
                            {%- endfor -%}
                            {%- if placeholders.size > 1 -%}
                            <div class="search-placeholder"><em>{{- placeholders | first | escape -}}</em></div>
                            {%- endif -%}
                        </div>
                    </div>
                    {%- endif -%}
                </a>
            </li>
        </ul>
    </nav>
    <div class="site-header__logo">
        <a href="{{ shop.url }}" title="Home">
            {% assign alt = 'Calpak Home' %}
            {% render 'image' with 'logo.png', asset: true, preload: true, sizes: '120px', no_wrapper: true | alt: 'Calpak Home' %}
        </a>
    </div>
    <nav class="site-header__nav" aria-label="secondary">
        <ul>
            <li class="site-header__menu-item hide-small">
                <a id="click-desktop-nav-rewards" class="click-desktop-nav-rewards" href="/pages/rewards" role="button" aria-label="rewards page">
                    {%- if customer -%}
                        Rewards
                    {%- else -%}
                        Get $5
                    {%- endif -%}
                </a>
            </li>
            <li class="site-header__dropdown subnav__container site-header__menu-item hide-small">
                <a href="{{ routes.account_url }}" class="subnav__activator" role="button" aria-controls="account-links" aria-expanded="false">
                    {%- if customer -%}
                        Hi, {{ customer.first_name | escape }}
                    {%- else -%}
                        My Account
                    {%- endif -%}
                </a>

                <ul id="account-links" class="site-header__subnav list-unstyled">
                    {%- if customer -%}
                    <li>
                        <a href="{{ routes.account_url }}">My Account</a>
                    </li>
                    <li>
                        {{ 'Logout' | customer_logout_link }}
                    </li>
                    {% else %}
                    <li>
                        {{ 'Log in' | customer_login_link }}
                    </li>
                    <li>
                        {{ 'Register' | customer_register_link }}
                    </li>
                    {% endif %}
                </ul>
            </li>
            <li class="site-header__menu-item hide-small">
                <a href="#" class="header__notifications-link notifications-icon" role="button" title="Notifications" aria-label="notifications">
                    {% render 'icon-notifications' %}
                </a>
            </li>
            <li class="site-header__menu-item">
                <a href="{% if customer == blank %}/pages/wishlist{% else %}{{ routes.account_url }}?view=wishlist{% endif %}" class="header__wishlist-link" title="Wishlist" aria-label="wishlist">
                    {% render 'icon-heart' %}
                </a>
            </li>
            <li class="site-header__menu-item">
                <a href="{{ routes.cart_url }}" class="header__bag-link{% if template != 'cart' %} open-cart-link{% endif %}" title="Cart" aria-label="cart" role="button">
                    <span class="header__bag-title hide-small">Bag</span>
                    <span class="header__bag-icon{% if cart.item_count > 0 %} header__bag-icon--full{% endif %}">
                        <div class="header__bag-count">{{ cart.item_count }}</div>
                        {% render 'icon-bag' %}
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</section>

{% schema %}
{
    "name": "Header",
    "class": "shopify-section--header",
    "settings": [
        {
            "type": "link_list",
            "id": "shop-menu",
            "label": "Shop Menu"
        },
        {
        "type": "url",
        "id": "sale_link",
        "label": "Sale link (Only Desktop)"
        },
        {
            "type": "link_list",
            "id": "discover-menu",
            "label": "Discover Menu"
        },
        {
            "type": "text",
            "id": "edits-title",
            "label": "Stories title",
            "default": "Latest Stories"
        },
        {
            "type": "textarea",
            "id": "placeholder-text",
            "label": "Search placeholders",
            "info": "Each one on a new line"
        },
        {
            "type": "header",
            "content": "Live Shopping"
        },
        {
            "type": "checkbox",
            "id": "live",
            "label": "Live Shopping active",
            "info": "Master control for live icon",
            "default": false
        },
        {
            "type": "text",
            "id": "live-start-time",
            "label": "Live Shopping Start Time",
            "info": "Format: 'Month DD, YYYY hh:mmam/pm'. All times should be in PDT."
        },
        {
            "type": "text",
            "id": "live-end-time",
            "label": "Live Shopping End Time",
            "info": "Format: 'Month DD, YYYY hh:mmam/pm'. All times should be in PDT."
        }
    ],
    "blocks": [
        {
            "type": "featured-collection",
            "name": "Featured Collection",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Label",
                    "info": "For organization purposes. Not shown on site."
                },
                {
                    "type": "range",
                    "id": "submenu-number",
                    "min": 1,
                    "max": 10,
                    "step": 1,
                    "label": "Submenu number",
                    "default": 1
                },
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collection"
                },
                {
                    "type": "text",
                    "id": "block-title",
                    "label": "Title"
                }
            ]
        },
        {
            "type": "discover-block",
            "name": "Discover Block",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Label",
                    "info": "For organization purposes. Not shown on site."
                },
                {
                    "type": "url",
                    "id": "button-url",
                    "label": "Link"
                },
                {
                    "type": "text",
                    "id": "block-title",
                    "label": "Title"
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description"
                },
                {
                    "type": "text",
                    "id": "button-text",
                    "label": "Button Text"
                },
                {
                    "type": "checkbox",
                    "id": "link-for-button",
                    "label": "Link for button only",
                    "default": false
                },
                {
                    "type": "select",
                    "id": "text-color-scheme",
                    "label": "Text Color Scheme",
                    "options": [
                        {
                            "value": "white",
                            "label": "White"
                        },
                        {
                            "value": "black",
                            "label": "Black"
                        }
                    ],
                    "default": "white"
                },
                {
                    "type": "header",
                    "content": "Media"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "video_url",
                    "id": "video",
                    "label": "Video",
                    "accept": ["vimeo"]
                },
                {
                    "type": "text",
                    "id": "video-ratio-w",
                    "label": "Video aspect ratio width",
                    "default": "16",
                    "info": "16/9 - standard widescreen, 9/16 - portrait, 1/1 square, etc."
                },
                {
                    "type": "text",
                    "id": "video-ratio-h",
                    "label": "Video aspect ratio height",
                    "default": "9"
                }
            ]
        },
        {
            "type": "shop-block",
            "name": "Shop Block",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Label",
                    "info": "For organization purposes. Not shown on site."
                },
                {
                    "type": "range",
                    "id": "submenu-number",
                    "min": 1,
                    "max": 10,
                    "step": 1,
                    "label": "Submenu number",
                    "default": 1
                },
                {
                    "type": "url",
                    "id": "button-url",
                    "label": "Link"
                },
                {
                    "type": "header",
                    "content": "Text"
                },
                {
                    "type": "text",
                    "id": "block-title",
                    "label": "Title"
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description"
                },
                {
                    "type": "text",
                    "id": "button-text",
                    "label": "Button Text"
                },
                {
                    "type": "checkbox",
                    "id": "link-for-button",
                    "label": "Link for button only",
                    "default": false
                },
                {
                    "type": "select",
                    "id": "text-color-scheme",
                    "label": "Text Color Scheme",
                    "options": [
                        {
                            "value": "white",
                            "label": "White"
                        },
                        {
                            "value": "black",
                            "label": "Black"
                        }
                    ],
                    "default": "white"
                },
                {
                    "type": "header",
                    "content": "Media"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "video_url",
                    "id": "video",
                    "label": "Video",
                    "accept": ["vimeo"]
                },
                {
                    "type": "text",
                    "id": "video-ratio-w",
                    "label": "Video aspect ratio width",
                    "default": "16",
                    "info": "16/9 - standard widescreen, 9/16 - portrait, 1/1 square, etc."
                },
                {
                    "type": "text",
                    "id": "video-ratio-h",
                    "label": "Video aspect ratio height",
                    "default": "9"
                }
            ]
        },
        {
            "type": "edit",
            "name": "Edit",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Label",
                    "info": "For organization purposes. Not shown on site."
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "edit-title",
                    "label": "Title"
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                }
            ]
        },
        {
			"type": "announcement",
			"name": "Announcement"
		}
    ]
}
{% endschema %}