{{ 'section-hero.css' | asset_url | stylesheet_tag: preload: true }}

{% if section.settings.enable-sticky-promo %}

  <link
    rel="stylesheet"
    href="{{ 'component-sticky-promo.css' | asset_url }}"
    media="print"
    onload="this.media='all'">
  <noscript>{{ 'component-sticky-promo.css' | asset_url | stylesheet_tag }}</noscript>

  <div class="sticky-promo sticky-promo--only-hero">
    <button
      aria-label="Close promo box"
      class="close-button close-button--{{ section.settings.close-color-scheme }} sticky-promo__close"
      title="Close"></button>
    <a href="{{ section.settings.promo-link }}">
      {% render 'image' with section.settings.promo-image, sizes: '220px', lazy: true %}
    </a>
    {%- if section.settings.promo-text != blank -%}
      <div class="sticky-promo__info">
        <a href="{{ section.settings.promo-link }}">{{- section.settings.promo-text | escape -}}</a>
      </div>
    {%- endif -%}
  </div>
{% endif %}

{%- assign num = 0 -%}
{% assign mobile_num = 0 %}
{% assign mobile_num = 0 %}
{%- capture content -%}
  {% for block in section.blocks %}
    {%- if block.type == 'text-block' -%}
      {%- liquid
                if customer == blank and block.settings.show-condition == 'logged-in'
                    continue
                endif

                if customer != blank and block.settings.show-condition == 'logged-out'
                    continue
                endif
            -%}
      <div class="hero__block{% if block.settings.show-screens == 'desktop' %} hide-small{% elsif block.settings.show-screens == 'mobile' %} hide-large{% endif %} hero__block-{{ num }} hero__block-mobile-{{ mobile_num }} hero__block--color-{{ block.settings.text-color-scheme }} hero__block--align-{{ block.settings.text-alignment }} hero__block--{{ block.type }} hero__block--{{ block.id }}">
        {%- if block.settings.main-link != blank and block.settings.add-link-to-button-only == false or block.settings.button-text == blank -%}
          <a href="{{ block.settings.main-link }}">
          {%- endif -%}

          {%- if block.settings.title != blank -%}
            <h1 class="hero__block-title">{{- block.settings.title | replace: '[name]', customer.first_name | escape -}}</h1>
          {%- endif -%}

          {%- if block.settings.description != blank -%}
            <div class="hero__block-description">
              {{- block.settings.description | replace: '[name]', customer.first_name -}}
            </div>
          {%- endif -%}

          {%- if block.settings.button-text != blank -%}
            {%- if block.settings.add-link-to-button-only -%}
              <a href="{{ block.settings.main-link }}" class="button{% if block.settings.text-color-scheme == 'white' %} button--secondary{% endif %} hero__block-button">
                <span>{{- block.settings.button-text | escape -}}</span>
              </a>
            {%- else -%}
              <span class="button{% if block.settings.text-color-scheme == 'white' %} button--secondary{% endif %} hero__block-button">
                <span>{{- block.settings.button-text | escape -}}</span>
              </span>
            {%- endif -%}
          {%- endif -%}

          {%- style -%}
            .hero__block--{{ block.id }}{
              background: {{ block.settings.background }}
              ;
            }
          {%- endstyle -%}

          {%- if block.settings.main-link != blank and block.settings.add-link-to-button-only == false or block.settings.button-text == blank -%}
          </a>
        {%- endif -%}
      </div>
    {%- elsif block.type == 'media-block' -%}
      <div class="hero__block{% if block.settings.show-screens == 'desktop' %} hide-small{% elsif block.settings.show-screens == 'mobile' %}  hide-large{% endif %} hero__block-{{ num }} hero__block-mobile-{{ mobile_num }} hero__block--{{ block.type }} hero__block--{{ block.id }}">
        {%- if block.settings.main-link != blank and block.settings.add-link-to-button-only == false or block.settings.button-text == blank -%}
          <a href="{{ block.settings.main-link }}">
          {%- endif -%}


          {%- if block.settings.title != blank or block.settings.description != blank or block.settings.button-text != blank -%}
            <div class="hero__block-content hero__block-content--{{ block.settings.text-color-scheme }} hero__block-content--{{ block.settings.text-alignment }}">
              {% if block.settings.block_overlay %}
                <div class="block-overlay" style="background-color:{{ block.settings.block_overlay_color }}; opacity:{{ block.settings.block_overlay_opacity }};"></div>
              {% endif %}
              {%- if block.settings.title != blank -%}
                <h1 class="hero__block-title">{{- block.settings.title | escape -}}</h1>
              {%- endif -%}

              {%- if block.settings.description != blank -%}
                <div class="hero__block-description">{{- block.settings.description -}}</div>
              {%- endif -%}

              {%- if block.settings.button-text != blank -%}
                {%- if block.settings.add-link-to-button-only -%}
                  <a href="{{ block.settings.main-link }}" class="button{% if block.settings.text-color-scheme == 'white' %} button--secondary{% endif %}">
                    <span>{{- block.settings.button-text | escape -}}</span>
                  </a>
                {%- else -%}
                  <span class="button{% if block.settings.text-color-scheme == 'white' %} button--secondary{% endif %}">
                    <span>{{- block.settings.button-text | escape -}}</span>
                  </span>
                {%- endif -%}
              {%- endif -%}
            </div>
          {%- endif -%}

          {%- if block.settings.video != blank -%}
            <iframe
              src="https://player.vimeo.com/video/{{ block.settings.video.id }}?playsinline=1&title=0&byline=0&color=ffffff&portrait=0&muted=1&controls=0&sidedock=0&autoplay=1&loop=1&api=1"
              class="js-vimeo"
              allow="autoplay; encrypted-media"
              allowfullscreen
              title="{{ block.settings.description | escape }}"></iframe>
          {%- elsif block.settings.image != blank -%}
            {%- liquid
                        if block.settings.image-mobile != blank
                            render 'image' with block.settings.image-mobile, preload: true, class: 'hide-large', sizes: '100vw'
                            render 'image' with block.settings.image, preload: true, class: 'hide-small', sizes: '50vw'
                        else
                            render 'image' with block.settings.image, preload: true, sizes: '(min-width: 901px) 50vw, 100vw'
                        endif
                    -%}
          {%- endif -%}

          {%- if block.settings.main-link != blank and block.settings.add-link-to-button-only == false or block.settings.button-text == blank -%}
          </a>
        {%- endif -%}
      </div>
    {%- endif -%}

        {%- if block.settings.show-screens != 'mobile' -%}
            {%- assign num = num | plus: 1 -%}
        {%- endif -%}
        {%- if block.settings.show-screens != 'desktop' -%}
            {%- assign mobile_num = mobile_num | plus: 1 -%}
        {%- endif -%}
    {% endfor %}
{%- endcapture -%}

<section class="hero hero-{{ section.id }} hero--{{ num }} hero--mobile-{{ mobile_num }}">
    {{ content }}
</section>

{%- if section.settings.hero-height == 'limited' -%}
  {% style %}
    @media(min-width: 901px) {
      .hero-{{ section.id }}{
        height: {{ section.settings.height-limit }}
        vh;
      }
    }
  {% endstyle %}
{%- endif -%}

{% comment %} {{ media | media_tag: image_size: "2048x", autoplay: true, loop: loop, controls: true, preload: "none" }}{% endcomment %}

{% schema %}
    {
        "name": "Hero",
        "class": "shopify-section--hero",
        "settings": [
            {
                "type": "header",
                "content": "Hero display"
            },
            {
                "type": "select",
                "id": "hero-height",
                "label": "Hero height",
                "options": [
                    {
                        "value": "auto",
                        "label": "Auto"
                    },
                    {
                        "value": "limited",
                        "label": "Custom"
                    }
                ],
                "default": "auto"
            },
            {
                "type": "range",
                "id": "height-limit",
                "min": 40,
                "max": 120,
                "step": 5,
                "unit": "%",
                "label": "Custom Height",
                "info": "Percent of screen height",
                "default": 80
            },
            {
                "type": "header",
                "content": "Sticky Promo"
            },
            {
                "type": "checkbox",
                "id": "enable-sticky-promo",
                "label": "Enable",
                "default": false
            },
            {
                "type": "image_picker",
                "id": "promo-image",
                "label": "Promo Image"
            },
            {
                "type": "text",
                "id": "promo-text",
                "label": "Promo Text"
            },
            {
                "type": "url",
                "id": "promo-link",
                "label": "Promo Link"
            },
            {
                "type": "select",
                "id": "close-color-scheme",
                "label": "Close Icon Color Scheme",
                "options": [
                    {
                        "value": "white",
                        "label": "White"
                    },
                    {
                        "value": "black",
                        "label": "Black"
                    }
                ],
                "default": "white"
            }
        ],
        "blocks": [
            {
                "type": "text-block",
                "name": "Text Block",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "info": "Use [name] to show customer name, when available"
                    },
                    {
                        "type": "richtext",
                        "id": "description",
                        "label": "Description",
                        "info": "Use [name] to show customer name, when available"
                    },
                    {
                        "type": "url",
                        "id": "main-link",
                        "label": "Link"
                    },
                    {
                        "type": "text",
                        "id": "button-text",
                        "label": "Button Text"
                    },
                    {
                        "type": "checkbox",
                        "id": "add-link-to-button-only",
                        "label": "Link for button only",
                        "default": true
                    },
                    {
                        "type": "header",
                        "content": "Display"
                    },
                    {
                        "type": "select",
                        "id": "show-screens",
                        "label": "Display for screens",
                        "options": [
                            {
                                "value": "all",
                                "label": "All screen sizes"
                            },
                            {
                                "value": "desktop",
                                "label": "Desktop"
                            },
                            {
                                "value": "mobile",
                                "label": "Mobile"
                            }
                        ],
                        "default": "all"
                    },
                    {
                        "type": "select",
                        "id": "show-condition",
                        "label": "Show when:",
                        "options": [
                            {
                                "value": "always",
                                "label": "Always"
                            },
                            {
                                "value": "logged-in",
                                "label": "When logged in"
                            },
                            {
                                "value": "logged-out",
                                "label": "When not logged in"
                            }
                        ],
                        "default": "always"
                    },
                    {
                        "type": "select",
                        "id": "text-alignment",
                        "label": "Text Alignment",
                        "options": [
                            {
                                "value": "left",
                                "label": "Left"
                            },
                            {
                                "value": "center",
                                "label": "Center"
                            },
                            {
                                "value": "right",
                                "label": "Right"
                            }
                        ],
                        "default": "left"
                    },
                    {
                        "type": "select",
                        "id": "text-color-scheme",
                        "label": "Text Color Scheme",
                        "options": [
                            {
                                "value": "white",
                                "label": "White"
                            },
                            {
                                "value": "black",
                                "label": "Black"
                            }
                        ],
                        "default": "white"
                    },
                    {
                        "type": "color",
                        "id": "background",
                        "label": "Background",
                        "default": "#e4dfd5"
                    }
                ]
            },
            {
                "type": "media-block",
                "name": "Media Block",
                "settings": [
                    {
                        "type": "header",
                        "content": "Media"
                    },
                    {
                        "type": "image_picker",
                        "label": "Image",
                        "id": "image"
                    },
                    {
                        "type": "image_picker",
                        "id": "image-mobile",
                        "label": "Image for mobile"
                    },
                    {
                        "type": "video_url",
                        "id": "video",
                        "label": "Video",
                        "accept": ["vimeo"]
                    },
                    {
                        "type": "url",
                        "id": "main-link",
                        "label": "Link"
                    },
                    {
                        "type": "header",
                        "content": "Text"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "richtext",
                        "id": "description",
                        "label": "Description"
                    },
                    {
                        "type": "text",
                        "id": "button-text",
                        "label": "Button Text",
                        "info": "Optional"
                    },
                    {
                        "type": "checkbox",
                        "id": "add-link-to-button-only",
                        "label": "Link for button only",
                        "default": true
                    },
                    {
                        "type": "header",
                        "content": "Display"
                    },
                    {
                        "type": "select",
                        "id": "show-screens",
                        "label": "Display for screens",
                        "options": [
                            {
                                "value": "all",
                                "label": "All screen sizes"
                            },
                            {
                                "value": "desktop",
                                "label": "Desktop"
                            },
                            {
                                "value": "mobile",
                                "label": "Mobile"
                            }
                        ],
                        "default": "all"
                    },
                    {
                        "type": "select",
                        "id": "text-color-scheme",
                        "label": "Text Color Scheme",
                        "options": [
                            {
                                "value": "white",
                                "label": "White"
                            },
                            {
                                "value": "black",
                                "label": "Black"
                            }
                        ],
                        "default": "white"
                    },
                    {
                        "type": "select",
                        "id": "text-alignment",
                        "label": "Text Alignment",
                        "options": [
                            {
                                "value": "left",
                                "label": "Left"
                            },
                            {
                                "value": "center",
                                "label": "Center"
                            },
                            {
                                "value": "right",
                                "label": "Right"
                            }
                        ],
                        "default": "center"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Hero"
            }
        ]
    }
{% endschema %}