{{ 'section-hero.css' | asset_url | stylesheet_tag: preload: true }}

{% if section.settings.enable-sticky-promo %}

<link rel="stylesheet" href="{{ 'component-sticky-promo.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-sticky-promo.css' | asset_url | stylesheet_tag }}</noscript>

<div class="sticky-promo">
    <button class="close-button close-button--{{ section.settings.close-color-scheme }} sticky-promo__close" title="Close"></button>
    <a href="{{ section.settings.promo-link }}">
    {% render 'image' with section.settings.promo-image, sizes: '220px', lazy: true %}
    </a>
    {%- if section.settings.promo-text != blank -%}
        <div class="sticky-promo__info">
            <a href="{{ section.settings.promo-link }}">{{- section.settings.promo-text | escape -}}</a>
        </div>
    {%- endif -%}
</div>
{% endif %}

<section class="hero hero--{{ section.blocks.size }}">
    {% for block in section.blocks %}
        {%- if block.type == 'text-block' -%}
            <div class="hero__block hero__block--color-{{ block.settings.text-color-scheme }} hero__block--align-{{ block.settings.text-alignment }} hero__block--{{ block.type }} hero__block--{{ block.id }}">
                {%- if block.settings.title != blank -%}
                <div class="hero__block-title">{{- block.settings.title | escape -}}</div>
                {%- endif -%}
                
                {%- if block.settings.description != blank -%}
                <div class="hero__block-description">
                    {{- block.settings.description -}}
                </div>
                {%- endif -%}
                
                {%- if block.settings.button-text != blank -%}
                    <a href="{{ block.settings.button-url }}" class="button{% if block.settings.text-color-scheme == 'white' %} button--secondary{% endif %} hero__block-button">{{- block.settings.button-text | escape -}}</a>
                {%- endif -%}
                
                {%- style -%}
                    .hero__block--{{ block.id }} {
                        background: {{ block.settings.background }};
                    }
                {%- endstyle -%}
            </div>
        {%- elsif block.type == 'media-block' -%}
            <div class="hero__block hero__block--{{ block.type }} hero__block--{{ block.id }}">
                {%- if block.settings.main-link != blank and block.settings.button-text == blank -%}
                    <a href="{{ block.settings.main-link }}">
                {%- endif -%}

                {%- if block.settings.title != blank or block.settings.description != blank or block.settings.button-text != blank -%}
                <div class="hero__block-content hero__block-content--{{ block.settings.text-color-scheme }} hero__block-content--{{ block.settings.text-alignment }}">

                    {%- if block.settings.title != blank -%}
                    <div class="hero__block-title">{{- block.settings.title | escape -}}</div>
                    {%- endif -%}

                    {%- if block.settings.description != blank -%}
                    <div class="hero__block-description">{{- block.settings.description -}}</div>
                    {%- endif -%}

                    {%- if block.settings.button-text != blank -%}
                    <a class="button{% if block.settings.text-color-scheme == 'white' %} button--secondary{% endif %}" href="{{ block.settings.main-link }}">{{- block.settings.button-text | escape -}}</a>
                    {%- endif -%}
                </div>
                {%- endif -%}

                {%- if block.settings.image != blank -%}
                    {%- render 'image' with block.settings.image, preload: true, sizes: '(min-width: 901px) 50vw, 100vw' -%}
                {%- elsif block.settings.video != blank -%}
                    {%- if block.settings.video.type == 'youtube' -%}
                    <iframe src="https://www.youtube.com/embed/{{ block.settings.video.id }}?enablejsapi=1" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen title="{{ block.settings.description | escape }}" ></iframe>
                    {%- else -%}
                    <iframe src="https://player.vimeo.com/video/{{ block.settings.video.id }}" class="js-vimeo" allow="autoplay; encrypted-media" allowfullscreen title="{{ block.settings.description | escape }}"></iframe>
                    {%- endif -%}
                {%- endif -%}

                {%- if block.settings.main-link != blank and block.settings.button-text == blank -%}
                    </a>
                {%- endif -%}
            </div>
        {%- endif -%}
    {% endfor %}
</section>

        {% comment %} {{ media | media_tag: image_size: "2048x", autoplay: true, loop: loop, controls: true, preload: "none" }}{% endcomment %}

{% schema %}
    {
        "name": "Hero",
        "class": "shopify-section--hero",
        "settings": [
            {
                "type": "checkbox",
                "id": "enable-sticky-promo",
                "label": "Enable Sticky Promo",
                "default": false
            },
            {
                "type": "image_picker",
                "id": "promo-image",
                "label": "Promo Image"
            },
            {
                "type": "text",
                "id": "promo-text",
                "label": "Promo Text"
            },
            {
                "type": "url",
                "id": "promo-link",
                "label": "Promo Link"
            },
            {
                "type": "select",
                "id": "close-color-scheme",
                "label": "Close Icon Color Scheme",
                "options": [
                    {
                        "value": "white",
                        "label": "White"
                    },
                    {
                        "value": "black",
                        "label": "Black"
                    }
                ],
                "default": "white"
            }
        ],
        "blocks": [
            {
                "type": "text-block",
                "name": "Text Block",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "richtext",
                        "id": "description",
                        "label": "Description"
                    },
                    {
                        "type": "text",
                        "id": "button-text",
                        "label": "Button Text"
                    },
                    {
                        "type": "url",
                        "id": "button-url",
                        "label": "Button Link"
                    },
                    {
                        "type": "header",
                        "content": "Display"
                    },
                    {
                        "type": "select",
                        "id": "text-alignment",
                        "label": "Text Alignment",
                        "options": [
                            {
                                "value": "left",
                                "label": "Left"
                            },
                            {
                                "value": "center",
                                "label": "Center"
                            },
                            {
                                "value": "right",
                                "label": "Right"
                            }
                        ],
                        "default": "left"
                    },
                    {
                        "type": "select",
                        "id": "text-color-scheme",
                        "label": "Text Color Scheme",
                        "options": [
                            {
                                "value": "white",
                                "label": "White"
                            },
                            {
                                "value": "black",
                                "label": "Black"
                            }
                        ],
                        "default": "white"
                    },
                    {
                        "type": "color",
                        "id": "background",
                        "label": "Background",
                        "default": "#e4dfd5"
                    }
                ]
            },
            {
                "type": "media-block",
                "name": "Media Block",
                "settings": [
                    {
                        "type": "header",
                        "content": "Media"
                    },
                    {
                        "type": "image_picker",
                        "label": "Image",
                        "id": "image"
                    },
                    {
                        "type": "video_url",
                        "id": "video",
                        "label": "Video",
                        "accept": ["youtube", "vimeo"]
                    },
                    {
                        "type": "url",
                        "id": "main-link",
                        "label": "Link"
                    },
                    {
                        "type": "header",
                        "content": "Text"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "richtext",
                        "id": "description",
                        "label": "Description"
                    },
                    {
                        "type": "text",
                        "id": "button-text",
                        "label": "Button Text",
                        "info": "Optional"
                    },
                    {
                        "type": "header",
                        "content": "Display"
                    },
                    {
                        "type": "select",
                        "id": "text-color-scheme",
                        "label": "Text Color Scheme",
                        "options": [
                            {
                                "value": "white",
                                "label": "White"
                            },
                            {
                                "value": "black",
                                "label": "Black"
                            }
                        ],
                        "default": "white"
                    },
                    {
                        "type": "select",
                        "id": "text-alignment",
                        "label": "Text Alignment",
                        "options": [
                            {
                                "value": "left",
                                "label": "Left"
                            },
                            {
                                "value": "center",
                                "label": "Center"
                            },
                            {
                                "value": "right",
                                "label": "Right"
                            }
                        ],
                        "default": "center"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Hero"
            }
        ]
    }
{% endschema %}