<div class="memorial-day-wrapper">
    {%- if section.settings.memorial-day-enabled -%}
        {%- liquid
            assign now = "now" | date: '%s' | times: 1
            assign ends = section.settings.memorial-day-sale-ends | date: '%s' | times: 1

            if section.settings.memorial-day-sale-tag == blank
                assign memorialDaySale = true
            else
                assign memorialDaySale = false
                for tag in product.tags
                    assign tagSpl = tag | split: ':'
                    if section.settings.memorial-day-sale-tag == tagSpl[0]
                        if tagSpl.size == 1
                            assign memorialDaySale = true
                        else
                            assign memorialDaySale = tagSpl[1] | split: ';'
                        endif
                    endif
                endfor
            endif

            assign timeLeft = ends | minus: now
        -%}

        {%- if timeLeft > 0 and memorialDaySale != false -%}

            <div class="product-label product-label--memorial-day{% if memorialDaySale != true %} product-label--active{% endif %}"{% if memorialDaySale != true %} data-options="{{ memorialDaySale | join: ' ' }}"{% endif %}>
                <label>{{- section.settings.memorial-day-sale-text | escape -}}</label>
                <div class="countdown-timer" data-time="{{- timeLeft -}}"></div>
            </div>

        {%- endif -%}
    {%- endif -%}
</div>
<style>
    div.product-label.product-label--memorial-day {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: {{ section.settings.memorial-day-sale-accent }};
        color: {{ section.settings.memorial-day-sale-text-col }};
        width: calc(100% - 36px);
        height: 88px;
        margin-inline: auto;
        padding-inline: 20px;
        padding-block: 12px;
        border-radius: 9px;
    }
    div.product-label.product-label--memorial-day .countdown-timer {
        display: flex!important;
        align-items: center;
    }
    div.product-label.product-label--memorial-day .countdown-timer span,
    div.product-label.product-label--memorial-day label {
        font-size: 50px;
        font-weight: 400;
    }
</style>
{%schema%}
    {
        "name": "Memorial day Banner",
        "class": "shopify-section--memorial-day-banner",
        "presets": [
            {
                "name": "Memorial day Banner"
            }
        ],
        "settings": [
            {
                "type": "header",
                "content": "Settings"
            },
            {
                "type": "checkbox",
                "id": "memorial-day-enabled",
                "label": "Memorial Day SALE Banner Enabled",
                "default": true
            },
            {
                "type": "text",
                "id": "memorial-day-sale-tag",
                "label": "Eligible products tag"
            },
            {
                "type": "text",
                "id": "memorial-day-sale-text",
                "label": "Text",
                "default": "Memorial day SALE"
            },
            {
                "type": "text",
                "id": "memorial-day-sale-starts",
                "label": "Start date\/time"
            },
            {
                "type": "text",
                "id": "memorial-day-sale-ends",
                "label": "End date\/time"
            },
            {
                "type": "select",
                "id": "memorial-day-sale-countdown",
                "label": "Show countdown when",
                "options": [
                    {
                        "value": "24",
                        "label": "less than 24 hours left"
                    },
                    {
                        "value": "48",
                        "label": "less than 48 hours left"
                    }
                ],
                "default": "24"
            },
            {
                "type": "header",
                "content": "Colors"
            },
            {
                "type": "color",
                "id": "memorial-day-sale-accent",
                "label": "Accent color",
                "default": "#f00"
            },
            {
                "type": "color",
                "id": "memorial-day-sale-text-col",
                "label": "Text color",
                "default": "#fff"
            }
        ]
    }
{%endschema%}