<div class="notifications-popup" role="dialog" aria-modal="true" aria-label="Notifications" aria-labelledby="modal-heading">
    <div id="modal-heading" class="notifications-content">
        {%- assign count = 0 -%}
        {%- for block in section.blocks -%}
            {%- if customer and block.settings.only-for-guests -%}{%- continue -%}{%- endif -%}
            {%- assign count = count | plus: 1 -%}
        {%- endfor -%}
        <div class="notifications-header">
            <span class="notifications-icon" title="Notifications">
                {% render 'icon-notifications' %}
            </span>
            <button role="button" class="menu-close menu-close--notifications" tabindex="2" autofocus="true" title="Close" aria-label="close"></button>
            <h2 id="modal-heading" style="font-size:1rem;">
                Notifications ({{ count }})
            </h2>
        </div>
        <ul class="list-unstyled notifications-list">
        {%- for block in section.blocks -%}
            {%- if customer and block.settings.only-for-guests -%}{%- continue -%}{%- endif -%}
            <li class="notification" data-id="{{ block.id }}">
                {{ block.settings.text }}
            </li>
        {%- endfor -%}
        </ul>

    </div>
</div>

<link rel="stylesheet" href="{{ 'component-notifications-popup.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-notifications-popup.css' | asset_url | stylesheet_tag }}</noscript>

{% schema %}
    {
        "name": "Notifications",
        "settings": [
        
        ],
        "blocks": [
            {
                "type": "notification",
                "name": "Notification",
                "settings": [
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "Text"
                    },
                    {
                        "type": "checkbox",
                        "id": "only-for-guests",
                        "label": "Display for non-registered only",
                        "default": false
                    }
                ]
            }
        ]
    }
{% endschema %}