<div class="page__header">
    <h1 class="page__title page__title--{{ section.settings.title-size }}">
        {%- if section.settings.title != blank -%}
            {{- section.settings.title | escape -}}
        {%- else -%}
            {%- if template contains 'collection' -%}
                {{- collection.title | escape -}}
            {%- elsif template contains 'page' -%}
                {{- page.title | escape -}}
            {%- endif -%}
        {%- endif -%}
    </h1>

    <div class="page__description">{{- section.settings.text -}}</div>

    {%- if section.settings.button-text != blank -%}
    <div class="page__header-button">
        <a class="button" href="{{- section.settings.button-link -}}">
            <span>{{- section.settings.button-text | strip_html | escape -}}</span>
        </a>
    </div>
    {%- endif -%}
</div>
<script>
window.addEventListener('load', function() {
    let textToBold = document.querySelector('.page__description .metafield-multi_line_text_field');
    let matchText = '{{ section.settings.bold_text }}';
    if (textToBold.textContent.includes(matchText)){
        textToBold = textToBold.innerHTML.replace("MOM15", '<b>{{ section.settings.bold_text }}</b>');
        document.querySelector('.page__description .metafield-multi_line_text_field').innerHTML = textToBold;
    } 
});
</script>
{% schema %}
    {
        "name": "Page Header",
        "class": "shopify-section--page-header",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "select",
                "id": "title-size",
                "label": "Title size",
                "options": [
                    {
                        "value": "small",
                        "label": "Small"
                    },
                    {
                        "value": "medium",
                        "label": "Medium"
                    },
                    {
                        "value": "large",
                        "label": "Large"
                    }
                ],
                "default": "small"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "Text"
            },
            {
                "type": "text",
                "id": "button-text",
                "label": "Button text"
            },
            {
                "type": "url",
                "id": "button-link",
                "label": "Button link"
            },
            {
                "type": "text",
                "id": "bold_text",
                "label": "Text to be bolded",
                "default": "MOM15"
            }
        ],
        "presets": [
            {
                "name": "Page Header"
            }
        ]
    }
{% endschema %}