<div class="page__header {{ section.settings.display }}">
    <h1 class="page__title page__title--{{ section.settings.title-size }}">
        {%- if section.settings.title != blank -%}
            {{- section.settings.title | escape -}}
        {%- else -%}
            {%- if template contains 'collection' -%}
                {{- collection.title | escape -}}
            {%- elsif template contains 'page' -%}
                {{- page.title | escape -}}
            {%- endif -%}
        {%- endif -%}
    </h1>

{% if template contains 'collection' %}
    <div class="page__description">{{- collection.description -}}</div>
{% else %}
    <div class="page__description">{{- section.settings.text -}}</div>
{% endif %}

    {%- if section.settings.button-text != blank -%}
    <div class="page__header-button">
        <a class="button" href="{{- section.settings.button-link -}}">
            <span>{{- section.settings.button-text | strip_html | escape -}}</span>
        </a>
    </div>
    {%- endif -%}
</div>

{% schema %}
    {
        "name": "Page Header",
        "class": "shopify-section--page-header",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
            "type": "select",
            "id": "display",
            "label": "Display rules",
            "options": [
                {
                "value": "only-desktop",
                "label": "Only Desktop"
                },
                {
                "value": "only-mobile",
                "label": "Only Mobile"
                },
                {
                "value": "both",
                "label": "Display on both"
                },
                {
                "value": "hidden",
                "label": "Hide on both"
                }
            ],
            "default": "both"
            },

            {
                "type": "select",
                "id": "title-size",
                "label": "Title size",
                "options": [
                    {
                        "value": "small",
                        "label": "Small"
                    },
                    {
                        "value": "medium",
                        "label": "Medium"
                    },
                    {
                        "value": "large",
                        "label": "Large"
                    }
                ],
                "default": "small"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "Text",
                "info": "This text will appear only on non-collection pages. This is overridden by the collection description on collection pages."
            },
            {
                "type": "text",
                "id": "button-text",
                "label": "Button text"
            },
            {
                "type": "url",
                "id": "button-link",
                "label": "Button link"
            }
        ],
        "presets": [
            {
                "name": "Page Header"
            }
        ]
    }
{% endschema %}