{%- assign page_url = content_for_header | split:'"pageurl":"' | last | split:'"' | first | split: request.host | last | replace:'\/','/' | replace:'%20',' ' | replace:'\u0026','&'  -%}
{% assign param = blank %}

{%- for i in (1..1) -%}

  {%- unless page_url contains "?" -%}{% break %}{%- endunless -%}
  {%- assign query_string = page_url | split:'?' | last -%}
  {%- assign qry_parts= query_string | split:'&' -%}

  {%- for part in qry_parts -%}
    {%- assign key_and_value = part | split:'=' -%}
    {%- if key_and_value.size > 1 -%}
      {% if key_and_value[0] == 'gh_jid' %}
        {% assign param = key_and_value[1] %}
      {% endif %}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}

<h1 class="section-title">CALPAK Careers</h1>
{% if param == blank %}
<div class="career-page-top">
  <div class="image-hero">
    <div class="image-wrap">
      <img class="image-hero__image hide--mobile" src="{{ section.settings.main_image | img_url: 'master' }}">
      <img class="image-hero__image hide--desktop" src="{{ section.settings.main_image_mobile | img_url: 'master' }}">
    </div>
    <a href="#" id="job_board_btn" class="open-position__btn">
      <span>Open Positions</span>
      {% render 'icon-arrow-down' %}
    </a>
  </div>
  <div class="rich-text">
    <div class="subtitle">{{ section.settings.title }}
    </div>
    <div class="description">{{ section.settings.content }}
    </div>
  </div>
  <div class="image-grid hide--mobile">
    {% for block in section.blocks %}
      <div class="image-grid__item">
        <img src="{{ block.settings.image | img_url: '500x' }}">
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}
<div id="grnhse_app"><div class="loading-animation"></div></div>
<script src="https://boards.greenhouse.io/embed/job_board/js?for=calpakakacaliforniapakinternational"></script>
{% if param == blank %}
<div class="image-grid hide--desktop">
  {% for block in section.blocks %}
    <div class="image-grid__item">
      <img src="{{ block.settings.image | img_url: '500x' }}">
    </div>
  {% endfor %}
</div>
{% endif %}


<script>
 const jobBtn = document.getElementById('job_board_btn');
 jobBtn.addEventListener('click', function(e){
  e.preventDefault();
  document.querySelector('#grnhse_app').scrollIntoView({
      behavior: 'smooth'
  });
 })
</script>


{% schema %}
{
  "name": "Career Top",
  "settings": [
    {
      "type": "image_picker",
      "id": "main_image",
      "label": "Main Image"
    },
    {
      "type": "image_picker",
      "id": "main_image_mobile",
      "label": "Main Image Mobile"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}