{{ 'section-pdp.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'component-star-rating.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-color-swatch.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-tooltip.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-pdp-labels.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-color-swatch.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-tooltip.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-pdp-labels.css' | asset_url | stylesheet_tag }}</noscript>

{%- liquid
    assign request_arg = request.path | split: "/"
    assign color_arg = false
    assign current_variant = product.selected_or_first_available_variant
    
    if request_arg.size == 4
        assign request_arg = request_arg[3] | handleize
        if request_arg == 'early-access'
            if product.tags contains 'early-access'
                assign current_color = 1
                assign early_access = true
            endif
        elsif request_arg contains 'early-access-'
            if product.tags contains 'early-access'
                assign early_access = true
                assign color_arg = request_arg | replace: 'early-access-', ''
            endif
        else
            assign color_arg = request_arg
        endif
    endif

    if color_arg != false
        for variant in product.variants
            assign var_option = variant.option1 | handleize
            if color_arg == var_option
                assign current_variant = variant
                break
            endif
        endfor
    endif
-%}

<section class="pdp__grid">
    
    <div class="pdp__breadcrumbs">
        <a href="#">Shop All</a>
        <a href="#">Luggage</a>
        <a href="#">Hue Collection</a>
        <span>Carry - On</span>
    </div>

    <aside class="pdp__gallery">
        {% render 'pdp-labels' %}
        {% render 'pdp-gallery' %}
    </aside>

    <main class="pdp__info">
        {% form 'product', product %}

            <section class="pdp__header">
                <h1 class="pdp__title">{{ product.title }}</h1>

                {% render 'pdp-meta' %}
            </section>

            {% render 'pdp-variants', current_variant: current_variant %}

            {% render 'pdp-submit' %}

            {% render 'pdp-set' %}

            {% render 'pdp-description' %}

            {% render 'pdp-upsell', title: "Pairs well with" %}

        {% endform %}
    </main>

</section>

{% schema %}
    {
        "name": "Single Product",
        "class": "shopify-section--single-product",
        "settings": [
        
        ]
    }
{% endschema %}