{{ 'section-pdp.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'component-pdp-gallery.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'component-slider.css' | asset_url | stylesheet_tag: preload: true, media: "screen and (max-width: 900px)" }}
{{ 'component-star-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-pdp-promo.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-color-swatch.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-tooltip.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-pdp-floating-submit.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-waitlist.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-color-swatch.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-tooltip.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-pdp-floating-submit.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-waitlist.css' | asset_url | stylesheet_tag }}</noscript>

<script src="{{ 'pdp.js' | asset_url }}" defer="defer"></script>
{%- liquid
    assign request_arg = request.path | split: "/"
    assign option1_arg = false
    assign option2_arg = false
    assign early_access = false
    assign current_variant = product.variants | first
    
    if request_arg.size == 4
        assign request_args = request_arg[3] | split: ','
        if request_arg[3] == 'early-access'
            if product.metafields.custom.early_access
                assign early_access = true
            endif
        elsif request_arg[3] contains 'early-access-'
            if product.metafields.custom.early_access
                assign option1_arg = request_arg[3] | replace: 'early-access-', ''
                assign early_access = option1_arg
            endif
        else
            assign option1_arg = request_args[0]
            if request_args.size > 1
                assign option2_arg = request_args[1]
            endif
        endif
    endif

    if option1_arg == false and early_access
        for tag in product.tags
            if tag contains 'ea-group1:'
                assign tg = tag | split: ':'
                if tg.size > 2
                    assign option1_arg = tg | last | split: ";" | first | handleize
                    break
                endif
            elsif tag contains 'ea-group2:'
                assign tg = tag | split: ':'
                if tg.size > 2
                    assign option1_arg = tg | last | split: ";" | first | handleize
                    break
                endif
            endif
        endfor
    endif

    if option1_arg != false
        if option1_arg == 'reviews'
            echo "<script>window.addEventListener('DOMContentLoaded', () => setTimeout(() => document.querySelector('.okeReviews-widget-holder').scrollIntoView()), 50)</script>"
        else
            for variant in product.variants
                assign var_option1 = variant.option1 | handleize
                if option2_arg != false
                    assign var_option2 = variant.option2 | handleize
                    if option1_arg == var_option1 and option2_arg == var_option2
                        assign current_variant = variant
                        break
                    endif
                elsif option1_arg == var_option1
                        assign current_variant = variant
                        break
                endif
            endfor
        endif
    endif

    assign featured_collection = false
    if product.metafields.custom.featured_collection != blank
        assign featured_collection = collections[product.metafields.custom.featured_collection]
    endif

    assign current_product_group_type = false
    assign has_more_product_types = false
    assign product_type = product.type | downcase

    if featured_collection != false and product_type contains 'luggage'
        assign types = 'Mini Carry-On,Carry-On Luggage with Hardshell Pocket,Carry-On Luggage with Pocket,Carry-On,Medium Luggage,Large Luggage,Trunk Luggage,2-Piece Set,3-Piece Set,2-Piece Luggage Set,3-Piece Luggage Set' | split: ','

        for type in types
            if product.title contains type
                assign current_product_group_type = type
                break
            endif
        endfor

        if current_product_group_type != false and section.settings.hide-single-size
            for featured_product in featured_collection.products
                if featured_product.id != product.id
                    for type in types
                        if featured_product.title contains type
                            assign has_more_product_types = true
                            break
                        endif
                    endfor

                    if has_more_product_types == true
                        break
                    endif
                endif
            endfor
        endif
    endif

    if current_variant.metafields.custom.preorder != blank
        assign preorder = current_variant.metafields.custom.preorder
    elsif product.metafields.custom.preorder != blank
        assign preorder = product.metafields.custom.preorder
    else
        assign preorder = false
    endif

    assign finalSale = false
    assign soldout = false
    assign extraSale = false
    for tag in product.tags
        assign tagSpl = tag | split: ':'
        assign handle = tagSpl[0] | handleize

        if 'soldout' == handle
            if tagSpl.size == 1
                assign soldout = true
            else
                assign soldout = tagSpl[1] | downcase | split: ';'
            endif
        elsif 'final-sale' == handle
            if tagSpl.size == 1
                assign finalSale = true
            else
                assign finalSale = tagSpl[1] | downcase | split: ';'
            endif
        endif
        
        if settings.extra-sale-enabled
            if settings.extra-sale-tag == tagSpl[0]
                if tagSpl.size == 1
                    assign extraSale = true
                else
                    assign extraSale = tagSpl[1] | downcase | split: ';'
                endif
            endif
        endif
    endfor
-%}
{%- if product.handle == 'gift-card' -%}
<style>.okeReviews-widget-holder {display: none !important;}</style>
{%- endif -%}
<section class="pdp__grid{% if soldout == true %} pdp__grid--soldout{% endif %}"
    data-status="{% if current_variant.available == false %}sold-out{% elsif preorder != false %}preorder{% else %}default{% endif %}"
    {% if soldout != false and soldout != true %}data-soldout="{{ soldout | join: ' ' }}"{% endif %}
    >
    
    <div class="pdp__breadcrumbs">
        {% render 'pdp-breadcrumbs', current_product_group_type: current_product_group_type, featured_collection: featured_collection %}
    </div>

    <aside class="pdp__gallery-container">
        {% render 'product-floating-labels', current_variant: current_variant, location: 'pdp' %}
        {% render 'pdp-gallery', current_variant: current_variant %}
        <button aria-label="Show all product media" class="pdp-gallery__more-btn"><span>See more images (<em class="img-num">2</em>)</span></button>
    </aside>

    <main
        class="pdp__info{% if extraSale contains opt1 or extraSale == true %} extra-sale-active{% endif %}"
        >
        {% form 'product', product, data-handle: product.handle, data-id: product.id %}
            <script type="text/json" class="pdp-json" data-current-variant="{{ current_variant.id }}">{{ product | json }}</script>
            <script type="text/json" class="pdp-meta-json">{% render 'product-meta-json' with product %}</script>

            {%- for block in section.blocks -%}
                {%- case block.type -%}
                    {%- when '@app' -%}
                        {% render block %}
                    {%- when 'title' -%}
                        <section class="pdp__header">
                            <h1 class="pdp__title">{{ product.title | replace: ' - Final', '' | replace: ' - FW', '' | escape }}</h1>

                            {% render 'pdp-meta', current_variant: current_variant %}
                        </section>
                    {%- when 'variants' -%}
                        {% render 'pdp-variants', featured_collection: featured_collection, current_product_group_type: current_product_group_type, has_more_product_types: has_more_product_types, current_variant: current_variant, finalSale: finalSale, early_access: early_access %}
                    {%- when 'flash-sale' -%}
                        {% render 'flash-sale-label', current_variant: current_variant %}
                    {%- when 'product-labels' -%}
                        <section class="pdp__form-labels">
                        {% render 'product-form-labels', location: 'pdp', current_variant: current_variant, finalSale: finalSale %}
                        </section>
                    {%- when 'shipping-calculator' -%}
                        {% render 'shipping-calculator' %}
                    {%- when 'want-it-shipped' -%}
                        {% render 'want-it-shipped' %}
                    {%- when 'submit' -%}
                        {% render 'pdp-floating-submit', current_variant: current_variant, wishlist: block.settings.wishlist %}
                        {% render 'pdp-submit', current_variant: current_variant, wishlist: block.settings.wishlist %}
                        {%- when 'arrival' -%}
                        {%- liquid
                            assign enable = false
                            for availableproduct in block.settings.available-products
                                if product.handle == availableproduct.handle
                                    assign enable = true
                                endif
                            endfor
                        -%}
                        {% if enable %}
                        <div id="pdp__arrival" class="pdp__arrival pdp__arrival--hidden"></div>
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {

                                var arrival_text    = '{{ block.settings.text }}',
                                    now             = new Date(),
                                    tomorrow        = new Date(now.getFullYear(), now.getMonth(), now.getDate()+1),
                                    second          = 1000,
                                    minute          = second * 60,
                                    hour            = minute * 60,
                                    day             = hour * 24;

                                var distance 	    = tomorrow - now;
                                var distanceFormat  = {
                                    'days': Math.floor(distance / (day)),
                                    'hours': Math.floor((distance % (day)) / (hour)),
                                    'minutes': Math.floor((distance % (hour)) / (minute)),
                                    'seconds': Math.floor((distance % (minute)) / second)
                                }

                                window.fetch("https://webhooks.endrock.software//endrockapi/v3/app/estimatedArrival/?store=calpak", {
                                    method: 'GET',
                                    redirect: 'follow'
                                })
                                .then(response => response.json())
                                .then(result => {

                                    var range_from = result.data.delivery_max_date_start_at_desc_m + " - " + result.data.delivery_max_date_end_at_desc_m;
                                    var order_time = distanceFormat.hours + ' hrs ' + distanceFormat.minutes + ' mins';
                                    var mapObj = {
                                        '{range}': range_from,
                                        '{time}': order_time,
                                    };

                                    arrival_final = arrival_text.replace(/{range}|{time}/gi, function(matched){
                                        return mapObj[matched];
                                    });
                                    document.querySelector('#pdp__arrival').innerHTML = arrival_final;
                                })
                                .catch(error => console.log('error', error));
                            });
                        </script>
                        {% endif %}
                    {%- when 'description' -%}
                        {% render 'pdp-description', current_variant: current_variant %}
                    {%- else -%}
                        {% render 'pdp-promo' with block, current_variant: current_variant %}
                {%- endcase -%}
            {%- endfor -%}
        {% endform %}

        {% render 'pdp-upsell', title: "Pairs well with", current_variant: current_variant %}
    </main>

</section>

<script>
    const pdpSettings = {
        gallery_limit: {{ section.settings.gallery-limit }},
        reapply_limit: {% if section.settings.gallery-limit-reapply %}true{% else %}false{% endif %},
    };
</script>

<script type="application/ld+json">
{% render 'schema-product-stub', product_variant: current_variant, early_access: early_access %}
</script>

{% schema %}
    {
        "name": "Single Product",
        "class": "shopify-section--single-product",
        "settings": [
            {
                "type": "checkbox",
                "id": "hide-single-size",
                "label": "Hide size selector for luggage with one available size",
                "default": true
            },
            {
                "type": "header",
                "content": "Gallery"
            },
            {
                "type": "checkbox",
                "id": "zoom",
                "label": "Enable zoom on images",
                "default": false
            },
            {
                "type": "range",
                "id": "gallery-limit",
                "min": 0,
                "max": 10,
                "step": 1,
                "label": "Limit number of gallery items",
                "default": 0,
                "info": "0 for no limit"
            },
            {
                "type": "checkbox",
                "id": "gallery-limit-reapply",
                "label": "Re-apply limit after variant change",
                "default": true
            },
            {
                "type": "header",
                "content": "Content"
            },
            {
                "type": "richtext",
                "id": "specifications",
                "label": "Specifications source"
            },
            {
                "type": "richtext",
                "id": "warranty-product-level",
                "label": "Warranty source"
            },
            {
                "type": "richtext",
                "id": "warranty-and-return",
                "label": "Default warranty and return policy"
            },
            {
                "type": "text",
                "id": "prop65-title",
                "label": "Prop 65 title",
                "default": "Prop 65 Disclaimer"
            },
            {
                "type": "richtext",
                "id": "prop65",
                "label": "Prop 65 text"
            }
        ],
        "blocks": [
            {
                "type": "@app"
            },
            {
                "type": "title",
                "name": "Title",
                "limit": 1
            },
            {
                "type": "variants",
                "name": "Variants",
                "limit": 1
            },
            {
                "type": "product-labels",
                "name": "Product Labels",
                "limit": 1
            },
            {
                "type": "flash-sale",
                "name": "Flash sale label",
                "limit": 1
            },
            {
                "type": "submit",
                "name": "Submit",
                "settings": [
                    {
                        "type": "checkbox",
                        "id": "wishlist",
                        "label": "Enable wishlist button",
                        "default": true
                    }
                ],
                "limit": 1
            },
            {
                "type": "arrival",
                "name": "Estimated arrival",
                "settings": [
                    {
                        "type": "product_list",
                        "id": "available-products",
                        "label": "Available for"
                    },
                    {
                        "type": "textarea",
                        "id": "text",
                        "label": "Messgage template"
                    }
                ],
                "limit": 1
            },
            {
                "type": "shipping-calculator",
                "name": "Shipping Calculator",
                "limit": 1
            },
            {
                "type": "description",
                "name": "Description",
                "limit": 1
            },
            {
                "type": "points",
                "name": "Points earned",
                "limit": 1,
                "settings": [
                    {
                        "type": "product_list",
                        "id": "product-list",
                        "label": "Show for these products only"
                    },
                    {
                        "type": "collection_list",
                        "id": "collection-list",
                        "label": "And for products in these collections"  
                    },
                    {
                        "type": "checkbox",
                        "id": "show-for-all",
                        "label": "Show for all products",
                        "default": false
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "Text",
                        "info": "Use [points] to show the number of points"
                    }
                ]
            },
            {
                "type": "upsell-banner",
                "name": "Upsell Banner",
                "settings": [
                    {
                        "type": "product_list",
                        "id": "product-list",
                        "label": "Show for these products only"
                    },
                    {
                        "type": "collection_list",
                        "id": "collection-list",
                        "label": "And for products in these collections"  
                    },
                    {
                        "type": "checkbox",
                        "id": "show-for-all",
                        "label": "Show for all products",
                        "default": false
                    },
                    {
                        "type": "header",
                        "content": "Display"
                    },
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "Heading",
                        "info": "Use %% to show discount percent. Use $$ to show money savings."
                    },
                    {
                        "type": "product",
                        "id": "product",
                        "label": "Product"
                    },
                    {
                        "type": "text",
                        "id": "title-override",
                        "label": "Title override"
                    },
                    {
                        "type": "image_picker",
                        "id": "image-override",
                        "label": "Image Override"
                    },
                    {
                        "type": "text",
                        "id": "button-text",
                        "label": "Button Text"
                    },
                    {
                        "type": "checkbox",
                        "id": "include-price",
                        "label": "Add product price to button",
                        "default": false
                    },
                    {
                        "type": "select",
                        "id": "button-behaviour",
                        "label": "Button behavior",
                        "options": [
                            {
                                "value": "follow-link",
                                "label": "Follow link"
                            },
                            {
                                "value": "add-to-cart",
                                "label": "Add to cart"
                            },
                            {
                                "value": "quick-view",
                                "label": "Quick view"
                            }
                        ],
                        "default": "follow-link"
                    },
                    {
                        "type": "url",
                        "id": "button-url",
                        "label": "Button link",
                        "info": "When 'Follow link' selected above"
                    },
                    {
                        "type": "header",
                        "content": "Styles"
                    },
                    {
                        "type": "checkbox",
                        "id": "border-dash",
                        "label": "Enable border dash"
                    },
                    {
                        "type":"color",
                        "id": "upsell-background",
                        "label": "Background",
                        "default": "#e4dfd5"
                    },
                    {
                        "type": "color",
                        "id": "upsell-text",
                        "label": "Text Color",
                        "default": "#000"
                    },
                    {
                        "type": "color",
                        "id": "upsell-accent",
                        "label": "Accent Color",
                        "default": "#000"
                    }
                ]
            },
            {
                "type": "image-banner",
                "name": "Banner with image",
                "settings": [
                    {
                        "type": "product_list",
                        "id": "product-list",
                        "label": "Show for these products only"
                    },
                    {
                        "type": "collection_list",
                        "id": "collection-list",
                        "label": "And for products in these collections"  
                    },
                    {
                        "type": "checkbox",
                        "id": "show-for-all",
                        "label": "Show for all products",
                        "default": false
                    },
                    {
                        "type": "header",
                        "content": "Display"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "Text"
                    },
                    {
                        "type": "text",
                        "id": "button-text",
                        "label": "Button Text"
                    },
                    {
                        "type": "url",
                        "id": "button-url",
                        "label": "Button Link"
                    },
                    {
                        "type": "text",
                        "id": "live-show-id",
                        "label": "Live show ID",
                        "info": "If set, the button will launch a Bambuser live show"
                    }
                ]
            },
            {
                "type": "text-banner",
                "name": "Banner with text",
                "settings": [
                    {
                        "type": "product_list",
                        "id": "product-list",
                        "label": "Show for these products only"
                    },
                    {
                        "type": "collection_list",
                        "id": "collection-list",
                        "label": "And for products in these collections"  
                    },
                    {
                        "type": "checkbox",
                        "id": "show-for-all",
                        "label": "Show for all products",
                        "default": false
                    },
                    {
                        "type": "header",
                        "content": "Display"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "Text"
                    },
                    {
                        "type": "text",
                        "id": "button-text",
                        "label": "Button Text"
                    },
                    {
                        "type": "url",
                        "id": "button-url",
                        "label": "Button Link"
                    }
                ]
            },
            {
                "type": "want-it-shipped",
                "name": "Want it shipped label",
                "limit": 1
            }
        ]
    }
{% endschema %}