{{ 'section-product-grid.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-star-rating.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-star-rating.css' | asset_url | stylesheet_tag }}</noscript>

<link rel="stylesheet" href="{{ 'component-color-swatch.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-color-swatch.css' | asset_url | stylesheet_tag }}</noscript>

{%- if section.blocks.size > 0 -%}
<link rel="stylesheet" href="{{ 'component-promo-unit.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-promo-unit.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}

{%- liquid
    assign show_short_info = false
    assign show_luggage_size = false
    assign early_access = false
    if template contains 'collection'
        if collection.metafields.custom.show_luggage_size
            assign show_luggage_size = true
        endif

        if collection.metafields.custom.show_short_info
            assign show_short_info = true
        endif

        if collection.metafields.custom.early_access != blank
            if collection.metafields.custom.early_access == "Don't hide early access variants"
                assign early_access = 'all'
            elsif collection.metafields.custom.early_access == "Display only early access variants"
                assign early_access = 'only'
            endif
        endif
    endif

    assign sizes = '(min-width: 901px) 20vw, (min-width: 651px) 33.33vw, 50vw'
-%}

<section class="product-grid">
    {%- liquid
        paginate collection.products by 200
            for product in collection.products
                if product.tags contains "do not display"
                    continue
                endif
                
                if forloop.index <= 5
                    render 'product-unit' with product, in_collection: collection, wishlist: section.settings.wishlist, quick_view: section.settings.quickview, show_luggage_size: show_luggage_size, show_short_info: show_short_info, img_lazy: false, img_preload: true, sizes: sizes, early_access: early_access
                else
                    render 'product-unit' with product, in_collection: collection, wishlist: section.settings.wishlist, quick_view: section.settings.quickview, show_luggage_size: show_luggage_size, show_short_info: show_short_info, sizes: sizes, early_access: early_access
                endif
            endfor
        endpaginate

        for block in section.blocks
            render 'promo-unit' with block
        endfor
    -%}
</section>
<div class="product-grid__empty-text">
    <h3>No matching products found</h3>
</div>

{% schema %}
    {
        "name": "Product Grid",
        "class": "shopify-section--product-grid",
        "settings": [
            {
                "type": "checkbox",
                "id": "wishlist",
                "label": "Show wishlist buttons",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "quickview",
                "label": "Enable quickview",
                "default": true
            }
        ],
        "blocks": [
            {
                "type": "promo",
                "name": "Promo",
                "settings": [
                    {
                        "type": "header",
                        "content": "Media"
                    },
                    {
                        "type": "image_picker",
                        "id": "banner",
                        "label": "Banner"
                    },
                    {
                        "type": "video_url",
                        "id": "video",
                        "label": "Video",
                        "accept": ["vimeo"]
                    },
                    {
                        "type": "image_picker",
                        "id": "banner-mobile",
                        "label": "Banner for mobile"
                    },
                    {
                        "type": "header",
                        "content": "Content"
                    },
                    {
                        "type": "url",
                        "id": "link",
                        "label": "Link"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "Text"
                    },
                    {
                        "type": "collection_list",
                        "label": "Limit to these collections",
                        "id": "show-for-collections"
                    },
                    {
                        "type": "header",
                        "content": "colors"
                    },
                    {
                        "type": "color",
                        "id": "background",
                        "label": "Background",
                        "default": "#e4dfd5"
                    },
                    {
                        "type": "color",
                        "id": "text-color",
                        "label": "Text color",
                        "default": "#000"
                    },
                    {
                        "type": "header",
                        "content": "Time Frame"
                    },
                    {
                        "type": "text",
                        "id": "starts-on",
                        "label": "Starts on"
                    },
                    {
                        "type": "text",
                        "id": "ends-on",
                        "label": "Ends on"
                    },
                    {
                        "type": "header",
                        "content": "Desktop Position"
                    },
                    {
                        "type": "range",
                        "id": "row",
                        "min": 1,
                        "max": 60,
                        "step": 1,
                        "label": "Row",
                        "default": 1
                    },
                    {
                        "type": "range",
                        "id": "column",
                        "min": 1,
                        "max": 4,
                        "step": 1,
                        "label": "Column",
                        "default": 1
                    },
                    {
                        "type": "header",
                        "content": "Mobile Position"
                    },
                    {
                        "type": "range",
                        "id": "row-mob",
                        "min": 1,
                        "max": 100,
                        "step": 1,
                        "label": "Row",
                        "default": 1
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Product Grid"
            }
        ]
    }
{% endschema %}