{{ 'section-product-grid.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-star-rating.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-star-rating.css' | asset_url | stylesheet_tag }}</noscript>

<link rel="stylesheet" href="{{ 'component-color-swatch.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-color-swatch.css' | asset_url | stylesheet_tag }}</noscript>

{%- if section.blocks.size > 0 -%}
<link rel="stylesheet" href="{{ 'component-promo-unit.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-promo-unit.css' | asset_url | stylesheet_tag }}</noscript>
<link rel="stylesheet" href="{{ 'section-featured-content-blocks.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'section-featured-content-blocks.css' | asset_url | stylesheet_tag }}</noscript>
<link rel="stylesheet" href="{{ 'component-floating-link.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-floating-link.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}


<style>
    .modular-block img, .modular-section img {
        border-radius: 9px;
    }
    .modular-block,
    .modular-section {
        border-radius: 9px;
        padding: 0;
    }
    video.modular-section-video {
    border-radius: 9px;
    object-fit: cover;
    width:100%;
    height:100%;
    display: block;
}
.modular-block .video-iframe-container .vp-video-wrapper.transparent {
    border-radius: 9px;
}
    .modular-block .video-iframe-container {
        --ratio: auto!important;
    }
    {% if section.settings.hide_view == true %}
        .collection-view * {
            visibility: hidden;
        }
    {% endif %}
    {% if template == 'collection' or 'summer-arrival' %}
        {% if section.settings.collection_list != empty %}
            {% for collection_item in section.settings.collection_list %}
                .{{ collection_item.handle }} .product-unit__image > .f-loaded {
                    object-position:-1000px!important;
                }
                .{{ collection_item.handle }} .modular-block:not(.d-none), 
                .{{ collection_item.handle }} .modular-section__wrap:not(.d-none), 
                .{{ collection_item.handle }} .static-video-desktop:not(.d-none),
                .{{ collection_item.handle }} .static-video-mobile:not(.d-none) {
                        display:flex!important;
                    }
                .{{ collection_item.handle }} .product-unit__image > .f-loaded {
                    object-position:-1000px!important;
                }
                .{{ collection_item.handle }} .modular-block.desktop{
                    display: flex!important;
                }
                .{{ collection_item.handle }} .modular-block.mobile{
                    display: none!important;
                }
                .{{ collection_item.handle }} .modular-block.both{
                    display: flex;
                }
                @media (max-width:649px){
                    .{{ collection_item.handle }} .modular-block.desktop{
                    display: none!important;
                    }
                    .{{ collection_item.handle }} .modular-block.mobile{
                        display: flex!important;
                    }
                    .{{ collection_item.handle }} .modular-block.both{
                        display: flex;
                    }
                }
            {% endfor %}
        {% else %}
                .modular-block, .modular-section__wrap, .static-video-desktop
                .static-video-mobile {
                   display:flex!important;
                }
                .product-unit__image > .f-loaded {
                    object-position:-1000px!important;
                }
        {% endif %}
    {% endif %}
    .product-grid {
        row-gap: {{section.settings.row_gap}}px;
        column-gap:{{section.settings.column_gap}}px;
    }
    @media (max-width: 900px) {
        .product-grid {
            row-gap: 25px;
        }    
    }
    /*memorial day sale*/
    .product-unit .countdown-sale-badge-label {
        display: none;
    }
    @media (max-width: 900px) {
        div.product-label.product-label--countdown {
            height: 53px;
            width: calc(100% - 24px);
            padding-top: 7px;
            padding-bottom: 8px;
            {% if template == 'collection' %}
                margin-bottom: -17px;
                margin-top: 29px;
            {% endif %}
        }
        
        div.product-label.product-label--countdown label {
            margin-left: 2px;
        }

        
        div.product-label.product-label--countdown .countdown-timer,
        div.product-label.product-label--countdown .countdown-timer span,
        div.product-label.product-label--countdown label {
            font-size: 25px;
            line-height: 38px;
            text-align: center;
        }
        .product-unit .countdown-sale-badge-label {
            display: flex; 
            align-items: center;
            justify-content: center;
            width: 132px;
            height: 22px;
            border-radius: 6px;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            background-color: {{ settings.sale-badge-bg }};
            color: {{ settings.sale-badge-color }};
            padding-inline: 6px 6px;
            padding-block: 6px;
            margin-top: 8px;
            margin-bottom: 0px;
        }
        .product-label.product-label--badge.product-label--badge-tilt.product-label--badge-collection-page {
            display: none;
        }
    }
</style>

{%- liquid
    assign show_short_info = false
    assign show_luggage_size = false
    assign early_access = false
    if template contains 'collection'
        if collection.metafields.custom.show_luggage_size
            assign show_luggage_size = true
        endif

        if collection.metafields.custom.show_short_info
            assign show_short_info = true
        endif

        if collection.metafields.custom.early_access != blank
            if collection.metafields.custom.early_access == "Don't hide early access variants"
                assign early_access = 'all'
            elsif collection.metafields.custom.early_access == "Display only early access variants"
                assign early_access = 'only'
            endif
        endif
    endif

    assign sizes = '(min-width: 901px) 20vw, (min-width: 651px) 33.33vw, 50vw'
-%}


<section class="product-grid {{ collection.handle }}">

    {%- liquid 
        assign limitProducts = 200
        if collection.handle == 'best-sellers'
            assign limitProducts = 20
        endif
        
        assign best_seller_counter = 0
        paginate collection.products by limitProducts
            for product in collection.products limit: limitProducts
                assign index = forloop.index
                assign best_seller = false
                for prod in collections[settings.best-sellers].products limit: 20
                    if product.id == prod.id
                        assign best_seller = true
                    endif
                endfor

                
                if product.tags contains "do not display"
                    continue
                endif
                
                if forloop.index <= 5
                    render 'product-unit' with product, in_collection: collection, all_colors_quickadd: true, all_sizes: true, add_to_cart: true, class: 'slide', wishlist: section.settings.wishlist, quick_view: section.settings.quickview, show_luggage_size: show_luggage_size, show_short_info: show_short_info, img_lazy: false, img_preload: true, sizes: sizes, early_access: early_access, best_seller: best_seller, index: index
                else
                    render 'product-unit' with product, in_collection: collection, all_colors_quickadd: true, all_sizes: true, add_to_cart: true, class: 'slide', wishlist: section.settings.wishlist, quick_view: section.settings.quickview, show_luggage_size: show_luggage_size, show_short_info: show_short_info, sizes: sizes, early_access: early_access, best_seller: best_seller, index: index
                endif
            endfor
        endpaginate

        for block in section.blocks
            case block.type
                when 'promo'
                    render 'promo-unit' with block
                when 'module'
                    render 'modular-block' with block as block, collection: collection
                when 'modular-section'
                    render 'modular-section' with block as block, collection: collection
                when 'static'
                    render 'static-block' with block as block
                when 'banner'
                    render 'banner-image-grid' with block as block
            endcase
        endfor
    -%}
</section>
<div class="product-grid__empty-text">
    <h3>No matching products found</h3>
</div>
<script>
     const sectionVideo = document.querySelectorAll('.modular-section-video');
    [].map.call(sectionVideo, function(video){
        video.addEventListener('mouseover', function(){
            console.log('mouseover');
            video.setAttribute('controls', 'controls');
        });
        video.addEventListener('mouseout', function(){
            console.log('mouseleave');
            video.removeAttribute('controls');
        });
    })
</script>
{% render 'schema-collection' %}

{% schema %}
    {
        "name": "Product Grid",
        "class": "shopify-section--product-grid",
        "settings": [
            {
                "type": "checkbox",
                "id": "wishlist",
                "label": "Show wishlist buttons",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "quickview",
                "label": "Enable quickview",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "hide_view",
                "label": "Hide column view settings",
                "default": true
            },
            {
                "type": "header",
                "content": "Product grid spacing"
            },
            {
                "type": "range",
                "id": "row_gap",
                "min": 0,
                "max": 100,
                "step": 5,
                "unit": "px",
                "label": "Row gap",
                "default": 40
            },
            {
                "type": "range",
                "id": "column_gap",
                "min": 0,
                "max": 100,
                "step": 5,
                "unit": "px",
                "label": "Column gap",
                "default": 10
            },
            {
                "type": "header",
                "content": "Modular block and section settings"
            },
            {
                "type": "collection_list",
                "id": "collection_list",
                "label": "Collections to display on",
                "info": "If no collections are selected, the modular blocks will be displayed on all collections."
            },
            {
                "type": "range",
                "id": "module_padding",
                "min": 0,
                "max": 50,
                "step": 1,
                "unit": "px",
                "label": "Modules sides spacing",
                "default": 10
            }
        ],
        "blocks": [
            {
                "type": "static",
                "name": "Static content",
                "settings": [
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "Label",
                        "default": "Desktop/Mobile: Static content",
                        "info": "For organization purposes. Not shown on site."
                    },
                    {
                        "type": "number",
                        "id": "index",
                        "label": "Product position in grid",
                        "default": 3,
                        "info": "This is not related to the column position, this is the position from only the products that are displayed in the grid. For example, if you have 20 products in the collection and you set this to 3, the static block will be displayed inside the 3rd product."
                    },
                    {
                        "type": "paragraph",
                        "content": "Since this rule uses the product index, it is not possible to have both mobile/desktop position fields. If you need to display a static block in a different position on mobile, you can create a duplicate of the block and set the position for mobile, see the settings below."
                    },
                    {
                        "type": "header",
                        "content": "Desktop Settings"
                    },
                    {
                        "type": "checkbox",
                        "id": "enable_static_for_desktop",
                        "default": true,
                        "label": "Enable Static Content For Desktop"
                    },
                    {
                        "type": "select",
                        "id": "static_media_type_desktop",
                        "label": "Static Content Desktop Media Type",
                        "options": [
                            {
                                "value": "image",
                                "label": "Image"
                            },
                            {
                                "value": "video",
                                "label": "Video"
                            }
                        ],
                        "default": "image"
                    },
                    {
                        "type": "image_picker",
                        "id": "desktop_static_img",
                        "label": "Desktop Image"
                    },
                    {
                        "type": "video",
                        "id": "desktop_static_video",
                        "label": "Desktop Video",
                        "info": "Only applies if Video is the Cover Media Type Selected"
                    },
                    {
                        "type": "header",
                        "content": "Mobile Settings"
                    },
                    {
                        "type": "checkbox",
                        "id": "enable_static_for_mobile",
                        "default": true,
                        "label": "Enable Static Content For Mobile"
                    },
                    {
                        "type": "select",
                        "id": "static_media_type_mobile",
                        "label": "Static Content Mobile Media Type",
                        "options": [
                            {
                                "value": "image",
                                "label": "Image"
                            },
                            {
                                "value": "video",
                                "label": "Video"
                            }
                        ],
                        "default": "image"
                    },
                    {
                        "type": "image_picker",
                        "id": "mobile_static_img",
                        "label": "Mobile Image"
                    },
                    {
                        "type": "video",
                        "id": "mobile_static_video",
                        "label": "Mobile Video",
                        "info": "Only applies if Video is the Cover Media Type Selected"
                    }
                ]
            },
            {
                "type": "promo",
                "name": "Promo",
                "settings": [
                    {
                        "type": "header",
                        "content": "Media"
                    },
                    {
                        "type": "image_picker",
                        "id": "banner",
                        "label": "Banner"
                    },
                    {
                        "type": "video_url",
                        "id": "video",
                        "label": "Video",
                        "accept": ["vimeo"]
                    },
                    {
                        "type": "image_picker",
                        "id": "banner-mobile",
                        "label": "Banner for mobile"
                    },
                    {
                        "type": "header",
                        "content": "Content"
                    },
                    {
                        "type": "url",
                        "id": "link",
                        "label": "Link"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "Text"
                    },
                    {
                        "type": "collection_list",
                        "label": "Limit to these collections",
                        "id": "show-for-collections"
                    },
                    {
                        "type": "header",
                        "content": "colors"
                    },
                    {
                        "type": "color",
                        "id": "background",
                        "label": "Background",
                        "default": "#e4dfd5"
                    },
                    {
                        "type": "color",
                        "id": "text-color",
                        "label": "Text color",
                        "default": "#000"
                    },
                    {
                        "type": "header",
                        "content": "Time Frame"
                    },
                    {
                        "type": "text",
                        "id": "starts-on",
                        "label": "Starts on"
                    },
                    {
                        "type": "text",
                        "id": "ends-on",
                        "label": "Ends on"
                    },
                    {
                        "type": "header",
                        "content": "Desktop Position"
                    },
                    {
                        "type": "range",
                        "id": "row",
                        "min": 1,
                        "max": 60,
                        "step": 1,
                        "label": "Row",
                        "default": 1
                    },
                    {
                        "type": "range",
                        "id": "column",
                        "min": 1,
                        "max": 4,
                        "step": 1,
                        "label": "Column",
                        "default": 1
                    },
                    {
                        "type": "header",
                        "content": "Mobile Position"
                    },
                    {
                        "type": "range",
                        "id": "row-mob",
                        "min": 1,
                        "max": 100,
                        "step": 1,
                        "label": "Row",
                        "default": 1
                    }
                ]
            },
            {
                "type": "module",
                "name": "Modular block",
                "settings": [
                    {
                        "type": "header",
                        "content": "Display rules"
                    },
                    {
                    "type": "checkbox",
                    "id": "pictured_link",
                    "label": "Pictured product link to quick view",
                    "default": true
                    },
                    {
                    "type": "select",
                    "id": "display",
                    "label": "Display rules for modular block",
                    "options": [
                        {
                        "value": "desktop",
                        "label": "Only Desktop"
                        },
                        {
                        "value": "mobile",
                        "label": "Only Mobile"
                        },
                        {
                        "value": "both",
                        "label": "Both"
                        }
                    ],
                    "default": "both"
                    },
                    {
                        "type": "header",
                        "content": "Desktop Settings"
                    },
                    {
                    "type": "number",
                    "id": "row",
                    "label": "Row position",
                    "default": 1
                    },
                    {
                    "type": "number",
                    "id": "column",
                    "label": "Desktop Column position",
                    "default": 1,
                    "info": "From 1 to 5"
                    },
                    {
                    "type": "number",
                    "id": "col_span",
                    "label": "Desktop Width Span (columns)",
                    "default": 2
                    },
                    {
                        "type": "header",
                        "content": "Mobile settings"
                    },
                    {
                    "type": "number",
                    "id": "mobile_row",
                    "label": "Mobile row position",
                    "default": 1
                    },
                    {
                    "type": "number",
                    "id": "column_mobile",
                    "label": "Mobile Column position",
                    "default": 1,
                    "info": "Only 1 or 2"
                    },
                    {
                    "type": "number",
                    "id": "col_span_mobile",
                    "label": "Mobile Width Span (columns)",
                    "default": 2
                    },
                    {
                        "type": "header",
                        "content": "Modular Block Media"
                    },
                    {
                        "type": "url",
                        "id": "target_link",
                        "label": "Object link"
                    },
                    {
                        "type": "header",
                        "content": "Text"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "richtext",
                        "id": "description",
                        "label": "Description"
                    },
                    {
                        "type": "header",
                        "content": "Product"
                    },
                    {
                        "type": "product_list",
                        "id": "pictured_products",
                        "label": "Pictured Products List"
                    },
                    {
                        "type": "header",
                        "content": "Media"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                    "type": "video",
                    "id": "video",
                    "label": "A Shopify-hosted video"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_mobile",
                        "label": "Image for mobile"
                    }
                ]
            },
            {
                "type": "modular-section",
                "name": "Modular Section",
                "settings": [ 
                    {
                    "type": "checkbox",
                    "id": "pictured_link",
                    "label": "Pictured product link to quick view",
                    "default": true
                    },
                    {
                    "type": "range",
                    "id": "gap",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "label": "Inner element's gap",
                    "default": 10
                    },
                    {
                    "type": "range",
                    "id": "section_height",
                    "min": 0,
                    "max": 200,
                    "step": 10,
                    "unit": "%",
                    "label": "Section height",
                    "default": 70,
                    "info":"This setting will be overriten by the default video height if a video is set"
                    },
                    {
                        "type": "header",
                        "content": "Display rules"
                    },
                    {
                    "type": "number",
                    "id": "row",
                    "label": "Row position",
                    "default": 3
                    },
                    {
                    "type": "number",
                    "id": "mobile_row",
                    "label": "Mobile row position",
                    "default": 1
                    },
                    {
                    "type": "number",
                    "id": "column",
                    "label": "Column position",
                    "default": 1
                    },
                    {
                    "type": "number",
                    "id": "col_span",
                    "label": "Width (columns)",
                    "default": 5
                    },                      
                    {
                        "type": "header",
                        "content": "Left block"
                    },
                    {
                        "type": "header",
                        "content": "Text"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "richtext",
                        "id": "description",
                        "label": "Description"
                    },
                    {
                        "type": "header",
                        "content": "Product"
                    },
                    {
                        "type": "product_list",
                        "id": "pictured_products",
                        "label": "Pictured Products List"
                    },
                    {
                        "type": "header",
                        "content": "Media"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "video",
                        "id": "video_l",
                        "label": "Video (first block)"
                      },
                    {
                        "type": "image_picker",
                        "id": "image_mobile",
                        "label": "Image for mobile"
                    },
                    {
                        "type": "header",
                        "content": "_________________________"
                    },
                    {
                        "type": "header",
                        "content": "Right block"
                    },

                    {
                        "type": "header",
                        "content": "Text"
                    },
                    {
                        "type": "text",
                        "id": "title_r",
                        "label": "Title"
                    },
                    {
                        "type": "richtext",
                        "id": "description_r",
                        "label": "Description"
                    },
                    {
                        "type": "header",
                        "content": "Product"
                    },
                    {
                        "type": "product_list",
                        "id": "pictured_products_r",
                        "label": "Pictured Products List"
                    },
                    {
                        "type": "header",
                        "content": "Media"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_r",
                        "label": "Image"
                    },
                    {
                        "type": "video",
                        "id": "video_r",
                        "label": "Video (second block)"
                      },
                    {
                        "type": "image_picker",
                        "id": "image_mobile_r",
                        "label": "Image for mobile"
                    }
                ]
            },
            {
                "type": "banner",
                "name": "Banner",
                "settings": [
                    {
                        "type": "header",
                        "content": "Settings"
                    },
                    {
                    "type": "select",
                    "id": "display",
                    "label": "Display rules for banner",
                    "options": [
                        {
                        "value": "desktop",
                        "label": "Only Desktop"
                        },
                        {
                        "value": "mobile",
                        "label": "Only Mobile"
                        },
                        {
                        "value": "both",
                        "label": "Desktop and Mobile"
                        }
                    ],
                    "default": "desktop"
                    },
                    {
                        "type": "collection_list",
                        "id": "collection_list",
                        "label": "Collections to display on the banner",
                        "info": "If no collections are selected, the banner will be displayed on all collections"
                    },
                    {
                        "type": "text",
                        "id": "banner-text",
                        "label": "Central Banner Text"
                    },
                    {
                        "type": "text",
                        "id": "row",
                        "label": "Row desktop position",
                        "default": "1"
                    },
                    {
                        "type": "text",
                        "id": "row_mobile",
                        "label": "Row mobile position",
                        "default": "1"
                    },
                    {
                        "type": "select",
                        "id": "media-type",
                        "label": "Cover Media Type",
                        "options": [
                            {
                                "value": "image",
                                "label": "Image"
                            },
                            {
                                "value": "video",
                                "label": "Video"
                            }
                        ],
                        "default": "image"
                    },
                    {
                        "type": "image_picker",
                        "id": "banner-image",
                        "label": "Cover Image for Banner",
                        "info": "Only applies if Image is the Cover Media Type Selected"
                    },
                    {
                        "type": "video",
                        "id": "banner-video",
                        "label": "Cover Video for Banner",
                        "info": "Only applies if Video is the Cover Media Type Selected"
                    },
                    {
                        "type": "number",
                        "id": "banner-media-height",
                        "label": "Cover Media Height on Desktop in pixels",
                        "default": 500
                    },
                    {
                        "type": "number",
                        "id": "banner-media-height-mobile",
                        "label": "Cover Media Height on Mobile in pixels",
                        "default": 300
                    },
                    {
                        "type": "color",
                        "id": "banner-text-color",
                        "label": "Central Banner Text Color",
                        "default": "#000"
                    },
                    {
                        "type": "color",
                        "id": "banner-text-background-color",
                        "label": "Central Banner Text Background Color",
                        "default": "#FFF"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Product Grid"
            }
        ]
    }
{% endschema %}