{{ 'section-product-grid.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-star-rating.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-star-rating.css' | asset_url | stylesheet_tag }}</noscript>

<link rel="stylesheet" href="{{ 'component-color-swatch.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-color-swatch.css' | asset_url | stylesheet_tag }}</noscript>

{%- if section.blocks.size > 0 -%}
<link rel="stylesheet" href="{{ 'component-promo-unit.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-promo-unit.css' | asset_url | stylesheet_tag }}</noscript>
<link rel="stylesheet" href="{{ 'section-featured-content-blocks.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'section-featured-content-blocks.css' | asset_url | stylesheet_tag }}</noscript>
<link rel="stylesheet" href="{{ 'component-floating-link.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-floating-link.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}


<style>
    .modular-block img, .modular-section img {
        border-radius: 9px;
    }
    .modular-block,
    .modular-section {
        border-radius: 9px;
        padding: 0;
    }

    {% if template == 'collection' or 'summer-arrival' %}
        {% if section.settings.collection_list != empty %}
            {% for collection_item in section.settings.collection_list %}
                {% if collection_item.handle == collection.handle %}
                    .modular-block, .modular-section__wrap {
                        display:flex!important;
                    }
                {% else %} 
                    .{{ collection_item.handle }} .modular-block, .{{ collection_item.handle }} .modular-section__wrap, .{{ collection_item.handle }} .static-video-desktop {
                        display:flex!important;
                    }
                {% endif %}
            {% endfor %}
        {% else %}
                .modular-block, .modular-section__wrap {
                   display:flex!important;
                }
        {% endif %}
    {% endif %}
    .product-grid {
        row-gap: {{section.settings.row_gap}}px;
        column-gap:{{section.settings.column_gap}}px;
    }
    @media (max-width: 900px) {
        .product-grid {
            row-gap: 25px;
        }    
    }
</style>

{%- liquid
    assign show_short_info = false
    assign show_luggage_size = false
    assign early_access = false
    if template contains 'collection'
        if collection.metafields.custom.show_luggage_size
            assign show_luggage_size = true
        endif

        if collection.metafields.custom.show_short_info
            assign show_short_info = true
        endif

        if collection.metafields.custom.early_access != blank
            if collection.metafields.custom.early_access == "Don't hide early access variants"
                assign early_access = 'all'
            elsif collection.metafields.custom.early_access == "Display only early access variants"
                assign early_access = 'only'
            endif
        endif
    endif

    assign sizes = '(min-width: 901px) 20vw, (min-width: 651px) 33.33vw, 50vw'
-%}

<section class="product-grid">
    {%- liquid 
        assign limitProducts = 200
        if collection.handle == 'best-sellers'
            assign limitProducts = 20
        endif
        
        assign best_seller_counter = 0
        paginate collection.products by limitProducts
            for product in collection.products limit: limitProducts
                assign index = forloop.index
                assign best_seller = false
                for prod in collections[settings.best-sellers].products limit: 20
                    if product.id == prod.id
                        assign best_seller = true
                    endif
                endfor

                
                if product.tags contains "do not display"
                    continue
                endif
                
                if forloop.index <= 5
                    render 'product-unit' with product, in_collection: collection, all_colors_quickadd: true, all_sizes: true, add_to_cart: true, class: 'slide', wishlist: section.settings.wishlist, quick_view: section.settings.quickview, show_luggage_size: show_luggage_size, show_short_info: show_short_info, img_lazy: false, img_preload: true, sizes: sizes, early_access: early_access, best_seller: best_seller, index: index
                else
                    render 'product-unit' with product, in_collection: collection, all_colors_quickadd: true, all_sizes: true, add_to_cart: true, class: 'slide', wishlist: section.settings.wishlist, quick_view: section.settings.quickview, show_luggage_size: show_luggage_size, show_short_info: show_short_info, sizes: sizes, early_access: early_access, best_seller: best_seller, index: index
                endif
            endfor
        endpaginate

        for block in section.blocks
            case block.type
                when 'promo'
                    render 'promo-unit' with block
                when 'module'
                    render 'modular-block' with block as block, collection: collection
                when 'modular-section'
                    render 'modular-section' with block as block, collection: collection
                when 'static'
                    render 'static-block' with block as block
            endcase
        endfor
    -%}
</section>
<div class="product-grid__empty-text">
    <h3>No matching products found</h3>
</div>

{% render 'schema-collection' %}

{% schema %}
    {
        "name": "Product Grid",
        "class": "shopify-section--product-grid",
        "settings": [
            {
                "type": "checkbox",
                "id": "wishlist",
                "label": "Show wishlist buttons",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "quickview",
                "label": "Enable quickview",
                "default": true
            },
            {
                "type": "header",
                "content": "Product grid spacing"
            },
            {
                "type": "range",
                "id": "row_gap",
                "min": 0,
                "max": 100,
                "step": 5,
                "unit": "px",
                "label": "Row gap",
                "default": 40
            },
            {
                "type": "range",
                "id": "column_gap",
                "min": 0,
                "max": 100,
                "step": 5,
                "unit": "px",
                "label": "Column gap",
                "default": 10
            },
            {
                "type": "header",
                "content": "Modular block and section settings"
            },
            {
                "type": "collection_list",
                "id": "collection_list",
                "label": "Collections to display on",
                "info": "If no collections are selected, the modular blocks will be displayed on all collections."
            },
            {
                "type": "range",
                "id": "module_padding",
                "min": 0,
                "max": 50,
                "step": 1,
                "unit": "px",
                "label": "Modules sides spacing",
                "default": 10
            }
        ],
        "blocks": [
            {
                "type": "static",
                "name": "Static content",
                "settings": [
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "Label",
                        "info": "For organization purposes. Not shown on site.",
                        "default": "Static: name your block"
                    },
                    {
                        "type": "number",
                        "id": "index",
                        "label": "Product position in grid",
                        "default": 3,
                        "info": "This is not related to the column position, this is the position from only the products that are displayed in the grid. For example, if you have 20 products in the collection and you set this to 3, the static block will be displayed inside the 3rd product."
                    },
                    {
                        "type": "paragraph",
                        "content": "Save changes to see the preview."
                    },
                    {
                        "type": "header",
                        "content": "Desktop Settings"
                    },
                    {
                        "type": "checkbox",
                        "id": "enable_static_for_desktop",
                        "default": true,
                        "label": "Enable Static Content For Desktop"
                    },
                    {
                        "type": "select",
                        "id": "static_media_type_desktop",
                        "label": "Static Content Desktop Media Type",
                        "options": [
                            {
                                "value": "image",
                                "label": "Image"
                            },
                            {
                                "value": "video",
                                "label": "Video"
                            }
                        ],
                        "default": "image"
                    },
                    {
                        "type": "image_picker",
                        "id": "desktop_static_img",
                        "label": "Desktop Image"
                    },
                    {
                        "type": "video",
                        "id": "desktop_static_video",
                        "label": "Desktop Video",
                        "info": "Only applies if Video is the Cover Media Type Selected"
                    },
                    {
                        "type": "header",
                        "content": "Mobile Settings"
                    },
                    {
                        "type": "checkbox",
                        "id": "enable_static_for_mobile",
                        "default": true,
                        "label": "Enable Static Content For Mobile"
                    },
                    {
                        "type": "select",
                        "id": "static_media_type_mobile",
                        "label": "Static Content Mobile Media Type",
                        "options": [
                            {
                                "value": "image",
                                "label": "Image"
                            },
                            {
                                "value": "video",
                                "label": "Video"
                            }
                        ],
                        "default": "image"
                    },
                    {
                        "type": "image_picker",
                        "id": "mobile_static_img",
                        "label": "Mobile Image"
                    },
                    {
                        "type": "video",
                        "id": "mobile_static_video",
                        "label": "Mobile Video",
                        "info": "Only applies if Video is the Cover Media Type Selected"
                    }
                ]
            },
            {
                "type": "promo",
                "name": "Promo",
                "settings": [
                    {
                        "type": "header",
                        "content": "Media"
                    },
                    {
                        "type": "image_picker",
                        "id": "banner",
                        "label": "Banner"
                    },
                    {
                        "type": "video_url",
                        "id": "video",
                        "label": "Video",
                        "accept": ["vimeo"]
                    },
                    {
                        "type": "image_picker",
                        "id": "banner-mobile",
                        "label": "Banner for mobile"
                    },
                    {
                        "type": "header",
                        "content": "Content"
                    },
                    {
                        "type": "url",
                        "id": "link",
                        "label": "Link"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "Text"
                    },
                    {
                        "type": "collection_list",
                        "label": "Limit to these collections",
                        "id": "show-for-collections"
                    },
                    {
                        "type": "header",
                        "content": "colors"
                    },
                    {
                        "type": "color",
                        "id": "background",
                        "label": "Background",
                        "default": "#e4dfd5"
                    },
                    {
                        "type": "color",
                        "id": "text-color",
                        "label": "Text color",
                        "default": "#000"
                    },
                    {
                        "type": "header",
                        "content": "Time Frame"
                    },
                    {
                        "type": "text",
                        "id": "starts-on",
                        "label": "Starts on"
                    },
                    {
                        "type": "text",
                        "id": "ends-on",
                        "label": "Ends on"
                    },
                    {
                        "type": "header",
                        "content": "Desktop Position"
                    },
                    {
                        "type": "range",
                        "id": "row",
                        "min": 1,
                        "max": 60,
                        "step": 1,
                        "label": "Row",
                        "default": 1
                    },
                    {
                        "type": "range",
                        "id": "column",
                        "min": 1,
                        "max": 4,
                        "step": 1,
                        "label": "Column",
                        "default": 1
                    },
                    {
                        "type": "header",
                        "content": "Mobile Position"
                    },
                    {
                        "type": "range",
                        "id": "row-mob",
                        "min": 1,
                        "max": 100,
                        "step": 1,
                        "label": "Row",
                        "default": 1
                    }
                ]
            },
            {
                "type": "module",
                "name": "Modular block",
                "settings": [
                    {
                        "type": "header",
                        "content": "Display rules"
                    },
                    {
                    "type": "checkbox",
                    "id": "pictured_link",
                    "label": "Pictured product link to quick view",
                    "default": true
                    },
                    {
                    "type": "checkbox",
                    "id": "only_mobile",
                    "label": "Display this Block only on mobile",
                    "default": false
                    },
                    {
                    "type": "number",
                    "id": "row",
                    "label": "Row position",
                    "default": 1
                    },
                    {
                    "type": "number",
                    "id": "mobile_row",
                    "label": "Mobile row position",
                    "default": 1
                    },
                    {
                    "type": "number",
                    "id": "column",
                    "label": "Column position",
                    "default": 1
                    },
                    {
                    "type": "number",
                    "id": "col_span",
                    "label": "Width (columns)",
                    "default": 2
                    },
                    {
                        "type": "header",
                        "content": "Modular Block Media"
                    },
                    {
                        "type": "url",
                        "id": "target_link",
                        "label": "Object link"
                    },
                    {
                        "type": "header",
                        "content": "Text"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "richtext",
                        "id": "description",
                        "label": "Description"
                    },
                    {
                        "type": "header",
                        "content": "Product"
                    },
                    {
                        "type": "product_list",
                        "id": "pictured_products",
                        "label": "Pictured Products List"
                    },
                    {
                        "type": "header",
                        "content": "Media"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "video_url",
                        "id": "video",
                        "label": "Video",
                        "accept": ["vimeo"]
                    },
                    {
                        "type": "image_picker",
                        "id": "image_mobile",
                        "label": "Image for mobile"
                    }
                ]
            },
            {
                "type": "modular-section",
                "name": "Modular Section",
                "settings": [ 
                    {
                    "type": "checkbox",
                    "id": "pictured_link",
                    "label": "Pictured product link to quick view",
                    "default": true
                    },
                    {
                    "type": "range",
                    "id": "gap",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "label": "Inner element's gap",
                    "default": 10
                    },
                    {
                    "type": "range",
                    "id": "section_height",
                    "min": 0,
                    "max": 200,
                    "step": 10,
                    "unit": "%",
                    "label": "Section height",
                    "default": 70,
                    "info":"This setting will be overriten by the default video height if a video is set"
                    },
                    {
                        "type": "header",
                        "content": "Display rules"
                    },
                    {
                    "type": "number",
                    "id": "row",
                    "label": "Row position",
                    "default": 3
                    },
                    {
                    "type": "number",
                    "id": "mobile_row",
                    "label": "Mobile row position",
                    "default": 1
                    },
                    {
                    "type": "number",
                    "id": "column",
                    "label": "Column position",
                    "default": 1
                    },
                    {
                    "type": "number",
                    "id": "col_span",
                    "label": "Width (columns)",
                    "default": 5
                    },                      
                    {
                        "type": "header",
                        "content": "Left block"
                    },
                    {
                        "type": "url",
                        "id": "target_link",
                        "label": "Object link"
                    },
                    {
                        "type": "header",
                        "content": "Text"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "richtext",
                        "id": "description",
                        "label": "Description"
                    },
                    {
                        "type": "header",
                        "content": "Product"
                    },
                    {
                        "type": "product_list",
                        "id": "pictured_products",
                        "label": "Pictured Products List"
                    },
                    {
                        "type": "header",
                        "content": "Media"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "video_url",
                        "id": "video",
                        "label": "Video",
                        "accept": ["vimeo"]
                    },
                    {
                        "type": "text",
                        "id": "video-ratio-w",
                        "label": "Video aspect ratio width",
                        "default": "16",
                        "info": "16/9 - standard widescreen, 9/16 - portrait, 1/1 square, etc."
                    },
                    {
                        "type": "text",
                        "id": "video-ratio-h",
                        "label": "Video aspect ratio height",
                        "default": "9"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_mobile",
                        "label": "Image for mobile"
                    },
                    {
                        "type": "header",
                        "content": "_________________________"
                    },
                    {
                        "type": "header",
                        "content": "Right block"
                    },
                    {
                        "type": "url",
                        "id": "target_link_r",
                        "label": "Object link"
                    },
                    {
                        "type": "header",
                        "content": "Text"
                    },
                    {
                        "type": "text",
                        "id": "title_r",
                        "label": "Title"
                    },
                    {
                        "type": "richtext",
                        "id": "description_r",
                        "label": "Description"
                    },
                    {
                        "type": "text",
                        "id": "button-text_r",
                        "label": "Button Text"
                    },
                    {
                        "type": "header",
                        "content": "Product"
                    },
                    {
                        "type": "url",
                        "id": "pictured_product_r",
                        "label": "Pictured Product URL"
                    },
                    {
                        "type": "text",
                        "id": "product_title_r",
                        "label": "Product Title"
                    },
                    {
                        "type": "header",
                        "content": "Media"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_r",
                        "label": "Image"
                    },
                    {
                        "type": "video_url",
                        "id": "video_r",
                        "label": "Video",
                        "accept": ["vimeo"]
                    },
                    {
                        "type": "text",
                        "id": "video-ratio-w_r",
                        "label": "Video aspect ratio width",
                        "default": "16",
                        "info": "16/9 - standard widescreen, 9/16 - portrait, 1/1 square, etc."
                    },
                    {
                        "type": "text",
                        "id": "video-ratio-h_r",
                        "label": "Video aspect ratio height",
                        "default": "9"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_mobile_r",
                        "label": "Image for mobile"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Product Grid"
            }
        ]
    }
{% endschema %}