{{ 'section-promo-collection.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-floating-link.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-floating-link.css' | asset_url | stylesheet_tag }}</noscript>

<section class="promo-collection promo-collection--{{ section.id }}">
    {%- if section.settings.title != blank -%}
        <div class="promo-collection__title">{{- section.settings.title | escape -}}</div>
    {%- endif -%}
    {%- if section.settings.description != blank -%}
        <div class="promo-collection__description">{{- section.settings.description -}}</div>
    {%- endif -%}

    <div class="promo-collection__products-wrapper slider__wrapper" data-gap="10">
        <button aria-label="Show previous slide" class="slider__control button-tri-left slider__control--prev" title="Previous"></button>
        <button aria-label="Show next slide" class="slider__control button-tri-right slider__control--next" title="Next"></button>

        <div class="promo-collection__products slider slider--scrollbar" data-slider-on="mobile">
            {%- liquid
                assign desktopWidth = 50 | divided_by: section.settings.columns
                assign sizes = '(min-width: 901px) ' | append: desktopWidth | append: 'vw, (min-width: 651px) 33.33vw, 50vw'
                if section.settings.product_list != blank
                    render 'product-unit' for section.settings.product_list, wishlist: true, quick_view: section.settings.quick-view, floatingLabels: section.settings.product-labels, sizes: sizes, class: "slide"
                elsif section.settings.featured-collection != blank
                    if section.settings.collection-limit == 0
                        render 'product-unit' for section.settings.featured-collection.products, wishlist: true, quick_view: section.settings.quick-view, floatingLabels: section.settings.product-labels, in_collection: section.settings.featured-collection, sizes: sizes, class: "slide"
                    else
                        for product in section.settings.featured-collection.products limit: section.settings.collection-limit
                            render 'product-unit' with product, wishlist: true, quick_view: section.settings.quick-view, floatingLabels: section.settings.product-labels, in_collection: section.settings.featured-collection, sizes: sizes, class: "slide"
                        endfor
                    endif
                endif
            -%}
            {%- if section.settings.product_list == blank and section.settings.featured-collection != blank and section.settings.show-view-all  -%}
            <div class="promo-collection__products-all">
                <a aria-label="Go to collection page" href="{{- section.settings.featured-collection.url -}}" class="promo-collection__products-all-inner">
                    <span>View All</span>
                </a>
            </div>
            {%- endif -%}
        </div>
    </div>
    <div class="promo-collection__media">
        {%- if section.settings.media-link != blank -%}<a href="{{- section.settings.media-link -}}">{%- endif -%}

        {%- liquid
            assign desktopClass = false
            if section.settings.image-mobile != blank
                assign desktopClass = 'hide-small'
                render 'image' with section.settings.image-mobile, class: 'hide-large', sizes: '100vw', lazy: true
            endif

            if section.settings.video != blank
                render 'video' with section.settings.video, poster: section.settings.image, class: desktopClass, autoplay: true, loop: true, controls: false
            else
                render 'image' with section.settings.image, class: desktopClass, sizes: '50vw', lazy: true
            endif
        -%}

        {%- if section.settings.media-link != blank -%}</a>{%- endif -%}

        {%- liquid
            assign product = false
            if section.settings.pictured-product != blank
                assign product = all_products[section.settings.pictured-product]
            endif
        -%}
        <div class="floating-link floating-link--{{ section.settings.pictured-product-display }}">
            {%- if section.settings.button-text != blank -%}
            <a
                {% if product != false and section.settings.button-quick-view %}
                href="{{ product.url }}"
                class="button button--secondary quick-view__link"
                {% else %}
                href="{{ section.settings.button-link }}"
                class="button button--secondary"
                {% endif %}
                >
                <span>{{- section.settings.button-text | escpe -}}</span>
            </a>
            {%- endif -%}

            {% if product %}

            <div class="floating-link__pictured">
                Pictured: <a
                    {% if product != false and section.settings.pictured-product-quick-view %} 
                        href="{{ product.url }}"
                        class="quick-view__link"
                    {% else %}
                        href="{% if section.settings.pictured-product-override != blank %}{{ pictured-product-override }}{% else %}{{ product.url }}{% endif %}"
                    {% endif %}>
                    {%- if section.settings.pictured-product-title != blank -%}
                        {{- section.settings.pictured-product-title | escape -}}
                    {%- else -%}
                        {{- product.title | replace: ' - Final', '' | replace: ' - FW', '' | escape -}}
                    {%- endif -%}
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% style %}
    .promo-collection--{{ section.id }} {
        background: {{- section.settings.background -}};
        color: {{ section.settings.text-color }};
    }

    .promo-collection--{{ section.id }} .promo-collection__products {
        grid-template-columns: repeat({{ section.settings.columns }}, 1fr);
    }

    .promo-collection--{{ section.id }} .product-unit__price s {
        color: {{ section.settings.text-color }};
    }

    .promo-collection--{{ section.id }} .product-unit {
        color: {{ section.settings.text-color }};
        --sale-price-color: {{ section.settings.accent-color }};
    }

   /* .promo-collection--{{ section.id }} .icon-heart {
        fill: {{ section.settings.text-color }};
    }*/
{% endstyle %}


{% schema %}
    {
        "name": "Promo Collection",
        "class": "shopify-section--promo-col",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "richtext",
                "id": "description",
                "label": "Description"
            },
            {
                "type": "header",
                "content": "Products settings"
            },
            {
                "type": "checkbox",
                "id": "quick-view",
                "label": "Enable quick view buttons",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "product-labels",
                "label": "Show floating labels",
                "default": false
            },
            {
                "type": "header",
                "content": "Background media"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "video_url",
                "id": "video",
                "label": "Video",
                "accept": ["youtube", "vimeo"],
                "info": "Overrides the image"
            },
            {
                "type": "image_picker",
                "id": "image-mobile",
                "label": "Image for mobile"
            },
            {
                "type": "url",
                "id": "media-link",
                "label": "Background link"
            },
            {
                "type": "header",
                "content": "Pictured product"
            },
            {
                "type": "product",
                "id": "pictured-product",
                "label": "Pictured Product"
            },
            {
                "type": "checkbox",
                "id": "pictured-product-quick-view",
                "label": "Pictured product link quick view",
                "default": false
            },
            {
                "type": "url",
                "id": "pictured-product-override",
                "label": "Pictured product link override",
                "info": "Only if quick view is disabled"
            },
            {
                "type": "text",
                "id": "pictured-product-title",
                "label": "Pictured Product Title Override"
            },
            {
                "type": "header",
                "content": "Button"
            },
            {
                "type": "text",
                "id": "button-text",
                "label": "Button Text"
            },
            {
                "type": "checkbox",
                "id": "button-quick-view",
                "label": "Quick view the product",
                "default": false
            },
            {
                "type": "url",
                "id": "button-link",
                "label": "Button Link",
                "info": "If quick view is disabled"
            },
            {
                "type": "header",
                "content": "Display"
            },
            {
                "type": "color",
                "id": "background",
                "label": "Background Color",
                "default": "#ff6b0e"
            },
            {
                "type": "color",
                "id": "text-color",
                "label": "Text color",
                "default": "#fff"
            },
            {
                "type": "color",
                "id": "accent-color",
                "label": "Accent color",
                "default": "#fff"
            },
            {
                "type": "select",
                "id": "pictured-product-display",
                "label": "Pictured Product Position",
                "options": [
                    {
                        "value": "top",
                        "label": "Top"
                    },
                    {
                        "value": "bottom",
                        "label": "Bottom"
                    }
                ],
                "default": "top"
            },
            {
                "type": "header",
                "content": "Featured Products"
            },
            {
                "type": "collection",
                "id": "featured-collection",
                "label": "Collection"
            },
            {
                "type": "range",
                "id": "collection-limit",
                "min": 0,
                "max": 15,
                "step": 1,
                "label": "Limit product number",
                "default": 0,
                "info": "0 to show all products"
            },
            {
                "type": "checkbox",
                "id": "show-view-all",
                "label": "Show View All button",
                "default": true,
                "info": "For collection only"
            },
            {
                "type": "product_list",
                "id": "product_list",
                "label": "Product list",
                "info": "Overrides collection"
            },
            {
                "type": "select",
                "id": "columns",
                "label": "Product Columns",
                "options": [
                    {
                        "value": "2",
                        "label": "2"
                    },
                    {
                        "value": "3",
                        "label": "3"
                    }
                ],
                "default": "3"
            }
        ],
        "presets": [
            {
                "name": "Promo Collection"
            }
        ]
    }
{% endschema %}