{%- if section.settings.preload -%}
    {{ 'section-promotion-banner.css' | asset_url | stylesheet_tag: preload: true }}
{%- else -%}
    {{ 'section-promotion-banner.css' | asset_url | stylesheet_tag }}
{%- endif -%}


{% for product in section.settings.product_list %}
    {% if canonical_url contains product.handle %}
        <style>
        .promotion-banner__section[data-id="{{ section.id }}"] {
            display:flex;
        }
        </style>
    {% endif %}
{% endfor %}
{% for collection in section.settings.collection_list %}
    {% if canonical_url contains collection.handle %}
        <style>
        .promotion-banner__section[data-id="{{ section.id }}"] {
            display:flex;
        }
        </style>
    {% endif %}
{% endfor %}

    {% if section.settings.cta_link == 'none' %}
        <section id="{{ section.settings.section-id }}" data-id="{{ section.id }}" class="promotion-banner__section{% if section.settings.hide %} promotion-banner__section--hidden{% endif %}">
            {%- if section.settings.title-above != blank -%}
                <h2 class="promotion-banner__title">{{- section.settings.title-above | escape -}}</h2>
            {%- endif -%}
            <div class="promotion-banner__content">
                {{- section.settings.main-text -}}
            </div>
            {% if section.settings.terms_text %}
            <a title="click to go to to terms and conditions" aria-label="click to go to terms and conditions" href="{{ section.settings.terms_url }}" target="_blank" class="promotion-banner__terms">{{ section.settings.terms_text }}</a>
            {% endif %}
        </section>
    {% elsif section.settings.cta_link == 'wrap' %}
        <a class="promotion-banner__link" href="{{ section.settings.cta_url }}">
            <section id="{{ section.settings.section-id }}" data-id="{{ section.id }}" class="promotion-banner__section{% if section.settings.hide %} promotion-banner__section--hidden{% endif %}">
            {%- if section.settings.title-above != blank -%}
                    <h2 class="promotion-banner__title">{{- section.settings.title-above | escape -}}</h2>
                {%- endif -%}
                <div class="promotion-banner__content">
                    {{- section.settings.main-text -}}
                </div>
            {% if section.settings.terms_text %}
            <a title="click to go to to terms and conditions" aria-label="click to go to terms and conditions" href="{{ section.settings.terms_url }}" target="_blank" class="promotion-banner__terms">{{ section.settings.terms_text }}</a>
            {% endif %}
                
            </section>
        </a>
    {% elsif section.settings.cta_link == 'cta' %}
        <section id="{{ section.settings.section-id }}" data-id="{{ section.id }}" class="promotion-banner__section{% if section.settings.hide %} promotion-banner__section--hidden{% endif %}">
            {%- if section.settings.title-above != blank -%}
                <h2 class="promotion-banner__title">{{- section.settings.title-above | escape -}}</h2>
            {%- endif -%}
            <div class="promotion-banner__content">
                {{- section.settings.main-text -}}
            </div>
            {% if section.settings.terms_text %}
            <a title="click to go to to terms and conditions" aria-label="click to go to terms and conditions" href="{{ section.settings.terms_url }}" target="_blank" class="promotion-banner__terms">{{ section.settings.terms_text }}</a>
            {% endif %}
            <a class="button button--secondary promotion-banner__cta" 
            style="
                background: {{ section.settings.cta_background }};
                color: {{ section.settings.cta_color }};"
            href="{{ section.settings.cta_url }}" title="click to go to promotion" aria-label="click to go to promotion"><span>{{ section.settings.cta_text }}</span></a>
        </section>
    {% endif %}


<style>
    html {
    scroll-behavior: smooth;
    }
    .promotion-banner__section[data-id="{{ section.id }}"] {
        --background: {{ section.settings.background }};
        --color: {{ section.settings.text-color }};
        --bold-bg: {{ section.settings.bold-text-background }};
    }
</style>
<script>
{% if section.settings.cta_link == 'cta' %}
let currentUrl = window.location.href;
const ctaBtn = document.querySelectorAll('.promotion-banner__cta');
[].map.call(ctaBtn, function(el) {
    el.addEventListener('click', function(e){
        e.preventDefault();
        let ctaUrl = el.getAttribute('href');
        if(currentUrl.indexOf('collection') > -1){
        const element = document.querySelector('.shopify-section--product-grid');
        const headerOffset = 150;
        const elementPosition = element.getBoundingClientRect().top;
        const offsetPosition = elementPosition + window.pageYOffset - headerOffset; 
        if(currentUrl.indexOf(ctaUrl) > -1){
            window.scrollTo({
                top: offsetPosition,
                behavior: "smooth"
            });
        } else {
            window.location.href = ctaUrl;
        }
    } else {
        window.location.href = ctaUrl;
    }
    });
});
{% endif %}
</script>
{% schema %}
    {
        "name": "Promotional Banner",
        "class": "shopify-section--promotion-banner",
        "settings": [
            {
                "type": "checkbox",
                "id": "preload",
                "label": "Preload section styles",
                "default": true,
                "info": "Enable when the section is visible on page load (above the fold) for better performance"
            },
            {
                "type": "color",
                "id": "background",
                "label": "Background color",
                "default": "#f7f177"
            },
            {
                "type": "color",
                "id": "text-color",
                "label": "Text color",
                "default": "#000"
            },
            {
                "type": "color",
                "id": "bold-text-background",
                "label": "Bold text background",
                "default": "#fff"
            },
            {
                "type": "text",
                "id": "title-above",
                "label": "Upper title"
            },
            {
                "type": "richtext",
                "id": "main-text",
                "label": "Main text"
            },
            {
                "type":"header",
                "content": "Display rules",
                "info": "Collection and product rules will override hide by default checkbox rule, this will work as expected if hiding checkbox is checked"
            },
            {
                "type": "checkbox",
                "id": "hide",
                "label": "Hide by default",
                "default": true,
                "info": "This will hide the banner site wide except for the display rules defined below"
            },
            {
                "type": "product_list",
                "id": "product_list",
                "label": "Products",
                "info": "Ignore this setting if you are in collection template. This setting only applies if this section is in the product template."
            },
            {
                "type": "collection_list",
                "id": "collection_list",
                "label": "Collections",
                "info": "Ignore this setting if you are in product template. This setting only applies if this section is in the collection template"
            },
            {
                "type": "text",
                "id": "section-id",
                "label": "Section ID",
                "info": "Used to target this section with Google Optimize. Use a unique identifier, do not leave this blank."
            },
            {
                "type":"header",
                "content": "Link and CTA settings"
            },
            {
                "type": "select",
                "id": "cta_link",
                "label": "Banner link type",
                "options": [
                    {
                        "value": "wrap",
                        "label": "Whole banner"
                    },
                    {
                        "value": "cta",
                        "label": "Use CTA"
                    },
                    {
                        "value": "none",
                        "label": "None"
                    }
                ],
                "default": "none"
            },
            {
                "type": "url",
                "id": "cta_url",
                "label": "Link url"
            },
            {
            "type": "text",
            "id": "cta_text",
            "label": "CTA label",
            "default": "Click here"
            },
            {
                "type": "color",
                "id": "cta_color",
                "label": "CTA text color",
                "default": "#000"
            },
            {
                "type": "color",
                "id": "cta_background",
                "label": "CTA background",
                "default": "#fff"
            },
            {
                "type":"header",
                "content": "Terms and conditions"
            },
            {
                "type": "text",
                "id": "terms_text",
                "label": "Terms text",
                "default": "Terms and conditions apply"
            },
            {
                "type": "url",
                "id": "terms_url",
                "label": "Terms url",
                "info": "Will open in a new tab by default"
            }
        ],
        "presets": [
            {
                "name": "Promotional Banner"
            }
        ]
    }
{% endschema %}