{%- if section.settings.preload -%}
  {{ 'section-promotion-banner.css' | asset_url | stylesheet_tag: preload: true }}
{%- else -%}
  {{ 'section-promotion-banner.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{% if template == 'product' %}
  {% for product_item in section.settings.product_list %}
    {% if product_item.handle == product.handle %}
      <style>
        .promotion-banner__section[data-id="{{ section.id }}"] {
          display: flex;
        }
      </style>
    {% endif %}
  {% endfor %}
{% endif %}

{% if template == 'collection' %}
  {% for collection_item in section.settings.collection_list %}
    {% if collection_item.handle == collection.handle %}
      <style>
        .promotion-banner__section[data-id="{{ section.id }}"] {
          display: flex;
        }
      </style>
    {% endif %}
  {% endfor %}
{% endif %}


{% if section.settings.cta_link == 'none' %}
  <section
    id="{{ section.settings.section-id }}"
    data-id="{{ section.id }}"
    class="show-desktop promotion-banner__section{% if section.settings.hide %} promotion-banner__section--hidden{% endif %}">
    {%- if section.settings.title-above != blank -%}
      <h2 class="promotion-banner__title">{{- section.settings.title-above | escape -}}</h2>
    {%- endif -%}
    <div class="promotion-banner__content">
      {{- section.settings.main-text -}}
    </div>
    {% if section.settings.terms_text %}
      <a
        title="click to go to to terms and conditions"
        aria-label="click to go to terms and conditions"
        href="{{ section.settings.terms_url }}"
        target="_blank"
        class="promotion-banner__terms">{{ section.settings.terms_text }}</a>
    {% endif %}
  </section>
{% elsif section.settings.cta_link == 'wrap' %}
  <a class="show-desktop promotion-banner__link" href="{{ section.settings.cta_url }}">
    <section
      id="{{ section.settings.section-id }}"
      data-id="{{ section.id }}"
      class="show-desktop promotion-banner__section{% if section.settings.hide %} promotion-banner__section--hidden{% endif %}">
      {%- if section.settings.title-above != blank -%}
        <h2 class="promotion-banner__title">{{- section.settings.title-above | escape -}}</h2>
      {%- endif -%}
      <div class="promotion-banner__content">
        {{- section.settings.main-text -}}
      </div>
      {% if section.settings.terms_text %}
        <a
          title="click to go to to terms and conditions"
          aria-label="click to go to terms and conditions"
          href="{{ section.settings.terms_url }}"
          target="_blank"
          class="promotion-banner__terms">{{ section.settings.terms_text }}</a>
      {% endif %}

    </section>
  </a>
{% elsif section.settings.cta_link == 'cta' %}
  <section
    id="{{ section.settings.section-id }}"
    data-id="{{ section.id }}"
    class="show-desktop promotion-banner__section{% if section.settings.hide %} promotion-banner__section--hidden{% endif %}">
    {%- if section.settings.title-above != blank -%}
      <h2 class="promotion-banner__title">{{- section.settings.title-above | escape -}}</h2>
    {%- endif -%}
    <div class="promotion-banner__content">
      {{- section.settings.main-text -}}
    </div>
    {% if section.settings.terms_text %}
      <a
        title="click to go to to terms and conditions"
        aria-label="click to go to terms and conditions"
        href="{{ section.settings.terms_url }}"
        target="_blank"
        class="promotion-banner__terms">{{ section.settings.terms_text }}</a>
    {% endif %}
    <span
      class="button button--secondary promotion-banner__cta"
      onclick="promotionCTAHandler('{{ section.settings.cta_url }}');"
      style="
                                                                                                                              background: {{ section.settings.cta_background }};
                                                                                                                              color: {{ section.settings.cta_color }};"
      href="{{ section.settings.cta_url }}"
      title="click to go to promotion"
      aria-label="click to go to promotion">
      <span>{{ section.settings.cta_text }}</span>
    </span>
  </section>
{% endif %}

{% comment %}Content will load in mobile{% endcomment %}
{% if section.settings.cta_link_mobile == 'none' %}
  <section
    id="{{ section.settings.section-id }}"
    data-id="{{ section.id }}"
    class="show-mobile promotion-banner__section{% if section.settings.hide %} promotion-banner__section--hidden{% endif %}">
    {%- if section.settings.mobile-title-above != blank -%}
      <h2 class="promotion-banner__title" {% if section.settings.font_size_title_above != " blank" %}style="font-size:{{ section.settings.font_size_title_above }}px"{% endif %}>{{- section.settings.mobile-title-above | escape -}}</h2>
    {%- endif -%}
    <div class="promotion-banner__content" {% if section.settings.font_size_main_text != " blank" %}style="font-size:{{ section.settings.font_size_main_text }}px"{% endif %}>
      {{- section.settings.mobile-main-text -}}
    </div>
    {% if section.settings.terms_text_mobile %}
      <a
        title="click to go to to terms and conditions"
        aria-label="click to go to terms and conditions"
        href="{{ section.settings.terms_url }}"
        target="_blank"
        class="promotion-banner__terms">{{ section.settings.terms_text_mobile }}</a>
    {% endif %}
  </section>
{% elsif section.settings.cta_link_mobile == 'wrap' %}
  <a class="show-mobile promotion-banner__link" href="{{ section.settings.cta_url_mobile }}">
    <section
      id="{{ section.settings.section-id }}"
      data-id="{{ section.id }}"
      class="show-mobile promotion-banner__section{% if section.settings.hide %} promotion-banner__section--hidden{% endif %}">
      {%- if section.settings.mobile-title-above != blank -%}
        <h2 class="promotion-banner__title {% if section.settings.font_size_title_above != " blank" %}style="font-size:{{ section.settings.font_size_title_above }}px"{% endif %}">{{- section.settings.mobile-title-above | escape -}}</h2>
      {%- endif -%}
      <div class="promotion-banner__content" {% if section.settings.font_size_main_text != " blank" %}style="font-size:{{ section.settings.font_size_main_text }}px"{% endif %}>
        {{- section.settings.mobile-main-text -}}
      </div>
      {% if section.settings.terms_text_mobile %}
        <a
          title="click to go to to terms and conditions"
          aria-label="click to go to terms and conditions"
          href="{{ section.settings.terms_url }}"
          target="_blank"
          class="promotion-banner__terms">{{ section.settings.terms_text_mobile }}</a>
      {% endif %}

    </section>
  </a>
{% elsif section.settings.cta_link_mobile == 'cta' %}
  <section
    id="{{ section.settings.section-id }}"
    data-id="{{ section.id }}"
    class="show-mobile promotion-banner__section{% if section.settings.hide %} promotion-banner__section--hidden{% endif %}">
    {%- if section.settings.mobile-title-above != blank -%}
      <h2 class="promotion-banner__title" {% if section.settings.font_size_title_above != " blank" %}style="font-size:{{ section.settings.font_size_title_above }}px"{% endif %}>{{- section.settings.mobile-title-above | escape -}}</h2>
    {%- endif -%}
    <div class="promotion-banner__content" {% if section.settings.font_size_main_text != " blank" %}style="font-size:{{ section.settings.font_size_main_text }}px"{% endif %}>
      {{- section.settings.mobile-main-text -}}
    </div>
    {% if section.settings.terms_text_mobile %}
      <a
        title="click to go to to terms and conditions"
        aria-label="click to go to terms and conditions"
        href="{{ section.settings.terms_url }}"
        target="_blank"
        class="promotion-banner__terms">{{ section.settings.terms_text_mobile }}</a>
    {% endif %}
    <span
      class="button button--secondary promotion-banner__cta"
      onclick="promotionCTAHandler('{{ section.settings.cta_url_mobile }}');"
      style="
                                                                                                                              background: {{ section.settings.cta_background_mobile }};
                                                                                                                              color: {{ section.settings.cta_color_mobile }};"
      href="{{ section.settings.cta_url_mobile }}"
      title="click to go to promotion"
      aria-label="click to go to promotion">
      <span>{{ section.settings.cta_text_mobile }}</span>
    </span>
  </section>
{% endif %}
<style>
  html {
    scroll-behavior: smooth;
  }
  .promotion-banner__section[data-id="{{ section.id }}"] {
    --background: {{ section.settings.background }}
    ;
    --color: {{ section.settings.text-color }}
    ;
    --bold-bg: {{ section.settings.bold-text-background }}
    ;
  }
</style>
<script>
  function promotionCTAHandler(ctaUrl) {
    console.log("clicked");

    if (currentUrl.indexOf('collection') > -1) {
      const element = document.querySelector('.shopify-section--product-grid');
      const headerOffset = 150;
      const elementPosition = element.getBoundingClientRect().top;
      const offsetPosition = elementPosition + window.pageYOffset - headerOffset;
      if (currentUrl.indexOf(ctaUrl) > -1) {
        window.scrollTo({top: offsetPosition, behavior: "smooth"});
      } else {
        window.location.href = ctaUrl;
      }
    } else {
      window.location.href = ctaUrl;
    }
  }
  {% if section.settings.cta_link == 'cta' or section.settings.cta_link_mobile == 'cta'%}
    let currentUrl = window.location.href;
    const ctaBtn = document.querySelectorAll('.promotion-banner__cta');
    [].map.call(ctaBtn, function(el) {
      el.addEventListener('click', function(e) {
        e.preventDefault();
        console.log("clicked");
        let ctaUrl = el.getAttribute('href');
        if (currentUrl.indexOf('collection') > -1) {
          const element = document.querySelector('.shopify-section--product-grid');
          const headerOffset = 150;
          const elementPosition = element.getBoundingClientRect().top;
          const offsetPosition = elementPosition + window.pageYOffset - headerOffset;
          if (currentUrl.indexOf(ctaUrl) > -1) {
            window.scrollTo({top: offsetPosition, behavior: "smooth"});
          } else {
            window.location.href = ctaUrl;
          }
        } else {
          window.location.href = ctaUrl;
        }
      });
    });{% endif %}
</script>
{% schema %}
  {
    "name": "Promotional Banner",
    "class": "shopify-section--promotion-banner",
    "settings": [
      {
        "type": "header",
        "content": "Common Settings"
      },
      {
        "type": "checkbox",
        "id": "preload",
        "label": "Preload section styles",
        "default": true,
        "info": "Enable when the section is visible on page load (above the fold) for better performance"
      },
      {
        "type": "color",
        "id": "background",
        "label": "Background color",
        "default": "#f7f177"
      },
      {
        "type": "color",
        "id": "text-color",
        "label": "Text color",
        "default": "#000"
      }, {
        "type": "color",
        "id": "bold-text-background",
        "label": "Bold text background",
        "default": "#fff"
      }, {
        "type": "header",
        "content": "Display rules",
        "info": "Collection and product rules will override hide by default checkbox rule, this will work as expected if hiding checkbox is checked"
      }, {
        "type": "checkbox",
        "id": "hide",
        "label": "Hide by default",
        "default": true,
        "info": "This will hide the banner site wide except for the display rules defined below"
      }, {
        "type": "product_list",
        "id": "product_list",
        "label": "Products",
        "info": "Ignore this setting if you are in collection template. This setting only applies if this section is in the product template."
      }, {
        "type": "collection_list",
        "id": "collection_list",
        "label": "Collections",
        "info": "Ignore this setting if you are in product template. This setting only applies if this section is in the collection template"
      }, {
        "type": "text",
        "id": "section-id",
        "label": "Section ID",
        "info": "Used to target this section with Google Optimize. Use a unique identifier, do not leave this blank."
      }, {
        "type": "header",
        "content": "Desktop Content"
      }, {
        "type": "text",
        "id": "title-above",
        "label": "Upper title"
      }, {
        "type": "richtext",
        "id": "main-text",
        "label": "Main text"
      }, {
        "type": "header",
        "content": "Mobile Content"
      }, {
        "type": "text",
        "id": "mobile-title-above",
        "label": "Upper title"
      }, {
        "type": "range",
        "label": "Font Size",
        "id": "font_size_title_above",
        "min": 1,
        "max": 25,
        "step": 1,
        "default": 16
      }, {
        "type": "richtext",
        "id": "mobile-main-text",
        "label": "Main text"
      }, {
        "type": "range",
        "label": "Font Size",
        "id": "font_size_main_text",
        "min": 1,
        "max": 25,
        "step": 1,
        "default": 16
      }, {
        "type": "header",
        "content": "Link and CTA settings"
      }, {
        "type": "select",
        "id": "cta_link",
        "label": "Banner link type",
        "options": [
          {
            "value": "wrap",
            "label": "Whole banner"
          }, {
            "value": "cta",
            "label": "Use CTA"
          }, {
            "value": "none",
            "label": "None"
          }
        ],
        "default": "none"
      }, {
        "type": "url",
        "id": "cta_url",
        "label": "Link url"
      }, {
        "type": "text",
        "id": "cta_text",
        "label": "CTA label",
        "default": "Click here"
      }, {
        "type": "color",
        "id": "cta_color",
        "label": "CTA text color",
        "default": "#000"
      }, {
        "type": "color",
        "id": "cta_background",
        "label": "CTA background",
        "default": "#fff"
      }, {
        "type": "header",
        "content": "Link and CTA settings for Mobile"
      }, {
        "type": "select",
        "id": "cta_link_mobile",
        "label": "Banner link type",
        "options": [
          {
            "value": "wrap",
            "label": "Whole banner"
          }, {
            "value": "cta",
            "label": "Use CTA"
          }, {
            "value": "none",
            "label": "None"
          }
        ],
        "default": "none"
      }, {
        "type": "url",
        "id": "cta_url_mobile",
        "label": "Link url"
      }, {
        "type": "text",
        "id": "cta_text_mobile",
        "label": "CTA label",
        "default": "Click here"
      }, {
        "type": "color",
        "id": "cta_color_mobile",
        "label": "CTA text color",
        "default": "#000"
      }, {
        "type": "color",
        "id": "cta_background_mobile",
        "label": "CTA background",
        "default": "#fff"
      }, {
        "type": "header",
        "content": "Terms and conditions"
      }, {
        "type": "text",
        "id": "terms_text",
        "label": "Terms text",
        "default": "Terms and conditions apply"
      }, {
        "type": "text",
        "id": "terms_text_mobile",
        "label": "Terms text for mobile",
        "default": "Terms and conditions apply"
      }, {
        "type": "url",
        "id": "terms_url",
        "label": "Terms url",
        "info": "Will open in a new tab by default"
      }
    ],
    "presets": [
      {
        "name": "Promotional Banner"
      }
    ]
  }
{% endschema %}