<div class="page page--customers">
    <div class="content-container narrow form">
    {% form 'create_customer', novalidate: 'novalidate' %}

        <div class="page-header page-header--account-auth{% if form.errors %} form-contains-errors{% endif %}">
            <div class="form__success-message">
                <h1 class="auth-title">{{ section.settings.after-reg-title }}</h1>

                <div>{{ section.settings.after-reg-text }}</div>

                {% if section.settings.after-reg-button != blank %}
                    <a class="button button--dark button--mt" href="{{ section.settings.after-reg-button-url }}">{{ section.settings.after-reg-button | escape }}</a>
                {% endif %}

                {% if section.settings.after-reg-after-button != blank %}
                    <div class="reg-after-button">{{ section.settings.after-reg-after-button }}</div>
                {% endif %}
            </div>

            <div class="form__hide-on-success">
                <h1 class="auth-title">Create an Account</h1>

                {% if form.errors %}
                    {{ form.errors | default_errors }}
                {% else %}
                    <div class="vit-cta">
                        <a href="/pages/rewards">Learn more</a> on how you can save through our VIT (Very Important Traveler) Rewards Program.
                    </div>
                    <div class="reg-cta">
                        Already have an account? <a href="/account/login">Sign in.</a>
                    </div>
                {% endif %}

                {% if section.settings.enable-banner %}
                <div class="registration__banner" style="--accent: {{ section.settings.accent-color }}">
                    {%- liquid

                        if section.settings.image != blank
                            if section.settings.image-mobile != blank
                                render 'image-n' with section.settings.image, no_wrapper: true, lazy: true, sizes: '80vw', img_class: 'small--hide'
                                render 'image-n' with section.settings.image-mobile, no_wrapper: true, lazy: true, sizes: '80vw', img_class: 'medium-up-hide'
                            else
                                render 'image-n' with section.settings.image, no_wrapper: true, lazy: true, sizes: '80vw'
                            endif
                        elsif section.settings.image-mobile != blank
                            render 'image-n' with section.settings.image-mobile, lazy: true
                        endif 
                    -%}
                    <div class="registration__banner-title">{{ section.settings.title | escape }}</div>
                    <div class="registration__banner-sub-header">{{ section.settings.sub-header }}</div>
                    <div class="registration__banner-text">{{ section.settings.banner-text }}</div>
                </div>
                {% endif %}

                {% if section.settings.registration-text.size > 6 and section.settings.registration-text != blank %}
                <div class="reg-text">{{ section.settings.registration-text }}</div>
                {% endif %}
            </div>
        </div>

        <div class="selection-wrapper form__hide-on-success">
            <div class="input-row">
                <label for="FirstName" class="hidden-label">{{ 'customer.register.first_name' | t }}</label>
                <input required="required" placeholder="{{ 'customer.register.first_name' | t }}" type="text" name="customer[first_name]" id="FirstName" class="input-full" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus autocomplete="given-name">
            </div>

            <div class="input-row">
                <label for="LastName" class="hidden-label">{{ 'customer.register.last_name' | t }}</label>
                <input required="required" placeholder="{{ 'customer.register.last_name' | t }}" type="text" name="customer[last_name]" id="LastName" class="input-full" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words" autocomplete="family-name">
            </div>

            <div class="input-row">
                <label for="Email" class="hidden-label">{{ 'customer.register.email' | t }}</label>
                <input
                    required="required"
                    placeholder="{{ 'customer.register.email' | t }}"
                    type="email"
                    name="customer[email]"
                    id="Email"
                    class="input-full{% if form.errors contains 'email' %} error{% endif %}"
                    {% if form.email %} value="{{ form.email }}"{% endif %}
                    autocorrect="off"
                    autocomplete="email"
                    spellcheck="false"
                    autocapitalize="off"
                    aria-required="true">
            </div>

            {% comment %} <div class="input-row">
                <label for="Email" class="hidden-label">Phone Number</label>
                <input required="required" placeholder="Phone Number" type="tel" name="customer[phone]" id="Phone" class="input-full{% if form.errors contains 'phone' %} error{% endif %}" {% if form.phone %} value="{{ form.phone }}"{% endif %} autocorrect="off" autocapitalize="off">
            </div> {% endcomment %}

            <div class="input-row">
                <label for="CreatePassword" class="hidden-label">{{ 'customer.register.password' | t }}</label>
                <input required="required" placeholder="{{ 'customer.register.password' | t }}" type="password" name="customer[password]" id="CreatePassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}">
            </div>
            
            <div class="input-row checkbox-wrapper">
                <input type="hidden" name="customer[accepts_marketing]" value="false">
                <input type="checkbox" name="customer[accepts_marketing]" value="true" id="reg-subscribe" checked="checked"><label for="reg-subscribe">I want to be first to find out about exclusive offers and the latest arrivals.</label>
            </div>

            <div class="submit">
                <input type="submit" value="{{ 'customer.register.submit' | t }}" class="button button--dark">
            </div>

            <input type="hidden" name="return_to" value="/account/register#new">

            <div class="disclaimer">By providing your email address you agree to our
                <a href="/pages/privacy-policy" target="_blank">privacy policy</a> and
                <a href="/pages/terms-conditions" target="_blank">terms &amp; conditions</a>.
            </div>
        </div>

    {% endform %}
    </div>
</div>

<script>
if(location.hash == '#ref=menu') document.querySelector('.page-header--account-auth').classList.add('page-header--register-vit');
if(location.hash == '#new' && !document.querySelector('.page-header--account-auth').classList.contains('form-contains-errors')) {
    document.querySelector('.page--customers').classList.add('form-success');
    document.querySelector('.registration-banner').style.display = 'none';
}
</script>

{% schema %}
    {
        "name": "Registration Form",
        "settings": [
            {
                "type": "richtext",
                "id": "registration-text",
                "label": "Text above the registration form"
            },
            {
                "type": "header",
                "content": "Banner"
            },
            {
                "type": "checkbox",
                "id": "enable-banner",
                "label": "Enable",
                "default": false
            },
            {
                "type": "text",
                "id": "title",
                "label": "Header"
            },
            {
                "type": "richtext",
                "id": "sub-header",
                "label": "Subheader"
            },
            {
                "type": "richtext",
                "id": "banner-text",
                "label": "Text"
            },
            {
                "type": "color",
                "id": "accent-color",
                "label": "Accent color",
                "default": "#F16539"
            },
            {
                "type": "color",
                "id": "background-color",
                "label": "Background color",
                "default": "#ffffff"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Background Image"
            },
            {
                "type": "image_picker",
                "id": "image-mobile",
                "label": "Background Image (mobile)"
            },
            {
                "type": "header",
                "content": "After Registration"
            },
            {
                "type": "text",
                "id": "after-reg-title",
                "label": "Title",
                "default": "Congratulations!"
            },
            {
                "type": "richtext",
                "id": "after-reg-text",
                "label": "Text",
                "default": "<p>Your Very Important Traveler account has been successfully created and you joined the rewards program.<\/p>"
            },
            {
                "type": "text",
                "id": "after-reg-button",
                "label": "Button text"
            },
            {
                "type": "url",
                "id": "after-reg-button-url",
                "label": "Button link"
            },
            {
                "type": "richtext",
                "id": "after-reg-after-button",
                "label": "Below button"
            }
        ]
    }
{% endschema %}