<link
  rel="stylesheet"
  href="{{ 'component-search-popup.css' | asset_url }}"
  media="print"
  onload="this.media='all'">
<noscript>{{ 'component-search-popup.css' | asset_url | stylesheet_tag }}</noscript>

<section class="menu-popup menu-popup--search" data-status="init" data-src="{{ 'search.js' | asset_url }}">
    <div class="search-popup__overlay"></div>
    <h2 id="search-results-modal" class="visually-hidden">Search results modal</h2>
    <div class="search-popup__content" aria-labelledby="search-results-modal" role="dialog" aria-modal="true" aria-label="Search results modal">
        <div class="search__top">
            <button aria-label="Close Search" class="menu-close menu-close--search" title="Close"></button>
            <form class="search-form" action="/" method="get">
                <button aria-label="Perform Search" class="search-button" type="submit"><img loading="lazy" src="{{ 'icon-search.svg' | asset_url }}"></button>
                <div class="search-input__container">
                    <label id="search-form-label" for="search-form" aria-hidden="false" class="visually-hidden">Search form</label>
                    <span id="search-by-sr" class="sr-only">Use the top bar to enter your search query, results will be placed in the next following sections where you can select product items or category links.</span>
                    <input id="search-form" class="search-input" required="required" type="text" name="s" aria-label="search form site wide" aria-describedby="search-by-sr" aria-autocomplete="list" aria-controls="menu-popup__content_search-section" aria-haspopup="listbox" aria-expanded="false" aria-describedby="search-input">

                    <div class="search-placeholders" data-num="0">
                        <div class="search-placeholders__inner"></div>
                    </div>
                </div>
            </form>
        </div>
        <div id="menu-popup__content_search-section" class="menu-popup__content search-section" data-id="init">
            <div class="menu-popup__main">
                {%- if section.settings.welcome-collection != blank -%}
                <div class="content-section">
                    {%- if section.settings.welcome-title != blank -%}
                    <h3 class="content-section__title">{{- section.settings.welcome-title | strip_html | escape -}}</h3>
                    {%- endif -%}

            <div class="products__grid products__grid--flex">
              {%- liquid
                            for product in section.settings.welcome-collection.products limit: 6
                                render 'product-unit' with product, wishlist: true, quick_view: section.settings.welcome-quick-view, sizes: '(min-width: 901px) 20vw, 50vw'
                            endfor
                        -%}
                    </div>
                </div>
                {%- endif -%}
            </div>
            <section class="menu-side">
                <div class="menu-popup__collections-buttons">
                    <section class="content-section">
                        <h3 class="content-section__title">Search by Category</h3>
                        <div class="search__collections-buttons">
                            <ul>
                                {%- for category in section.settings.search-by-category -%}
                                    <li>
                                    <button class="button button--secondary" data-handle="{{ category.handle }}" href="{{ category.url }}"><span>{{ category.title | strip_html | escape }}</span></button>
                                    </li>
                                {%- endfor -%}
                            </ul>
                            
                        </div>
                    </section>
                </div>
            </section>
        </div>
        <div class="menu-popup__content search-section" data-id="empty">
            <div class="search__empty-message">Your search for "<span class="search-term"></span>" didn't return any results. Please try again or browse below.</div>
            <div class="menu-popup__main">
                {%- if section.settings.empty-collection != blank -%}
                <div class="content-section">
                    {%- if section.settings.empty-title != blank -%}
                      <h3 class="content-section__title">{{- section.settings.empty-title | strip_html | escape -}}</h3>
                    {%- endif -%}
            <div class="products__grid products__grid--flex">
              {%- liquid
                for product in section.settings.empty-collection.products limit: 6
                  render 'product-unit' with product, wishlist: true, quick_view: section.settings.empty-quick-view, sizes: '(min-width: 901px) 20vw, 50vw'
                endfor
              -%}
                    </div>
                </div>
                {%- endif -%}
            </div>
            <section class="menu-side">
                <div class="menu-popup__collections-buttons">
                    <section class="content-section">
                        <h3 class="content-section__title">Search by Category</h3>
                        <div class="search__collections-buttons">
                            {%- for category in section.settings.search-by-category -%}
                                <button class="button button--secondary" data-handle="{{ category.handle }}" href="{{ category.url }}"><span>{{ category.title | strip_html | escape }}</span></button>
                            {%- endfor -%}
                        </div>
                    </section>
                </div>
            </section>
        </div>

    <nav class="menu-popup__mobile-nav" data-page="0">
      <ul>
        <li>
          <button data-target="0">Products
            <span class="search-num"></span>
          </button>
        </li>
        <li>
          <button data-target="1">Collections
            <span class="search-col-num"></span>
          </button>
        </li>
      </ul>
    </nav>

    <div class="menu-popup__content search-section" data-id="results">
      <div class="menu-popup__main">
        <div class="content-section" role="group" aria-labelledby="search-form-label">
          <h3 id="product-result-container" class="content-section__title">
            Products
            <span aria-live="assertive" class="search-num"></span>
          </h3>
          <div id="product-result-grid" class="products__grid" role="listbox" aria-labelledby="search-form-label search-product-sec"></div>
        </div>
      </div>
      <section class="menu-side">
        <section class="content-section content-section--collections">
          <h3 class="content-section__title">Collections
            <span class="search-col-num"></span>
          </h3>
          <div class="search__cards"></div>
        </section>

                <section class="content-section content-section--stories">
                    <h3 class="content-section__title">Stories ()</h3>
                    <div class="search__cards"></div>
                </section>
            </section>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Search",
    "class": "shopify-section--search",
    "settings": [
      {
        "type": "collection_list",
        "id": "search-by-category",
        "label": "Search by category"
      },
      {
        "type": "header",
        "content": "Welcome screen"
      },
      {
        "type": "text",
        "id": "welcome-title",
        "label": "Product list title"
      },
      {
        "type": "collection",
        "id": "welcome-collection",
        "label": "Products to show on welcome screen"
      }, {
        "type": "checkbox",
        "id": "welcome-quick-view",
        "label": "Enable quick view",
        "default": true
      }, {
        "type": "header",
        "content": "No results"
      }, {
        "type": "text",
        "id": "empty-title",
        "label": "Product list title"
      }, {
        "type": "collection",
        "id": "empty-collection",
        "label": "Products to show when nothing found"
      }, {
        "type": "checkbox",
        "id": "empty-quick-view",
        "label": "Enable quick view",
        "default": true
      }
    ]
  }
{% endschema %}