<style>
    .blog-text-product-feature__blocks {
        display: grid;
        grid-template-columns: repeat({{ section.blocks.size }}, minmax(0, 1fr));
    }
</style>

{{ 'section-blog-text-product-feature.css' | asset_url | stylesheet_tag }}

<div class="shopify-section--blog-text-product-feature">
    <div class="blog-text-product-feature">
        <div class="blog-text-product-feature__blocks">
            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'text' %}
                        <div class="blog-text-product-feature__mobile" style="background: {{ block.settings.background-color }}">
                            <h3 class="blog-image-text-feature__title">{{ block.settings.title }}</h3>
                        </div>
                        <div class="blog-text-product-feature__block blog-text-product-feature__block-text-container" style="grid-column: span {{ 4 | minus: section.blocks.size | plus: 1 }}">
                            <div class="blog-text-product-feature__block-text" style="background: {{ block.settings.background-color }}; border-radius: {% if forloop.index == section.blocks.size %}0 9px 9px 0{%elsif forloop.index == 1%}9px 0 0 9px{%endif%}">
                                <h3 class="blog-image-text-feature__title">{{ block.settings.title }}</h3>
                                {{ block.settings.text }}
                            </div>
                        </div>
                    {% when 'product' %}
                        <div class="blog-text-product-feature__block">
                            <div class="blog-text-product-feature__block-product">
                                {%- render 'product-unit' with block.settings.product, in_collection: collection, all_colors_quickadd: true, add_to_cart: block.settings.show-add-to-cart, wishlist: true, quick_view: true -%}
                            </div>
                        </div>
                {% endcase %}
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Blog Text Product Feature",
        "class": "shopify-section--blog-text-product-feature",
        "max_blocks": 4,
        "blocks": [
            {
                "type": "text",
                "name": "Text",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "Text"
                    },
                    {
                        "type": "color",
                        "id": "background-color",
                        "label": "Background Color",
                        "default": "#ffffff"
                    }
                ]
            },
            {
                "type": "product",
                "name": "Product",
                "settings": [
                    {
                        "type": "product",
                        "id": "product",
                        "label": "Product"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Blog Text Product Feature"
            }
        ]
    }
{% endschema %}