<style>
    .blog-image-text-feature {
        grid-template-columns: {% for block in section.blocks %}1fr {% endfor %};
        {% if section.settings.gap %}gap: var(--gap);{% endif %}
    }

    {% if section.settings.gap %}
        .blog-image-text-section__title,
        .blog-image-text-section__description {
            padding-right: var(--gap);
        }

        .blog-image-text-section img {
            border-radius: 9px!important;
        }
    {% endif %}

    @media (min-width: 900px) {
        .blog-image-text-section.mobile {
            display: none;
        }
        .blog-image-text-section.desktop {
            display: block;
        }
        .blog-image-text-section.both {
            display: block;
        }
    }

    @media (max-width: 900px) {
        .blog-image-text-section__title,
        .blog-image-text-section__description {
            padding: 0;
        }

        .blog-image-text-section.desktop {
            display: none;
        }
        .blog-image-text-section.mobile {
            display: block;
        }
        .blog-image-text-section.both {
            display: block;
        }
    }
</style>

{{ 'section-blog-image-text-feature.css' | asset_url | stylesheet_tag }}

{%- if section.settings.title != blank -%}
    <div class="blog-image-text-feature__title">{{- section.settings.title | escape -}}</div>
{%- endif -%}

<div class="blog-image-text-feature">
    {%- for block in section.blocks -%}
        <div class="blog-image-text-section {{ block.settings.display_on }}">
            {%- if block.settings.image != blank -%}
                <div class="blog-image-text-section__image">
                    {% render 'image' with block.settings.image, lazy: true, sizes: master %}
                </div>
            {%- endif -%}
    
            {%- if block.settings.title != blank -%}
                <div class="blog-image-text-section__title blog-image-text-feature__title">{{- block.settings.title | escape -}}</div>
            {%- endif -%}
    
            {%- if block.settings.description != blank -%}
                <div class="blog-image-text-section__description">
                    {{- block.settings.description -}}
                </div>
            {%- endif -%}
        </div>
    {%- endfor -%}
</div>

{% schema %}
    {
        "name": "Blog Image Text Feature",
        "class": "shopify-section--blog-image-text-feature",
        "max_blocks": 3,
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "checkbox",
                "id": "gap",
                "label": "Add gap between sections",
                "default": false
            }
        ],
        "blocks": [
            {
                "type": "link",
                "name": "Section",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "select",
                        "label": "Display on",
                        "id": "display_on",
                        "options": [
                          {
                            "value": "desktop",
                            "label": "Desktop"
                          },
                          {
                            "value": "mobile",
                            "label": "Mobile"
                          },
                          {
                            "value": "both",
                            "label": "Desktop and Mobile"
                          }
                        ],
                        "default": "both"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "richtext",
                        "id": "description",
                        "label": "Description"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Blog Image Text Feature"
            }
        ]
    }
{% endschema %}