{{ 'section-sign-up.css' | asset_url | stylesheet_tag: preload: true }}

<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '517635970459701');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=517635970459701&amp;ev=PageView&amp;noscript=1"/></noscript>
<!-- End Meta Pixel Code -->

{% if section.blocks.size > 0 %}
<section class="sign-up__section sign-up__section--mob-{{ section.settings.mobile-layout }} section-{{ section.id }}">
    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'video' %}
                <div class="sign-up__video sign-up__video--{{ block.settings.video-orientation }}{% if block.settings.keep-proportions %} sign-up__video--keep-proportions{% endif %}">
                    <div class="sign-up__video-container sign-up__video-container--{{ block.settings.align }}">
                        {% if block.settings.video-file != blank %}
                            <video
                                width="100%"
                                height="100%"
                                {% if block.settings.autoplay %}autoplay muted{% endif %}
                                {% unless block.settings.hide-controls %}controls{% endunless %}
                                loop
                                playsinline>
                                <source src="{{ block.settings.video-file }}" type="video/mp4" />
                            </video>
                        {% elsif block.settings.video != blank %}
                            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" src="https://player.vimeo.com/video/{{ block.settings.video.id }}?byline=0&amp;controls={% if block.settings.hide-controls %}0{% else %}1{% endif %}&amp;playsinline=1&amp;title=0&amp;sidedock=0{% if block.settings.autoplay %}&amp;autoplay=1&amp;muted=1{% else %}&amp;autoplay=0{% endif %}&amp;loop=1&amp;api=1" frameborder="0"></iframe>
                        {% endif %}
                    </div>

                    {% if block.settings.title != blank or block.settings.text != blank %}
                        <div class="sign-up__message" style="color: {{ block.settings.text-color }}">
                            {% if block.settings.title != blank %}
                            <div class="sign-up__message-title">{{ block.settings.title | escape }}</div>
                            {% endif %}
                            {% if block.settings.text != blank %}
                            <div class="sign-up__message-text">{{ block.settings.text }}</div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% when 'image' %}
                <div class="sign-up__image sign-up__image--{{ block.settings.align }}{% if block.settings.keep-proportions %} sign-up__image--keep-proportions{% endif %}">
                    {% render 'image' with block.settings.image, sizes: '(min-width: 901px) 50vw, 100vw' %}

                    {% if block.settings.title != blank or block.settings.text != blank %}
                        <div class="sign-up__message" style="color: {{ block.settings.text-color }}">
                            {% if block.settings.title != blank %}
                            <div class="sign-up__message-title">{{ block.settings.title | escape }}</div>
                            {% endif %}
                            {% if block.settings.text != blank %}
                            <div class="sign-up__message-text">{{ block.settings.text }}</div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% when 'form' %}
                <div class="sign-up__form" style="display:flex; flex-direction:column; justify-content:{{block.settings.vertical_alignment}};">
                    {% if block.settings.form_type == 'klaviyo' %}
                        <div class="klaviyo-form-{{ block.settings.klaviyo_id }}"></div>
                    {% else %}
                        <iframe src="{{ block.settings.iframe-url }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    {% endif %}  

                    <style>
                        {% if block.settings.height != blank %}
                        .section-{{ section.id }} .sign-up__form {
                            min-height: {{ block.settings.height | plus: 0 }}px;
                        }
                        {% endif %}

                        {% if block.settings.height-mobile != blank %}
                        @media (max-width: 900px) {
                            .section-{{ section.id }} .sign-up__form {
                                min-height: {{ block.settings.height-mobile | plus: 0 }}px;
                            }
                        }
                        {% endif %}
                    </style>
                </div>
        {% endcase %}
    {% endfor %}
</section>
{% if section.settings.background != blank %}
<style>
    .section-{{ section.id }} {
        background: {{ section.settings.background }};
    }
</style>
{% endif %}
{% endif %}

{% schema %}
    {
        "name": "Sign up form",
        "class": "section__sign-up-form",
        "settings": [
            {
                "type": "color",
                "id": "background",
                "label": "Background color"
            },
            {
                "type": "select",
                "id": "mobile-layout",
                "label": "Mobile layout",
                "options": [
                    {
                        "value": "stack",
                        "label": "Stack"
                    },
                    {
                        "value": "stack-reverse",
                        "label": "Stack in reverse order"
                    }
                ],
                "default": "stack"
            }
        ],
        "max_blocks": 2,
        "blocks": [
            {
                "type": "video",
                "name": "Video",
                "settings": [
                    {
                        "type": "checkbox",
                        "id": "autoplay",
                        "label": "Autoplay",
                        "default": false
                    },
                    {
                        "type": "checkbox",
                        "id": "hide-controls",
                        "label": "Hide controls",
                        "default": false
                    },
                    {
                        "type": "video_url",
                        "id": "video",
                        "label": "Video URL",
                        "accept": ["vimeo"]
                    },
                    {
                        "type": "url",
                        "id": "video-file",
                        "label": "or uploaded video URL"
                    },
                    {
                        "type": "select",
                        "id": "video-orientation",
                        "label": "Video orientation",
                        "options": [
                            {
                                "value": "landscape",
                                "label": "Landscape"
                            },
                            {
                                "value": "square",
                                "label": "Square"
                            }
                        ],
                        "default": "landscape"
                    },
                    {
                        "type": "checkbox",
                        "id": "keep-proportions",
                        "label": "Keep video proportions",
                        "default": false
                    },
                    {
                        "type": "select",
                        "id": "align",
                        "label": "Alignment when cropped",
                        "options": [
                            {
                                "value": "left",
                                "label": "Left"
                            },
                            {
                                "value": "center",
                                "label": "Center"
                            },
                            {
                                "value": "right",
                                "label": "Right"
                            }
                        ],
                        "default": "center"
                    },
                    {
                        "type": "header",
                        "content": "Message"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "Text"
                    },
                    {
                        "type": "color",
                        "id": "text-color",
                        "label": "Text color",
                        "default": "#fff"
                    }
                ]
            },
            {
                "type": "image",
                "name": "Image",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "checkbox",
                        "id": "keep-proportions",
                        "label": "Keep proportions",
                        "default": false
                    },
                    {
                        "type": "select",
                        "id": "align",
                        "label": "Alignment when cropped",
                        "options": [
                            {
                                "value": "left",
                                "label": "Left"
                            },
                            {
                                "value": "center",
                                "label": "Center"
                            },
                            {
                                "value": "right",
                                "label": "Right"
                            }
                        ],
                        "default": "center"
                    },
                    {
                        "type": "header",
                        "content": "Message"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "Text"
                    },
                    {
                        "type": "color",
                        "id": "text-color",
                        "label": "Text color",
                        "default": "#fff"
                    }
                ]
            },
            {
                "type": "form",
                "name": "Form",
                "settings": [
                    {
                    "type": "select",
                    "id": "form_type",
                    "label": "Choose the form type",
                    "options": [
                        {
                        "value": "klaviyo",
                        "label": "Klaviyo"
                        },
                        {
                        "value": "iframe",
                        "label": "Iframe"
                        }
                    ],
                    "default": "iframe",
                    "info": "This will define which form to display, add the form data below."
                    },
                    {
                        "type": "text",
                        "id": "iframe-url",
                        "label": "Iframe URL"
                    },
                    {
                        "type": "text",
                        "id": "klaviyo_id",
                        "label": "Klaviyo Form ID",
                        "info": "Insert here your Klaviyo ID. Sample: VffeY9"
                    },
                    {
                    "type": "select",
                    "id": "vertical_alignment",
                    "label": "Vertical alignment",
                    "options": [
                        {
                        "value": "flex-start",
                        "label": "Top"
                        },
                        {
                        "value": "center",
                        "label": "Center"
                        },
                        {
                        "value": "flex-end",
                        "label": "Bottom"
                        }
                    ],
                    "default": "center"
                    },
                    {
                        "type": "text",
                        "id": "height",
                        "label": "Height in pixels"
                    },
                    {
                        "type": "text",
                        "id": "height-mobile",
                        "label": "Height in pixels for mobile"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Sign up form"
            }
        ]
    }
{% endschema %}