{% layout none %}
{%- liquid
    assign current_variant = product.selected_or_first_available_variant

    assign featured_collection = false
    if product.metafields.custom.featured_collection != blank
        assign featured_collection = collections[product.metafields.custom.featured_collection]
    endif

    assign current_product_group_type = false
    assign product_type = product.type | downcase

    if featured_collection != false and product_type contains 'luggage'
        assign types = 'Mini Carry-On,Carry-On,Carry-On Luggage with Hardshell Pocket,Carry-On Luggage with Pocket,Medium Luggage,Large,Trunk,2-Piece Set,3-Piece Set,2-Piece Luggage Set,3-Piece Luggage Set' | split: ','

        for type in types
            if product.title contains type
                assign current_product_group_type = type
                break
            endif
        endfor
    endif
-%}
{%- capture html -%}
    <div data-video-order="" class="qv__gallery{% if current_variant.metafields.custom.featured_images == blank %} pdp__gallery--old{% endif %} slider__wrapper slider__wrapper--buttons-side">
        {% render 'product-floating-labels', current_variant: current_variant, location: 'pdp' %}

        <button class="slider__control button-tri-left slider__control--prev" title="Previous"></button>
        <button class="slider__control button-tri-right slider__control--next" title="Next"></button>
        <div data-nav="qv__gallery-thumbs-inner" class="qv__gallery-inner slider slider--mobile-scrollbar">
            {%- render 'pdp-media-list', current_variant: current_variant, item_class: 'slide' -%}
        </div>
    </div>
    <div class="qv__gallery-thumbs slider__wrapper">
        <div class="qv__gallery-thumbs-inner slider slider-nav">
            {%- render 'pdp-media-list', current_variant: current_variant, item_class: 'slide', thumbnails: true -%}
        </div>
    </div>

    {% form 'product', product, class: "qv__product shopify-product-form" %}
        <script type="text/json" class="qv-meta-json">
            {
                "preorder": {{ product.metafields.custom.preorder | json }},
                "variants": {
                    {%- for variant in product.variants -%}
                    {%- unless forloop.first -%},{%- endunless -%}
                    "{{ variant.id }}": {
                        "preorder": {{ variant.metafields.custom.preorder | json }}
                    }
                    {%- endfor -%}
                }
            }
        </script>
        <section class="pdp__header">
            <h1 class="pdp__title"><a href="{{- product.url -}}">{{ product.title | replace: ' - Final', '' | replace: ' - FW', '' | escape }}</a></h1>

            {% render 'pdp-meta', current_variant: current_variant %}
        </section>

        {% render 'pdp-variants', featured_collection: featured_collection, current_product_group_type: current_product_group_type, current_variant: current_variant %}

        <section class="pdp__form-labels">
            {% render 'product-form-labels', location: 'pdp', current_variant: current_variant %}
        </section>

        {% render 'pdp-submit', current_variant: current_variant, quick_view: true %}

        <div class="qv__full-details hide-large"><a class="qv__full-details-link" href="{{- product.url -}}">View Full Details</a></div>
        
        <div class="qv__product-feats">
            {%- if product.metafields.custom.features_icons != blank or product.metafields.custom.features_titles != blank -%}
            <div class="qv-feats__title">Key Features</div>
            <div class="qv-feats__list">
                {%- if product.metafields.custom.features_titles != blank and product.metafields.custom.features_icons != blank -%}
                    {%- for title in product.metafields.custom.features_titles.value -%}
                        <div class="qv-feats__item qv-feats__item--hypbrid">
                            {%- liquid
                                assign index = forloop.index
                                for icn in product.metafields.custom.features_icons.value
                                    if forloop.index == index
                                        render 'image' with icn, no_wrapper: true, sizes: '40px'
                                        break
                                    endif
                                endfor
                            -%}
                            {{- title | escape -}}
                        </div>
                    {%- endfor -%}
                {%- elsif product.metafields.custom.features_titles != blank -%}
                    {%- for title in product.metafields.custom.features_titles.value -%}
                        <div class="qv-feats__item">
                            {{- title | escape -}}
                        </div>
                    {%- endfor -%}
                {%- else -%}
                    {%- for icon in product.metafields.custom.features_icons.value -%}
                        <div class="qv-feats__item qv-feats__item--icon">
                            {%- render 'image' with icon, no_wrapper: true, sizes: '80px' -%}
                        </div>
                    {%- endfor -%}
                {%- endif -%}
            </div>
            {%- endif -%}
        </div>
    {% endform %}

{%- endcapture -%}
{
    "layout": {{ html | strip | json }},
    "product": {{ product | json }}
}