{% layout none %}
{%- liquid
    assign request_arg = request.path | split: "/"
    assign option1_arg = false
    assign option2_arg = false
    assign early_access = false
    
    if request_arg.size == 4
        assign request_args = request_arg[3] | split: ','
        if request_arg[3] == 'early-access'
            if product.metafields.custom.early_access
                assign early_access = true
            endif
        elsif request_arg[3] contains 'early-access-'
            if product.metafields.custom.early_access
                assign option1_arg = request_arg[3] | replace: 'early-access-', ''
                assign early_access = option1_arg
            endif
        else
            assign option1_arg = request_args[0]
            if request_args.size > 1
                assign option2_arg = request_args[1]
            endif
        endif
    endif

    assign current_variant = product.selected_or_first_available_variant

    if option1_arg == false and early_access
        for tag in product.tags
            if tag contains 'ea-group1:'
                assign tg = tag | split: ':'
                if tg.size > 2
                    assign option1_arg = tg | last | split: ";" | first | handleize
                    break
                endif
            elsif tag contains 'ea-group2:'
                assign tg = tag | split: ':'
                if tg.size > 2
                    assign option1_arg = tg | last | split: ";" | first | handleize
                    break
                endif
            endif
        endfor
    endif

    if option1_arg != false
        for variant in product.variants
            assign var_option1 = variant.option1 | handleize
            if option2_arg != false
                assign var_option2 = variant.option2 | handleize
                if option1_arg == var_option1 and option2_arg == var_option2
                    assign current_variant = variant
                    break
                endif
            elsif option1_arg == var_option1
                if variant.metafields.custom.early_access == true or early_access == false
                    assign current_variant = variant
                    break
                endif
            endif
        endfor
    endif

    assign featured_collection = false
    if product.metafields.custom.featured_collection != blank
        assign featured_collection = collections[product.metafields.custom.featured_collection]
    endif

    assign current_product_group_type = false
    assign has_more_product_types = false
    assign product_type = product.type | downcase

    if featured_collection != false and product_type contains 'luggage'
        assign types = 'Mini Carry-On,Front Pocket Carry-On,Carry-On,Medium Luggage,Large Luggage,Trunk Luggage,2-Piece Set,3-Piece Set,2-Piece Luggage Set,3-Piece Luggage Set' | split: ','

        for type in types
            if product.title contains type
                assign current_product_group_type = type
                break
            endif
        endfor

        if current_product_group_type != false
            for featured_product in featured_collection.products
                if featured_product.id != product.id
                    for type in types
                        if featured_product.title contains type
                            assign has_more_product_types = true
                            break
                        endif
                    endfor

                    if has_more_product_types == true
                        break
                    endif
                endif
            endfor
        endif
    endif
-%}
{%- capture html -%}
    <div data-video-order="{{ product.metafields.custom.product_video_position }}" class="qv__gallery{% if current_variant.metafields.custom.featured_images == blank %} pdp__gallery--old{% endif %} slider__wrapper slider__wrapper--buttons-side">
        {% render 'product-floating-labels', current_variant: current_variant, location: 'pdp' %}


        <button class="slider__control button-tri-left slider__control--prev" title="Previous" aria-label="Previous"></button>
        <button class="slider__control button-tri-right slider__control--next" title="Next" aria-label="Next"></button>
        <div data-nav=".qv__gallery-thumbs-inner" class="qv__gallery-inner slider slider--mobile-scrollbar">

            {%- render 'pdp-media-list', current_variant: current_variant, item_class: 'slide' -%}
        </div>
    </div>
    <div class="qv__gallery-thumbs slider__wrapper" data-slide="3" data-gap="18">
        <button aria-label="Show previous slide" class="slider__control button-tri-left slider__control--prev" title="Previous"></button>
        <button aria-label="Show next slide" class="slider__control button-tri-right slider__control--next" title="Next"></button>
        <div data-nav-for=".qv__gallery-inner" class="qv__gallery-thumbs-inner slider qv__slider-nav">
            {%- render 'pdp-media-list', current_variant: current_variant, item_class: 'slide', thumbnails: true -%}
        </div>
    </div>

    {% form 'product', product, class: "qv__product shopify-product-form", data-handle: product.handle, data-id: product.id %}
        <script type="text/json" class="qv-meta-json">{% render 'product-meta-json' with product %}</script>

        {% render 'flash-sale-label', current_variant: current_variant %}

        <section class="pdp__header">
            <h1 class="pdp__title"><a class="product-link" href="{{- product.url -}}">{{ product.title | replace: ' - Final', '' | replace: ' - FW', '' | escape }}</a></h1>

            {% render 'pdp-meta', current_variant: current_variant %}
        </section>

        {% render 'pdp-variants', featured_collection: featured_collection, has_more_product_types: has_more_product_types, current_product_group_type: current_product_group_type, current_variant: current_variant, early_access: early_access %}

        <section class="pdp__form-labels">
            {% render 'product-form-labels', location: 'pdp', current_variant: current_variant %}
        </section>

        {% render 'pdp-submit', current_variant: current_variant, quick_view: true %}

        <div class="qv__full-details hide-large"><a class="qv__full-details-link product-link" href="{{- product.url -}}">View Full Details</a></div>
        
        <div class="qv__product-feats">
            {%- if product.metafields.custom.features_icons != blank or product.metafields.custom.features_titles != blank -%}
            <div class="qv-feats__title">Key Features</div>
            <div class="qv-feats__list">
                {%- if product.metafields.custom.features_titles != blank and product.metafields.custom.features_icons != blank -%}
                    {%- for title in product.metafields.custom.features_titles.value -%}
                        <div class="qv-feats__item qv-feats__item--hypbrid">
                            {%- liquid
                                assign index = forloop.index
                                for icn in product.metafields.custom.features_icons.value
                                    if forloop.index == index
                                        render 'image' with icn, no_wrapper: true, sizes: '40px'
                                        break
                                    endif
                                endfor
                            -%}
                            {{- title | escape -}}
                        </div>
                    {%- endfor -%}
                {%- elsif product.metafields.custom.features_titles != blank -%}
                    {%- for title in product.metafields.custom.features_titles.value -%}
                        <div class="qv-feats__item">
                            {{- title | escape -}}
                        </div>
                    {%- endfor -%}
                {%- else -%}
                    {%- for icon in product.metafields.custom.features_icons.value -%}
                        <div class="qv-feats__item qv-feats__item--icon">
                            {%- render 'image' with icon, no_wrapper: true, sizes: '80px' -%}
                        </div>
                    {%- endfor -%}
                {%- endif -%}
            </div>
            {%- endif -%}
        </div>
    {% endform %}

{%- endcapture -%}
{
    "layout": {{ html | strip | json }},
    "product": {{ product | json }}
}